USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [dbo].[ADD_MISSING_ACCOUNT_COBORROWER]    Script Date: 5/19/2026 5:56:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ADD_MISSING_ACCOUNT_COBORROWER]
AS 
BEGIN 
SET NOCOUNT ON

Declare @Time Int =(SELECT TIMEKEY FROM Automate_Advances WHERE EXT_FLG='Y')

DROP TABLE IF EXISTS #leftaccounts
;with CTE_A
AS(
SELECT A.UCIF_ID,A.CustomerAcID,RefCustomerID
FROM ##AccountCal A 
WHERE 
EXISTS (SELECT 1 FROM DBO.CoBorrowerData B WHERE A.UCIF_ID=B.UCIC AND TIMEKEY=@Time)
GROUP BY A.UCIF_ID,A.CustomerAcID,RefCustomerID
)
SELECT A.UCIF_ID,A.CustomerAcID ,RefCustomerID
INTO #leftaccounts
FROM CTE_A A 
EXCEPT
SELECT UCIC,CustomerAcID,CustomerID
from DBO.CoBorrowerData where TIMEKEY=@Time


ALTER TABLE #leftaccounts ADD COHORT_NO INT,TIMEKEY INT



UPDATE A
SET 
A.COHORT_NO=B.COHORT_NO,
A.TIMEKEY=B.TIMEKEY
FROM
#leftaccounts A 
INNER JOIN 
DBO.CoBorrowerData B
ON A.UCIF_ID=B.UCIC
WHERE A.Cohort_No IS NULL
and  b.TIMEKEY=@Time


INSERT INTO PRO.CoBorrowerCal
(
[CustomerACID],
[UCIC], 
[CustomerID],
[CustomerType],
[Cohort_No],
[TimeKey]
)
SELECT 
CustomerACID,
UCIF_ID, 
RefCustomerID,
'Link' [CustomerType],
COHORT_NO,
TimeKey
FROM 
#leftaccounts



END
GO
