USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[DPD_Calculation]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO






/*=========================================
 AUTHER :TRILOKI KHANNA
 CREATE DATE : 27-11-2019
 MODIFY DATE : 27-11-2019
 DESCRIPTION : CALCULATION OF DPD
 --exec  [Pro].[DPD_Calculation]  @timekey=25140
=============================================*/
CREATE PROC  [PRO].[DPD_Calculation] 
@TIMEKEY INT
with recompile
AS
BEGIN
  SET NOCOUNT ON
     BEGIN TRY

DECLARE @ProcessDate DATE =(SELECT Date FROM SysDayMatrix where TimeKey=@TIMEKEY)

UPDATE ##AccountCal SET IntNotServicedDt  = NULL   WHERE (IntNotServicedDt='1900-01-01' OR IntNotServicedDt='01/01/1900') 
UPDATE ##AccountCal SET LastCrDate        = NULL   WHERE (LastCrDate='1900-01-01' OR LastCrDate='01/01/1900') 
UPDATE ##AccountCal SET ContiExcessDt     = NULL   WHERE (ContiExcessDt='1900-01-01' OR ContiExcessDt='01/01/1900') 
UPDATE ##AccountCal SET OverDueSinceDt    = NULL   WHERE (OverDueSinceDt='1900-01-01' OR OverDueSinceDt='01/01/1900') 
UPDATE ##AccountCal SET ReviewDueDt       = NULL   WHERE (ReviewDueDt='1900-01-01' OR ReviewDueDt='01/01/1900') 
UPDATE ##AccountCal SET StockStDt         = NULL   WHERE (StockStDt='1900-01-01' OR StockStDt='01/01/1900') 


/*------------------INITIAL ALL DPD 0 FOR RE-PROCESSING------------------------------- */

UPDATE A SET A.DPD_IntService=0,A.DPD_NoCredit=0,A.DPD_Overdrawn=0,A.DPD_Overdue=0,A.DPD_Renewal=0,
             A.DPD_StockStmt=0,DPD_PrincOverdue=0,DPD_IntOverdueSince=0,DPD_OtherOverdueSince=0
FROM ##AccountCal A


/*---------- CALCULATED ALL DPD---------------------------------------------------------*/
if @TIMEKEY >26267  ----IMPLEMENTED FROM 2021-12-01 
	BEGIN
		UPDATE A SET  A.DPD_IntService =CASE WHEN @TIMEKEY >26384  --28032022 amar - implemmented 90 days summation ccod credit and intt logic
												THEN	
													(CASE WHEN  A.IntNotServicedDt IS NOT NULL THEN DATEDIFF(DAY,A.IntNotServicedDt,@ProcessDate)+2  ELSE 0 END)
												ELSE
													(CASE WHEN  A.IntNotServicedDt IS NOT NULL THEN DATEDIFF(DAY,A.IntNotServicedDt,@ProcessDate)+1  ELSE 0 END)
											END
		
	---             ,A.DPD_NoCredit =  (CASE WHEN  A.LastCrDate IS NOT NULL      THEN DATEDIFF(DAY,A.LastCrDate,  @ProcessDate)       ELSE 0 END)
					 --,A.DPD_NoCredit = CASE WHEN (DebitSinceDt IS NULL OR DATEDIFF(DAY,DebitSinceDt,@ProcessDate)>90)
					 ,A.DPD_NoCredit = CASE WHEN (DebitSinceDt IS NULL OR DATEDIFF(DAY,DebitSinceDt,@ProcessDate)>=90) 
					 -------ABOVE CHANGES DONE BY PRASHANT ON 30032026 AS DISCUSSED WITH ANIRUDDH SIR---
													THEN (CASE WHEN  A.LastCrDate IS NOT NULL THEN DATEDIFF(DAY,A.LastCrDate,  @ProcessDate)+1 ELSE 0 END)
											ELSE 0 END
					 ,A.DPD_Overdrawn= (CASE WHEN   A.ContiExcessDt IS NOT NULL    THEN DATEDIFF(DAY,A.ContiExcessDt,  @ProcessDate) + 1    ELSE 0 END) 

					 ,A.DPD_Overdue =  CASE WHEN @TIMEKEY >26372	
													------ AMAR - CHANGES ON 17032021 AS PER EMAIL BY ASHISH SIR DATED - 17-03-2021 1:59 PM - SUBJECT - Credit Card NPA Computation  -- 
												THEN (CASE WHEN  A.OverDueSinceDt IS NOT NULL   THEN  DATEDIFF(DAY,A.OverDueSinceDt,  @ProcessDate)+1 ELSE 0 END) 
											ELSE 
													 (CASE WHEN  A.OverDueSinceDt IS NOT NULL   THEN  DATEDIFF(DAY,A.OverDueSinceDt,  @ProcessDate)+(CASE WHEN SourceAlt_Key=6 THEN 0 ELSE 1 END )  ELSE 0 END) 
											END
					 ,A.DPD_Renewal =  (CASE WHEN  A.ReviewDueDt IS NOT NULL      THEN DATEDIFF(DAY,A.ReviewDueDt, @ProcessDate)  +1    ELSE 0 END)
					 ,A.DPD_StockStmt= (CASE WHEN  A.StockStDt IS NOT NULL         THEN   DATEDIFF(DAY,A.StockStDt,@ProcessDate) +1     ELSE 0 END)
		FROM ##AccountCal A 
	END
ELSE
	BEGIN
		UPDATE A SET  A.DPD_IntService = (CASE WHEN  A.IntNotServicedDt IS NOT NULL THEN DATEDIFF(DAY,A.IntNotServicedDt,@ProcessDate)  ELSE 0 END)			   
					---             ,A.DPD_NoCredit =  (CASE WHEN  A.LastCrDate IS NOT NULL      THEN DATEDIFF(DAY,A.LastCrDate,  @ProcessDate)       ELSE 0 END)
					 ,A.DPD_NoCredit = CASE WHEN (DebitSinceDt IS NULL OR DATEDIFF(DAY,DebitSinceDt,@ProcessDate)>90)
													THEN (CASE WHEN  A.LastCrDate IS NOT NULL THEN DATEDIFF(DAY,A.LastCrDate,  @ProcessDate)  ELSE 0 END)
											ELSE 0 END
					 ,A.DPD_Overdrawn= (CASE WHEN   A.ContiExcessDt IS NOT NULL    THEN DATEDIFF(DAY,A.ContiExcessDt,  @ProcessDate) + 1    ELSE 0 END) 
					 ,A.DPD_Overdue =   (CASE WHEN  A.OverDueSinceDt IS NOT NULL   THEN  DATEDIFF(DAY,A.OverDueSinceDt,  @ProcessDate)  ELSE 0 END) 
					 ,A.DPD_Renewal =   (CASE WHEN  A.ReviewDueDt IS NOT NULL      THEN DATEDIFF(DAY,A.ReviewDueDt, @ProcessDate)      ELSE 0 END)
					 ,A.DPD_StockStmt= (CASE WHEN  A.StockStDt IS NOT NULL         THEN   DATEDIFF(DAY,A.StockStDt,@ProcessDate)     ELSE 0 END)
		FROM ##AccountCal A 
	end

/* AMAR --DEBIT SINCE DATE DPD CALCULATION AND UPDATE IN DPD_Overdrawn AS DISCUSSED WITH SHARMA SIR AND  TRILOKI SIR ON 31082021 */

/*   amar --commented as per call by Ashish Sir on 02092021

UPDATE A SET A.DPD_Overdrawn= (CASE WHEN   A.DebitSinceDt IS NOT NULL    THEN DATEDIFF(DAY,A.DebitSinceDt,  @ProcessDate) + 1    ELSE 0 END) 
FROM PRO.AccountCal A
	INNER JOIN DimProduct B
		ON (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
		AND A.ProductAlt_Key=B.ProductAlt_Key
	WHERE B.SchemeType='ODA'
		AND ISNULL(A.CurrentLimit,0)=0 and ContiExcessDt IS 
		*/
--------
if @TIMEKEY >26267
begin

UPDATE A SET  A.DPD_PrincOverdue = (CASE WHEN  A.PrincOverdueSinceDt IS NOT NULL THEN DATEDIFF(DAY,A.PrincOverdueSinceDt,@ProcessDate)+1  ELSE 0 END)			   
             ,A.DPD_IntOverdueSince =  (CASE WHEN  A.IntOverdueSinceDt IS NOT NULL      THEN DATEDIFF(DAY,A.IntOverdueSinceDt,  @ProcessDate)+1       ELSE 0 END)
			 ,A.DPD_OtherOverdueSince =   (CASE WHEN  A.OtherOverdueSinceDt IS NOT NULL   THEN  DATEDIFF(DAY,A.OtherOverdueSinceDt,  @ProcessDate)+1  ELSE 0 END) 
FROM ##AccountCal A 

end
else
begin

UPDATE A SET  A.DPD_PrincOverdue = (CASE WHEN  A.PrincOverdueSinceDt IS NOT NULL THEN DATEDIFF(DAY,A.PrincOverdueSinceDt,@ProcessDate)  ELSE 0 END)			   
             ,A.DPD_IntOverdueSince =  (CASE WHEN  A.IntOverdueSinceDt IS NOT NULL      THEN DATEDIFF(DAY,A.IntOverdueSinceDt,  @ProcessDate)       ELSE 0 END)
			 ,A.DPD_OtherOverdueSince =   (CASE WHEN  A.OtherOverdueSinceDt IS NOT NULL   THEN  DATEDIFF(DAY,A.OtherOverdueSinceDt,  @ProcessDate)  ELSE 0 END) 
FROM ##AccountCal A 

end

/*--------------IF ANY DPD IS NEGATIVE THEN ZERO---------------------------------*/

 UPDATE  ##AccountCal SET DPD_IntService=0 WHERE isnull(DPD_IntService,0)<0
 UPDATE  ##AccountCal SET DPD_NoCredit=0 WHERE isnull(DPD_NoCredit,0)<0
 UPDATE  ##AccountCal SET DPD_Overdrawn=0 WHERE isnull(DPD_Overdrawn,0)<0
 UPDATE  ##AccountCal SET DPD_Overdue=0 WHERE isnull(DPD_Overdue,0)<0
 UPDATE  ##AccountCal SET DPD_Renewal=0 WHERE isnull(DPD_Renewal,0)<0
 UPDATE  ##AccountCal SET DPD_StockStmt=0 WHERE isnull(DPD_StockStmt,0)<0
 UPDATE  ##AccountCal SET DPD_PrincOverdue=0 WHERE isnull(DPD_PrincOverdue,0)<0
 UPDATE  ##AccountCal SET DPD_IntOverdueSince=0 WHERE isnull(DPD_IntOverdueSince,0)<0
 UPDATE  ##AccountCal SET DPD_OtherOverdueSince=0 WHERE isnull(DPD_OtherOverdueSince,0)<0

/*------------DPD IS ZERO FOR ALL CC ACCOUNT DUE TO LASTCRDATE ------------------------------------*/

--UPDATE A SET DPD_NoCredit=0
--FROM PRO.AccountCal A INNER JOIN PRO.CustomerCal B ON A.RefCustomerID =B.RefCustomerID
--WHERE isnull(B.FlgProcessing,'N')='N' 




/* RESTR WORK */

;WITH CTE_FIN_DPD
AS(
		SELECT AccountEntityID,DPD_IntService DPD FROM ##AccountCal	WHERE ISNULL(DPD_IntService,0)>0
		UNION ALL SELECT AccountEntityID,DPD_NoCredit   DPD FROM ##AccountCal	WHERE ISNULL(DPD_NoCredit,0)>0
		UNION ALL SELECT AccountEntityID,DPD_Overdrawn  DPD FROM ##AccountCal	WHERE ISNULL(DPD_Overdrawn,0)>0
		UNION ALL SELECT AccountEntityID,DPD_Overdue	  DPD FROM ##AccountCal	WHERE ISNULL(DPD_Overdue,0)>0
)

UPDATE B
	SET B.DPD_MaxFin=A.DPD_MaxFin
FROM  (SELECT AccountEntityID, MAX(DPD) DPD_MaxFin FROM CTE_FIN_DPD 
		GROUP BY AccountEntityID
		)a 
	INNER JOIN PRO.AdvAcRestructureCal B
		ON A.AccountEntityID =B.AccountEntityId


;WITH CTE_NONFIN_DPD
AS(
		SELECT AccountEntityID,DPD_StockStmt DPD FROM ##AccountCal	WHERE ISNULL(DPD_StockStmt,0)>0
		UNION ALL SELECT AccountEntityID,DPD_Renewal	  DPD FROM ##AccountCal	WHERE ISNULL(DPD_Renewal,0)>0
)

UPDATE B
	SET B.DPD_MaxNonFin=A.DPD_MaxNonFin
FROM  (SELECT AccountEntityID, MAX(DPD) DPD_MaxNonFin FROM CTE_NONFIN_DPD 
		GROUP BY AccountEntityID
		)a 
	INNER JOIN PRO.AdvAcRestructureCal B
		ON A.AccountEntityID =B.AccountEntityId

	update PRO.AdvAcRestructureCal set DPD_MaxNonFin=0 where DPD_MaxNonFin is null
	update PRO.AdvAcRestructureCal set DPD_MaxFin=0 where DPD_MaxNonFin is null
/* END OF RETR */
--------------------------DPD UPDATE FOR Aqua Scheme---Prashant under guidence of Akshay Sir----03122025---------------

Update         A
SET            A.IntNotServicedDt=NULL,DPD_IntService=0,DebitSinceDt=NULL,LastCrDate=NULL,DPD_NoCredit=0,
			   StockStDt=NULL,DPD_StockStmt=0
FROM           ##ACCOUNTCAL A 
INNER JOIN     DIMPRODUCT C
ON             A.ProductAlt_Key =C.ProductAlt_Key
WHERE          C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
AND            (ISNULL(C.Aqua_Scheme,'N')='Y' AND ISNULL(C.SchemeType,'')='ODA')


--------------------END------DPD UPDATE FOR Aqua Scheme---Prashant under guidence of Akshay Sir----03122025---------------

UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='DPD_Calculation'

 -----------------Added for DashBoard 04-03-2021
--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

END TRY
BEGIN  CATCH
	
	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='DPD_Calculation'
END CATCH
  SET NOCOUNT OFF
END














GO
