USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[Marking_FlgDeg_Degreason]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*=========================================
 AUTHER : TRILOKI KHANNA
 CREATE DATE : 27-11-2019
 MODIFY DATE : 27-11-2019
 DESCRIPTION : MARKING OF FLGDEG AND DEG REASON 
 --EXEC [Pro].[Marking_FlgDeg_Degreason] @TIMEKEY=25140
=============================================*/
CREATE PROCEDURE [PRO].[Marking_FlgDeg_Degreason]
@TIMEKEY INT
AS
BEGIN
  SET NOCOUNT ON 
   BEGIN TRY
DECLARE @ProcessDate DATE=(SELECT DATE FROM SYSDAYMATRIX WHERE TimeKey=@TIMEKEY)

---------------Added By Prashant-----------27102025----------------------------------


IF OBJECT_ID('TEMPDB..#UpdateTempAssetclassAssetnorm_4123') IS NOT NULL  
 DROP TABLE  #UpdateTempAssetclassAssetnorm_4123  

select        a.CustomerEntityID, count(a.CustomerAcID) CNT
into          #UpdateTempAssetclassAssetnorm_4123
from		  ##ACCOUNTCAL a
inner join    ##CUSTOMERCAL b
--on            a.CustomerEntityID=b.CustomerEntityID
on            a.UcifEntityID=b.UcifEntityID 
group by      a.CustomerEntityID
having        count(a.CustomerAcID)=1


------------

IF OBJECT_ID('TEMPDB..#UpdateTempAssetclassAssetnormtemp1') IS NOT NULL  
 DROP TABLE  #UpdateTempAssetclassAssetnormtemp1 


 SELECT C.AccountEntityID,SUM(isnull(CurrentValue,0)) CurrentValue  
 into #UpdateTempAssetclassAssetnormtemp1
    FROM ##ACCOUNTCAL C  
     LEFT  JOIN dbo.AdvSecurityDetail Advsec   
        ON Advsec.AccountEntityID=C.AccountEntityID    
        AND Advsec.EffectiveFromTimeKey < = @TIMEKEY    
        AND Advsec.EffectiveToTimeKey   >= @TIMEKEY    
     LEFT JOIN dbo.AdvSecurityVAlueDetail B 
	    ON  Advsec.SecurityEntityID=b.SecurityEntityID    
        AND B.SecurityEntityID = Advsec.SecurityEntityID    
        AND B.EffectiveFromTimeKey < = @TIMEKEY    
        AND B.EffectiveToTimeKey   >= @TIMEKEY    
     inner join DimProduct DP  
        ON c.ProductAlt_Key=dp.ProductAlt_Key  
        and DP.ProductGroup='FDSEC'  
        AND DP.EffectiveFromTimeKey < = @TIMEKEY AND DP.EffectiveToTimeKey   >= @TIMEKEY    
        AND C.EffectiveFromTimeKey < = @TIMEKEY AND C.EffectiveToTimeKey   >= @TIMEKEY    
        GROUP BY C.AccountEntityID 

Update          A
Set             a.Asset_Norm='ALWYS_STD'
FROM            ##ACCOUNTCAL a
inner join      #UpdateTempAssetclassAssetnorm_4123 c
on              a.CustomerEntityID=c.CustomerEntityID
inner join      DimProduct d
on              a.ProductCode=d.ProductCode
INNER JOIN      #UpdateTempAssetclassAssetnormtemp1 E
ON              A.AccountEntityID=E.AccountEntityID
where           d.ProductGroup='FDSEC'
and             isnull(a.Asset_Norm,'')<>'ALWYS_NPA'
and             D.EffectiveFromTimeKey <= @TIMEKEY AND D.EffectiveToTimeKey >= @TIMEKEY
and             isnull(E.CurrentValue,0) > isnull(a.Balance,0)
AND             A.InitialAssetClassAlt_Key=1

-----------


Update          A
Set             a.Asset_Norm='CONDI_STD'
FROM            ##ACCOUNTCAL a
inner join      #UpdateTempAssetclassAssetnorm_4123 c
on              a.CustomerEntityID=c.CustomerEntityID
inner join      DimProduct d
on              a.ProductCode=d.ProductCode
INNER JOIN      #UpdateTempAssetclassAssetnormtemp1 E
ON              A.AccountEntityID=E.AccountEntityID
where           d.ProductGroup='FDSEC'
and             isnull(a.Asset_Norm,'')<>'ALWYS_NPA'
and             D.EffectiveFromTimeKey <= @TIMEKEY AND D.EffectiveToTimeKey >= @TIMEKEY
--and             a.DPD_MAX >=91
and             isnull(a.Balance,0)> isnull(E.CurrentValue,0) 
AND             isnull(a.Balance,0)>0
AND             (ISNULL(A.DPD_INTSERVICE,0)>=A.REFPERIODINTSERVICE OR
                ISNULL(A.DPD_OVERDRAWN,0)>=A.REFPERIODOVERDRAWN   OR
                ISNULL(A.DPD_NOCREDIT,0)>=A.REFPERIODNOCREDIT    OR 
                ISNULL(A.DPD_OVERDUE,0) >=A.REFPERIODOVERDUE     OR 
                ISNULL(A.DPD_STOCKSTMT,0)>=A.REFPERIODSTKSTATEMENT OR
                ISNULL(A.DPD_RENEWAL,0)>=A.REFPERIODREVIEW OR
				ISNULL(A.InitialAssetClassAlt_Key,1)>1)

Update          A
Set             a.Asset_Norm='CONDI_STD'
FROM            ##ACCOUNTCAL a
inner join      #UpdateTempAssetclassAssetnorm_4123 c
on              a.CustomerEntityID=c.CustomerEntityID
inner join      DimProduct d
on              a.ProductCode=d.ProductCode
INNER JOIN      #UpdateTempAssetclassAssetnormtemp1 E
ON              A.AccountEntityID=E.AccountEntityID
where           d.ProductGroup='FDSEC'
and             isnull(a.Asset_Norm,'')<>'ALWYS_NPA'
and             D.EffectiveFromTimeKey <= @TIMEKEY AND D.EffectiveToTimeKey >= @TIMEKEY
--and             a.DPD_MAX >=91
and             isnull(a.Balance,0)< isnull(E.CurrentValue,0) 
AND             isnull(a.Balance,0)>0
AND             ISNULL(A.InitialAssetClassAlt_Key,1)>1


-----------------------------------------------END--------------------------------------------------------------------------------


/*---------------INTIAL LEVEL FLG DEG SET N------------------------------------------*/

UPDATE A SET A.FLGDEG='N'
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE (isnull(B.FlgProcessing,'N')='N')



/*---------------UPDATE DEG FLAG AT CUSTOMER LEVEL------------------------------------*/

UPDATE B SET B.FlgDeg='N' FROM ##ACCOUNTCAL A INNER JOIN  ##CUSTOMERCAL B 
ON A.RefCustomerID=B.RefCustomerID
WHERE  (isnull(B.FlgProcessing,'N')='N')

/*---------------UPDATE DEG FLAG AT ACCOUNT LEVEL-----------------------------------------*/
UPDATE A SET A.FLGDEG  =(CASE WHEN  ISNULL(A.DPD_INTSERVICE,0)>=A.REFPERIODINTSERVICE  THEN 'Y' 
							WHEN   ISNULL(A.DPD_OVERDRAWN,0)>=A.REFPERIODOVERDRAWN    THEN 'Y' 
							WHEN   ISNULL(A.DPD_NOCREDIT,0)>=A.REFPERIODNOCREDIT      THEN 'Y'
                            WHEN   ISNULL(A.DPD_OVERDUE,0) >=A.REFPERIODOVERDUE       THEN 'Y' 
                            WHEN   ISNULL(A.DPD_STOCKSTMT,0)>=A.REFPERIODSTKSTATEMENT THEN 'Y' 
							WHEN   ISNULL(A.DPD_RENEWAL,0)>=A.REFPERIODREVIEW         THEN 'Y'
						ELSE 'N'  END)
FROM ##ACCOUNTCAL A   INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE  (a.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD') 
AND (B.FlgProcessing='N')
AND ISNULL(InMonthMark,'N')='Y'
AND ISNULL(B.FlgMoc,'N')='N' AND ISNULL(A.Balance,0)>0




/* LOAN BUYOUT DPD CALCULATION */

	UPDATE A
		SET  A.FLGDEG='Y'
			,DegReason =CASE --------WHEN  PeakDPD>=A.REFPERIODOVERDUE THEN 'NPA due to Months Peak DPD'
							WHEN  ISNULL(B.DPD_Seller,0)>=A.REFPERIODOVERDUE THEN 'NPA Due to Virtual DPD'
						END
	FROM ##ACCOUNTCAL A
	INNER JOIN PRO.BuyoutUploadDetailsCal B
		ON A.CustomerAcID=B.CustomerAcID
		WHERE ISNULL(A.DPD_OVERDUE,0)>=A.REFPERIODOVERDUE 
				AND A.FinalAssetClassAlt_Key=1
	UPDATE A
		SET  A.FLGDEG='Y'
			,DegReason ='NPA with Seller'
			,Asset_Norm='ALWYS_NPA'
	FROM ##ACCOUNTCAL A
	INNER JOIN PRO.BuyoutUploadDetailsCal B
		ON A.CustomerAcID=B.CustomerAcID
		WHERE B.NPA_ClassSeller='Y'
		AND A.FinalAssetClassAlt_Key=1

	UPDATE B SET B.NPA_FLAG=CASE WHEN  ISNULL(A.DPD_OVERDUE,0)>=A.REFPERIODOVERDUE  
									THEN 'NPA_VDPD'
								 WHEN B.NPA_ClassSeller='Y' 
									THEN 'NPA_SELLER'
								ELSE B.NPA_FLAG 
							END
	FROM ##ACCOUNTCAL A
	INNER JOIN PRO.BuyoutUploadDetailsCal B
		ON A.CustomerAcID=B.CustomerAcID
		WHERE ISNULL(A.DPD_OVERDUE,0)>=A.REFPERIODOVERDUE 
				AND A.FinalAssetClassAlt_Key=1


/* END OF LOAN BUYOUT CODE */

/* RESTRUCTURE DEGRADE */


		/* UPDATE DPD_Breach_Date FOR 'RESOLUTION'  */
		UPDATE A
			SET DPD_Breach_Date=@ProcessDate
				,ZeroDPD_Date=null
				,SP_ExpiryExtendedDate=null
		FROM  PRO.AdvAcRestructureCal A
			INNER JOIN ##ACCOUNTCAL B
				ON A.AccountEntityId =B.AccountEntityID
			INNER JOIN DimParameter D 
				ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
				AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
				AND D.DimParameterName='TypeofRestructuring' 
		WHERE DPD_Breach_Date IS NULL
			AND D.ParameterShortNameEnum IN('COVID_OTR_RF','COVID_OTR_RF_2')
			AND(   (FacilityType NOT IN('CC','OD') AND ISNULL(DPD_MaxFin,0)>30)
					OR (FacilityType IN('CC','OD') AND ISNULL(B.DPD_Overdrawn,0)>60
					   )
				)
		/* update DPD_Breach_Date -  'MSME_OLD','MSME_COVID' */	
		UPDATE A
			SET DPD_Breach_Date=@ProcessDate
				,ZeroDPD_Date=null
				,SP_ExpiryExtendedDate=null
		FROM  PRO.AdvAcRestructureCal A
			INNER JOIN ##ACCOUNTCAL B
				ON A.AccountEntityId =B.AccountEntityID
			INNER JOIN DimParameter D 
				ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
				AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
				AND D.DimParameterName='TypeofRestructuring' 
		WHERE DPD_Breach_Date IS  NULL
			AND D.ParameterShortNameEnum IN('MSME_OLD','MSME_COVID','MSME_COVID_RF2')
			AND ( ISNULL(DPD_MaxNonFin,0)>=90 OR ISNULL(DPD_MaxFin,0)>30 )


		UPDATE A
			SET ZeroDPD_Date=@ProcessDate,
			    DPD_Breach_Date=Null
		FROM  PRO.AdvAcRestructureCal A
			INNER JOIN ##ACCOUNTCAL B
				ON A.AccountEntityId =B.AccountEntityID
			INNER JOIN DimParameter D 
				ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
				AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
				AND D.DimParameterName='TypeofRestructuring' 
		WHERE DPD_Breach_Date IS NOT NULL
			AND D.ParameterShortNameEnum IN('MSME_OLD','MSME_COVID','MSME_COVID_RF2')
			AND ( ISNULL(DPD_MaxNonFin,0)<90 AND ISNULL(DPD_MaxFin,0)<=30)
			AND ZeroDPD_Date IS NULL 
			AND  (CASE WHEN ISNULL(SP_ExpiryDate,'1900-01-01')>=ISNULL(SP_ExpiryExtendedDate,'1900-01-01') 
							THEN SP_ExpiryDate ELSE SP_ExpiryExtendedDate END)> @ProcessDate


----------------------------------------------------------------------------------------------------------------------------------------------

		--UPDATE A
		--	SET SP_ExpiryExtendedDate=CASE WHEN SP_ExpiryDate < DATEADD(yy,1,@ProcessDate)
		--										THEN DATEADD(yy,1,@ProcessDate)
		--									ELSE  NULL END
		--FROM  PRO.AdvAcRestructureCal A
		--	INNER JOIN ##ACCOUNTCAL B
		--		ON A.AccountEntityId =B.AccountEntityID
		--	INNER JOIN DimParameter D 
		--		ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
		--		AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
		--		AND D.DimParameterName='TypeofRestructuring' 
		--WHERE DPD_Breach_Date IS NOT NULL
		--	AND D.ParameterShortNameEnum IN('MSME_OLD','MSME_COVID','MSME_COVID_RF2')
		--	and DPD_Breach_Date=@ProcessDate


------------------------------------------Added by Prashant 14-09-2022--as per Ashish Sir mail dated 12-09-2022-----------------------------------------------------
		
		--UPDATE A
		--	SET SP_ExpiryExtendedDate=CASE WHEN SP_ExpiryDate < DATEADD(yy,1,@ProcessDate)
		--										THEN DATEADD(yy,1,@ProcessDate)
		--									ELSE  NULL END
		--FROM  PRO.AdvAcRestructureCal A
		--	INNER JOIN ##ACCOUNTCAL B
		--		ON A.AccountEntityId =B.AccountEntityID
		--	INNER JOIN DimParameter D 
		--		ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
		--		AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
		--		AND D.DimParameterName='TypeofRestructuring' 
		--WHERE ZeroDPD_Date IS NOT NULL
		--	AND D.ParameterShortNameEnum IN('MSME_OLD','MSME_COVID','MSME_COVID_RF2')
		--	and ZeroDPD_Date=@ProcessDate
			
------------------------------------------------------------------------------------------------------------------------------------

------------------------------------------------------------------------------------------------------------------------------------

	UPDATE A
			SET SP_ExpiryExtendedDate=DATEADD(yy,1,ZeroDPD_Date)												
		FROM  PRO.AdvAcRestructureCal A
			INNER JOIN ##ACCOUNTCAL B
				ON A.AccountEntityId =B.AccountEntityID
			INNER JOIN DimParameter D 
				ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
				AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
				AND D.DimParameterName='TypeofRestructuring' 
		WHERE ZeroDPD_Date IS NOT NULL and SP_ExpiryExtendedDate is NULL
			AND D.ParameterShortNameEnum IN('MSME_OLD','MSME_COVID','MSME_COVID_RF2')








		/* update DPD_Breach_Date -  'PRUDENTIAL','IRAC','OTHER' */
		UPDATE A
			SET DPD_Breach_Date=@ProcessDate
				,ZeroDPD_Date=null
				,SP_ExpiryExtendedDate=null
		FROM  PRO.AdvAcRestructureCal A
			INNER JOIN ##ACCOUNTCAL B
				ON A.AccountEntityId =B.AccountEntityID
			INNER JOIN DimParameter D 
				ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
				AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
				AND D.DimParameterName='TypeofRestructuring' 
		WHERE DPD_Breach_Date IS NULL
			AND D.ParameterShortNameEnum IN('PRUDENTIAL','IRAC','OTHER')
			AND ( 
					(FacilityType NOT IN('CC','OD') AND  ISNULL(DPD_MaxFin,0)>0 )
				  OR( 
						(FacilityType IN('CC','OD') 
							AND (ISNULL(DPD_MaxFin,0)>=30 OR ISNULL(DPD_MaxNonFin,0)>=90)
						) 
					)
				)


  /*  RESOLUTION  COVID- PERAONl AND OTHERS */
		UPDATE A SET FlgDeg='Y'
					--,DegDate=CASE WHEN PreRestructureNPA_Date IS NOT NULL 
					--				THEN PreRestructureNPA_Date
					--			ELSE 
					--					A.RestructureDt
					--			END
					,A.DegReason=CASE WHEN Res_POS_to_CurrentPOS_Per<=30
										THEN 'Restructured slippage'
									ELSE '' END
		from PRO.AdvAcRestructureCal A
			INNER JOIN DimParameter D ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
							AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
							AND D.DimParameterName='TypeofRestructuring' 
			INNER JOIN DimParameter E ON E.EffectiveFromTimeKey <=@timekey AND E.EffectiveToTimeKey>=@timekey 
							AND E.ParameterAlt_Key=A.COVID_OTR_CatgAlt_Key
							AND E.DimParameterName='Covid - OTR Category' 
			inner join ##ACCOUNTCAL ac
				on a.AccountEntityId =ac.AccountEntityID
		WHERE D.ParameterShortNameEnum IN('COVID_OTR_RF','OVID_OTR_RF_2')
			 AND A.FinalAssetClassAlt_Key=1
			AND (	(E.ParameterShortNameEnum ='PERSONAL' and ac.FlgDeg='Y')
				  OR (E.ParameterShortNameEnum ='OTHER' AND DPD_Breach_Date IS NOT NULL  and SP_ExpiryDate>@ProcessDate) 	
				)

/* 'MSME_OLD','MSME_COVID' */
		UPDATE A SET FlgDeg='Y'
					--,DegDate=CASE WHEN PreRestructureNPA_Date IS NOT NULL 
					--			THEN PreRestructureNPA_Date
					--		 ELSE 
					--			A.RestructureDt
					--		 END
					--,A.DegReason ='Restructured slippage'
		from PRO.AdvAcRestructureCal A
			INNER JOIN DimParameter D ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
							AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
			INNER JOIN ##ACCOUNTCAL AC
				ON A.AccountEntityId=AC.AccountEntityId
				and ac.FlgDeg='Y'
		WHERE  D.DimParameterName='TypeofRestructuring' 
			AND ParameterShortNameEnum IN('MSME_OLD','MSME_COVID','MSME_COVID_RF2')
			and A.FinalAssetClassAlt_Key=1

/*  'IRAC' ,'OTHER','PRUDENTIAL' */
		UPDATE A SET FlgDeg='Y'
						--,DegDate=CASE WHEN PreRestructureNPA_Date IS NOT NULL 
						--		THEN PreRestructureNPA_Date 
						--	ELSE A.RestructureDt END
			from PRO.AdvAcRestructureCal A
			INNER JOIN DimParameter D ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
								AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key
			WHERE  D.DimParameterName='TypeofRestructuring' 
				AND ParameterShortNameEnum IN('IRAC' ,'OTHER','PRUDENTIAL')
				and FinalAssetClassAlt_Key=1
				--and (isnull(SP_ExpiryExtendedDate,SP_ExpiryDate)>@ProcessDate
				--	)


	UPDATE A
		SET A.FlgDeg=B.FlgDeg
	--	   ,A.FinalNpaDt=B.DegDate
	--	   ,DegReason=ISNULL(a.DegReason,'')+',DEGRADE BY RESTRUCTURE'	
	FROM ##ACCOUNTCAL A
		INNER JOIN PRO.AdvAcRestructureCal B
			ON A.AccountEntityID =B.AccountEntityId
	WHERE B.FlgDeg='Y'
		and a.FinalAssetClassAlt_Key=1
		
	--UPDATE C
	--	SET C.FlgDeg=B.FlgDeg
	--	   ,C.SrcNPA_Dt=B.DegDate
	--	   ,DegReason=ISNULL(a.DegReason,'')+',DEGRADE BY RESTRUCTURE'	
	--FROM ##ACCOUNTCAL A
	--	INNER JOIN PRO.AdvAcRestructureCal B
	--		ON A.AccountEntityID =B.AccountEntityId
	--	INNER JOIN ##CUSTOMERCAL C
	--		ON C.CustomerEntityID =A.CustomerEntityID
	--WHERE B.FlgDeg='Y'


/*END OF RFESTR WORK */


/* START OF PUI WORK*/

---The NPA reason in this case will be “Original DCCO is Crossed */
/*
DECLARE @DysOfDelay int=90
		---FinnalDCCO_Date   - Original DCCO, CIO DCCO and FreshDCCO
UPDATE A
			SET DEFAULT_REASON=	
					CASE 
						/* 1. The original DCCO or CIO_DCCO whichever is higher is passed more than -90- days and revised DCCO is blank and Actual DCCO is blank. The NPA reason in this case will be “Original DCCO/ CIO_DCCO is Crossed” (Put case to find which date is applicable)*/
						WHEN ( DATEDIFF(DD,FinnalDCCO_Date, @ProcessDate)>@DysOfDelay 
									AND RevisedDCCO IS NULL 
									
								) 
								THEN 'Original DCCO/ CIO_DCCO is Crossed'

						/*2. Original DCCO is passed and revised DCCO is also passed more than -90 days and Actual DCCO is blank. The NPA reason in this case will be “Revised DCCO is crossed” */
						WHEN ( FinnalDCCO_Date<@ProcessDate
									AND RevisedDCCO IS NOT NULL AND DATEDIFF(DD,RevisedDCCO,@ProcessDate )>90
								) 
								THEN 'Revised DCCO is crossed'

						/*3. In case of Revised DCCO is not blank and Cost Overrun % is more than 10% or Revised DE ratio is higher than Original DE ratio, the NPA Reason in this case would be “Cost Overrun or Revised DE Ration is more than Permissible Limits”   */	
						WHEN ( RevisedDCCO IS NOT NULL AND CostOverrun='Y'  
										AND (
												(isnull(CostOverRunPer,0)>10 )
												OR (isnull(RevisedDebt,0)>isnull(OriginalDebt,0))
											)
										AND (DATEADD(YY,(CASE WHEN ProjCategory='Infra' THEN  2 ELSE 1 END),FinnalDCCO_Date)>RevisedDCCO  
												AND DATEADD(YY,(CASE WHEN ProjCategory='Infra' THEN  4 ELSE 2 END),FinnalDCCO_Date)<RevisedDCCO )
										-- add condition for infra 2/4 and non infra 1/2 yr and non 
								)
								THEN  'Cost Overrun or Revised DE Ratio is more than Permissible Limits'
									
						WHEN ( TakeOutFinance='Y' AND AssetClassSellerBookAlt_key>1
								)
								THEN 'The account is NPA in sellers book'
					END
	FROM PRO.PUI_cAL A						
		WHERE FinalAssetClassAlt_Key=1
			AND ActualDCCO_Date IS NULL 

		UPDATE A
				 SET RESTRUCTURING='Y'
				 , RestructureDate=@ProcessDate
		FROM  PRO.PUI_CAL A
		WHERE (BeyonControlofPromoters='Y' OR CourtCaseArbitration='Y')
			AND RevisedDCCO<=DATEADD(YY,(CASE WHEN ProjCategory='Infra' THEN  2 ELSE 1 END),FinnalDCCO_Date)
					

		UPDATE A
			SET A.FLG_DEG ='Y'
				,A.NPA_DATE=@ProcessDate
		FROM PRO.PUI_cAL A
			WHERE isnull(DEFAULT_REASON,'')<>''
*/

---------------------------------------Added by Prashant -------------25022026----------------------------------------------

UPDATE PRO.PUI_cAL SET Asset_Norm='NORMAL' WHERE Asset_Norm IS NULL


UPDATE A
			SET DEFAULT_REASON=	
					CASE 
						/* 1. The original DCCO or CIO_DCCO whichever is higher is passed more than -90- days and revised DCCO is blank and Actual DCCO is blank. The NPA reason in this case will be “Original DCCO/ CIO_DCCO is Crossed” (Put case to find which date is applicable)*/
						WHEN ( ISNULL(OriginalDCCO ,'3036-01-01')<= @ProcessDate AND RevisedDCCO IS NULL ) 
								THEN 'Original DCCO is Crossed'

						/*2. Original DCCO is passed and revised DCCO is also passed more than -90 days and Actual DCCO is blank. The NPA reason in this case will be “Revised DCCO is crossed” */
						WHEN ( ISNULL(OriginalDCCO ,'3036-01-01')<= @ProcessDate AND ISNULL(RevisedDCCO,'3036-01-01')<=@ProcessDate) 
								
								THEN 'Revised DCCO is crossed'

						/*3. In case of Revised DCCO is not blank and Cost Overrun % is more than 10% or Revised DE ratio is higher than Original DE ratio, the NPA Reason in this case would be “Cost Overrun or Revised DE Ration is more than Permissible Limits”   */	
						--WHEN  (DATEADD(YY,(CASE WHEN ProjCategory='Infra' THEN  3 ELSE 2 END),OriginalDCCO)<RevisedDCCO  
						--		)
						--		THEN  'revised DCCO is not in permitted DCCO deferment'

					END
	FROM PRO.PUI_cAL A						
		WHERE ActualDCCO_Date IS NULL 
		and      FinalAssetClassAlt_Key=1


/*3. In case of Revised DCCO is not blank and Cost Overrun % is more than 10% or Revised DE ratio is higher than Original DE ratio, 
			the NPA Reason in this case would be “Cost Overrun or Revised DE Ration is more than Permissible Limits”   */	

     UPDATE   A
	 SET      DEFAULT_REASON  =	ISNULL(DEFAULT_REASON,'')+','+CASE WHEN  (DATEADD(YY,(CASE WHEN ProjCategory='Infra' THEN  3 ELSE 2 END),OriginalDCCO)<RevisedDCCO  
								                               )
								                              THEN  'revised DCCO is not in permitted DCCO deferment'
															  ELSE 
															  ''
					                                          END
	FROM     PRO.PUI_cAL A						
	WHERE    ActualDCCO_Date IS NULL 
	and      FinalAssetClassAlt_Key=1


	Update   PRO.PUI_cAL
	set      DEFAULT_REASON=null
	WHERE    ActualDCCO_Date IS NULL 
	and      FinalAssetClassAlt_Key=1
	and      DEFAULT_REASON=','



			UPDATE   A
			SET      A.FLG_DEG ='Y'
				    ,A.NPA_DATE=@ProcessDate
					,A.Asset_Norm='ALWYS_NPA'
					,FinalAssetClassAlt_Key=2
		    FROM     PRO.PUI_cAL A
			WHERE    isnull(DEFAULT_REASON,'')<>''
			and      FinalAssetClassAlt_Key=1

			IF OBJECT_ID('TEMPDB..#PUI_CAL_HIST') IS NOT NULL  
			DROP TABLE  #PUI_CAL_HIST  

			SELECT  * 
			INTO    #PUI_CAL_HIST
			FROM    PRO.PUI_CAL_HIST
			WHERE   EffectiveFromTimeKey <= @TIMEKEY-1 AND EffectiveToTimeKey >= @TIMEKEY-1


			Update        A
			SET           A.Asset_Norm=B.Asset_Norm,
						  A.DEFAULT_REASON= B.DEFAULT_REASON,
						  A.NPA_DATE=b.NPA_DATE,
						  A.FLG_DEG ='N'
			FROM          PRO.PUI_cAL  A
			INNER JOIN    #PUI_CAL_HIST B
			ON            A.AccountEntityID=B.AccountEntityId
			and           ISNULL(B.Asset_Norm,'')='ALWYS_NPA'
			

			Update        A
			set           A.Asset_Norm='ALWYS_STD',
						  A.DEFAULT_REASON=NULL,
						  A.FLG_DEG ='N',
						  A.NPA_DATE=NULL,
						  A.FinalAssetClassAlt_Key=1
			from          PRO.PUI_cAL a
			inner join    moc_changedetails b
			on            A.CustomerEntityID=B.CustomerEntityID
			where         b.EffectiveFromTimeKey <= @TIMEKEY AND b.EffectiveToTimeKey >= @TIMEKEY
			and           b.AssetClassAlt_Key=1

			Update        A
			set           A.Asset_Norm='ALWYS_STD',
						  A.DEFAULT_REASON=NULL,
						  A.FLG_DEG ='N',
						  A.NPA_DATE=NULL,
						  A.FinalAssetClassAlt_Key=1
			from          PRO.PUI_cAL a
			inner join    AdhocACL_ChangeDetails b
			on            A.CustomerEntityID=B.CustomerEntityID
			where         b.EffectiveFromTimeKey <= @TIMEKEY AND b.EffectiveToTimeKey >= @TIMEKEY
			and           b.AssetClassAlt_Key=1

			Print 'PUI1'

			UPDATE       B
			SET          B.NPA_DATE=A.FinalNpaDt,
					     B.DEFAULT_REASON=ISNULL(DegReason,NPA_REASON)	
			FROM         ##AccountCal A
			INNER JOIN   PRO.PUI_CAL B
			ON           A.AccountEntityID =B.AccountEntityId
		    WHERE        B.Flg_Deg='N'
		    And          isnull(a.FlgDeg,'')='Y'

			UPDATE       B
			SET          B.NPA_DATE=C.NPA_DATE,
					     B.DEFAULT_REASON=C.DEFAULT_REASON	
			FROM         ##AccountCal A
			INNER JOIN   PRO.PUI_CAL B
			ON           A.AccountEntityID =B.AccountEntityId
			INNER JOIN   #PUI_CAL_HIST C
			ON           A.AccountEntityID =C.AccountEntityId
		    WHERE        B.Flg_Deg='N'
		    And          isnull(a.FlgDeg,'')<>'Y'
			and          isnull(b.asset_norm,'')<>'ALWYS_STD'
			--UPDATE A
			--SET  A.FLG_DEG ='Y'
			--	,A.NPA_DATE=@ProcessDate
		 --   FROM PRO.PUI_cAL A
			--WHERE isnull(DEFAULT_REASON,'')<>''

			Print 'PUI2'
/* END  OF PUI WORK*/

--------------Added by Prashant----30052025--------------------------------------------

UPDATE    ##ACCOUNTCAL 
SET       FlgDeg='N',DegReason =NULL,Asset_Norm='Normal',FinalNpaDt=NULL,FinalAssetClassAlt_Key=1 
where     isnull(balance,0)<=0 and FlgDeg='Y'


 /* ------------------------UPDATE DEG FLAG AT CUSTOMER LEVEL----------------------------------*/

UPDATE B SET B.FlgDeg='Y' FROM ##ACCOUNTCAL A INNER JOIN  ##CUSTOMERCAL B 
ON A.RefCustomerID=B.RefCustomerID
WHERE A.FlgDeg='Y' AND (B.FlgProcessing='N')

 /*---------------------ASSIGNE DEG REASON------------------------------------------------------*/

--UPDATE  A SET A.DEGREASON=NULL 
--FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
--WHERE (B.FlgProcessing='N')

--UPDATE A SET A.NPA_Reason= ISNULL(A.NPA_Reason,'')+' DEGRADE BY INT NOT SERVICED'  
--FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
--WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND (A.DPD_INTSERVICE>0))


UPDATE A SET A.DegReason= ISNULL(A.DegReason,'')+'DEGRADE BY INT NOT SERVICED'  
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='Y' AND (A.DPD_INTSERVICE>=A.REFPERIODINTSERVICE))
and isnull(a.balance,0) >0  --Added By Prashant---04042025---
 
UPDATE A SET A.DegReason= ISNULL(A.DegReason,'')+', DEGRADE BY CONTI EXCESS'
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='Y' AND A.DPD_OVERDRAWN>=A.REFPERIODOVERDRAWN) 
and isnull(a.balance,0) >0  --Added By Prashant---04042025---

UPDATE A SET DegReason= ISNULL(A.DegReason,'')+', DEGRADE BY NO CREDIT'      
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='Y' AND A.DPD_NOCREDIT>=A.REFPERIODNOCREDIT )
and isnull(a.balance,0) >0  --Added By Prashant---04042025---

UPDATE A SET DegReason= ISNULL(A.DegReason,'')+', DEGRADE BY STOCK STATEMENT'    
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='Y' AND A.DPD_STOCKSTMT>=A.REFPERIODSTKSTATEMENT)
and isnull(a.balance,0) >0  --Added By Prashant---04042025---

UPDATE A SET A.DEGREASON= ISNULL(A.DEGREASON,'')+', DEGRADE BY REVIEW DUE DATE'    
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='Y' AND A.DPD_RENEWAL>=A.REFPERIODREVIEW) 
and isnull(a.balance,0) >0  --Added By Prashant---04042025---

UPDATE A SET A.DegReason= ISNULL(A.DegReason,'')+', DEGRADE BY OVERDUE'            
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='Y' AND A.DPD_OVERDUE >=A.REFPERIODOVERDUE)
and ISNULL(a.DegReason,'') not like '%NPA Due to Virtual DPD%' 
AND ISNULL(A.DegReason,'') NOT LIKE '%NPA with Seller%' -- Buyout changes
and isnull(a.balance,0) >0  --Added By Prashant---04042025---


 UPDATE A SET DegReason=B.DegReason
 FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.SourceSystemCustomerID =B.SourceSystemCustomerID
WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='N')AND B.DegReason IS NOT NULL AND A.FinalAssetClassAlt_Key>1 AND A.DegReason IS NULL

 
	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_FlgDeg_Degreason'

	-----------------Added for DashBoard 04-03-2021
--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_FlgDeg_Degreason'

END CATCH
SET NOCOUNT OFF
END







GO
