USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[Final_AssetClass_Npadate]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*=========================================
 AUTHER : TRILOKI KHANNA
 CREATE DATE : 27-11-2019
 MODIFY DATE : 27-11-2019
 DESCRIPTION :UPDATE FINAL ASSET CLASS AND MIN NPA DATE UPDATE CUSTOMER LEVEL AT ACCOUNT LEVEL
 EXEC [PRO].[Final_AssetClass_Npadate] 25233
=============================================*/
CREATE PROCEDURE [PRO].[Final_AssetClass_Npadate] --26857
@TIMEKEY INT ,
@FlgPreErosion char(1)='N'
with recompile

AS
BEGIN
      SET NOCOUNT ON
  BEGIN TRY
 
         --DECLARE @PANCARDFLAG CHAR(1)=(SELECT REFVALUE FROM PRO.REFPERIOD WHERE BUSINESSRULE='PANCARDNO' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
		--DECLARE @AADHARCARDFLAG CHAR(1)=(SELECT REFVALUE FROM PRO.REFPERIOD WHERE BUSINESSRULE='AADHARCARD' AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
		DECLARE @PANCARDFLAG CHAR(1)=(SELECT 'Y' FROM solutionglobalparameter WHERE ParameterName='PAN Aadhar Dedup Integration' and  ParameterValueAlt_Key=1 AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)
		DECLARE @AADHARCARDFLAG CHAR(1)=(SELECT 'Y' FROM solutionglobalparameter WHERE ParameterName='PAN Aadhar Dedup Integration' and  ParameterValueAlt_Key=1 AND EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND EFFECTIVETOTIMEKEY>=@TIMEKEY)

DECLARE @JointAccountFlag char(1)=(select RefValue from pro.RefPeriod where BusinessRule='Joint Account' and EffectiveFromTimeKey<=@TIMEKEY and EffectiveToTimeKey>=@TIMEKEY)
DECLARE @UCFICFlag char(1)=(select RefValue from pro.RefPeriod where BusinessRule='UCFIC' and EffectiveFromTimeKey<=@TIMEKEY and EffectiveToTimeKey>=@TIMEKEY)

----------------------------------Added by Prashant 03012023 as per ashish sir and amar sir ----------------------------------------------------------

;WITH CTE_NPA_UCIFID AS 
(SELECT UcifEntityID FROM ##ACCOUNTCAL 
WHERE FinalAssetClassAlt_Key>1
GROUP BY UcifEntityID)

UPDATE A SET A.ASSET_NORM='CONDI_STD'FROM ##ACCOUNTCAL A 
INNER JOIN CTE_NPA_UCIFID B ON A.UcifEntityID=B.UcifEntityID 
INNER JOIN DimProduct P ON P.EffectiveFromTimeKey<=@TIMEKEY 
AND P.EffectiveToTimeKey>=@TIMEKEY AND P.ProductAlt_Key=A.ProductAlt_Key 
AND P.ProductGroup='FDSEC' 
WHERE ASSET_NORM='ALWYS_STD'

----------------------------------Added by Prashant 20022025 as discussion with Akshay sir , Kandpal sir and Jayadev ----------------------------------------------------------

;WITH CTE_NPA_UCIFID_CUST AS 
(SELECT DISTINCT UcifEntityID FROM ##CUSTOMERCAL 
WHERE SysAssetClassAlt_Key>1
GROUP BY UcifEntityID)

UPDATE A SET A.ASSET_NORM='CONDI_STD'FROM ##ACCOUNTCAL A 
INNER JOIN CTE_NPA_UCIFID_CUST B ON A.UcifEntityID=B.UcifEntityID 
INNER JOIN DimProduct P ON P.EffectiveFromTimeKey<=@TIMEKEY 
AND P.EffectiveToTimeKey>=@TIMEKEY AND P.ProductAlt_Key=A.ProductAlt_Key 
AND P.ProductGroup='FDSEC' 
WHERE A.ASSET_NORM='ALWYS_STD'

----------------------------------Added by Prashant 20022025 as discussion with Akshay sir , Kandpal sir and Jayadev ----------------------------------------------------------


--;WITH CTE_NPA_UCIFID_Cobo AS 
--(SELECT DISTINCT UcifEntityID FROM pro.coborrowercal 
--WHERE FinalAssetClass_AltKey>1
--GROUP BY UcifEntityID)

--UPDATE A SET A.ASSET_NORM='CONDI_STD'FROM ##ACCOUNTCAL A 
--INNER JOIN CTE_NPA_UCIFID_Cobo B ON A.UcifEntityID=B.UcifEntityID 
--INNER JOIN DimProduct P ON P.EffectiveFromTimeKey<=@TIMEKEY 
--AND P.EffectiveToTimeKey>=@TIMEKEY AND P.ProductAlt_Key=A.ProductAlt_Key 
--AND P.ProductGroup='FDSEC' 
--WHERE A.ASSET_NORM='ALWYS_STD'


IF OBJECT_ID('TEMPDB..#Cohort_No_PERC') IS NOT NULL
   DROP TABLE #Cohort_No_PERC

SELECT DISTINCT Cohort_No 
into            #Cohort_No_PERC
FROM            pro.coborrowercal 
WHERE           FinalAssetClass_AltKey>1
GROUP BY        Cohort_No

Update          A
Set             a.Asset_Norm='CONDI_STD'
FROM            ##ACCOUNTCAL a
inner join      pro.coborrowercal b
on              a.UCIF_ID=b.UCIC
inner join      #Cohort_No_PERC c
on              b.Cohort_No=c.Cohort_No
inner join      DimProduct d
on              a.ProductCode=d.ProductCode
where           d.ProductGroup='FDSEC'
and             isnull(a.Asset_Norm,'')<>'ALWYS_NPA'
and             d.EffectiveFromTimeKey<=@TIMEKEY AND d.EffectiveToTimeKey>=@TIMEKEY

------------------------------------------------------------------------------------------------------------




----UPDATE  B SET B.finalAssetClassAlt_Key=1, FinalNpaDt =NULL
----FROM PRO.CustomerCal  A INNER JOIN PRO.AccountCal B ON A.SourceSystemCustomerID=B.SourceSystemCustomerID AND (A.FlgProcessing='N')
---- WHERE A.Asset_Norm='ALWYS_STD'

/*---update FINALAssetClassAlt_Key  of those account which are not synk customer asset class key---------------------*/

UPDATE B SET B.finalAssetClassAlt_Key=  CASE WHEN A.Asset_Norm<>'ALWYS_STD' THEN A.SysAssetClassAlt_Key 
ELSE (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='STD' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY) END
FROM ##CustomerCal  A INNER JOIN ##ACCOUNTCAL B ON A.RefCustomerID=B.RefCustomerID AND (ISNULL(A.FlgProcessing,'N')='N')
AND A.RefCustomerID IS NOT  NULL

UPDATE B SET B.finalAssetClassAlt_Key=  CASE WHEN A.Asset_Norm<>'ALWYS_STD' THEN A.SysAssetClassAlt_Key 
ELSE (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='STD' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY) END
FROM ##CustomerCal  A INNER JOIN ##ACCOUNTCAL B ON A.SourceSystemCustomerID=B.SourceSystemCustomerID AND (ISNULL(A.FlgProcessing,'N')='N')
where A.SysAssetClassAlt_Key<>B.FinalAssetClassAlt_Key AND B.RefCustomerID is null 



/*---------------NPA DATE UPDATE CUSTOMER TO ACCOUNT LEVEL----------------------------------*/



UPDATE B SET B.FinalNpaDt=A.SYSNPA_DT FROM ##CustomerCal A INNER JOIN ##ACCOUNTCAL B  ON A.SourceSystemCustomerID=B.SourceSystemCustomerID
WHERE ISNULL(B.ASSET_NORM,'NORMAL')<>'ALWYS_STD' AND (ISNULL(A.FlgProcessing,'N')='N') 
and  isnull(A.SysNPA_Dt,'')<>isnull(b.FinalNpaDt,'') 
AND ISNULL(A.FlgDeg,'N')='Y'


UPDATE A SET A.FINALASSETCLASSALT_KEY=1,FINALNPADT=NULL, DEGREASON=NULL FROM ##ACCOUNTCAL  A 
WHERE ASSET_NORM='ALWYS_STD' --- AND FINALASSETCLASSALT_KEY>1S_STD'

---------------Added By Prashant--27012025----------------------------------------------------------------

UPDATE A SET A.SysAssetClassAlt_Key=1,SysNPA_Dt=NULL, DegReason=NULL, FlgErosion='N',ErosionDt=null
FROM ##CUSTOMERCAL  A 
WHERE ASSET_NORM='ALWYS_STD'

-----------------------------------------------------------------------------------------------------------

/*------UPDATING DEG REASON  FOR ACCOUNT WHERE  NO DEFAULT IS THERE------ */

UPDATE B SET  B.DEGREASON=NULL FROM ##CustomerCal A INNER JOIN ##ACCOUNTCAL  B ON A.SourceSystemCustomerID=B.SourceSystemCustomerID
WHERE A.FLGDEG='Y' AND B.DEGREASON IS NULL AND B.ASSET_NORM <>'ALWYS_STD' AND (ISNULL(A.FlgProcessing,'N')='N')

UPDATE B SET  B.DEGREASON='PERCOLATION BY OTHER ACCOUNT' FROM ##CustomerCal A INNER JOIN ##ACCOUNTCAL  B ON A.SourceSystemCustomerID=B.SourceSystemCustomerID
WHERE A.FLGDEG='Y' AND B.DEGREASON IS NULL AND B.ASSET_NORM <>'ALWYS_STD' AND (ISNULL(A.FlgProcessing,'N')='N')

	 
 UPDATE A SET DEGREASON=B.DEGREASON
  FROM ##ACCOUNTCAL A
INNER JOIN ##CustomerCal B
ON A.SOURCESYSTEMCUSTOMERID=B.SOURCESYSTEMCUSTOMERID
 WHERE A.DEGREASON='PERCOLATION BY OTHER ACCOUNT'
 	AND A.FlgDeg='N'
---------------------------------------------------------------------
--START OF MODIFICATION--HANDLING OF ACCOUNTS WITH FUTURE NPA DATE
---------------------------------------------------------------------


DECLARE @REF_DATE AS DATE = (SELECT Date FROM [dbo].Automate_Advances WHERE EXT_FLG='Y')
UPDATE ##CustomerCal SET SysNPA_Dt = @REF_DATE WHERE ISNULL(SysNPA_Dt,'1900-01-01') > @REF_DATE

UPDATE ##ACCOUNTCAL SET FinalNpaDt = @REF_DATE WHERE ISNULL(FinalNpaDt,'1900-01-01') > @REF_DATE

UPDATE ##CustomerCal SET SysNPA_Dt = @REF_DATE WHERE SysNPA_Dt IS NULL AND SysAssetClassAlt_Key>1
UPDATE ##ACCOUNTCAL SET FinalNpaDt = @REF_DATE WHERE FinalNpaDt IS NULL AND FinalAssetClassAlt_Key>1

--Added By Mandeep to mark customer NPA on the basis of CoBorrower Data(14-08-2023) Logic discussed with amar sir--------



-------------------Added by Kapil For Same day perculation by Cobo with different UCIC on Date 21/11/2025
 IF @FlgPreErosion='Y'
 Begin
/* START PERCOLATION WORK -- AMAR 31082021 */	
/* MERGING DATA FOR ALL SOURCES FOR FIND LOWEST ASSET CLASS AND MIN NPA DATE */
	
	IF OBJECT_ID('TEMPDB..#CTE_PERC_1') IS NOT NULL
    DROP TABLE #CTE_PERC_1

	SELECT * INTO 
		#CTE_PERC_1
	FROM
		(		/* ADVANCE DATA */
			SELECT UCIF_ID,MAX(ISNULL(SYSASSETCLASSALT_KEY,1)) SYSASSETCLASSALT_KEY ,MIN(SYSNPA_DT) SYSNPA_DT
			,'ADV' PercType
			FROM ##CustomerCal A WHERE ( UCIF_ID IS NOT NULL and UCIF_ID<>'0' ) AND  ISNULL(SYSASSETCLASSALT_KEY,1)<>1
			GROUP BY  UCIF_ID
			UNION
			/* INVESTMENT DATA */
			SELECT UcifId UCIF_ID,MAX(ISNULL(FinalAssetClassAlt_Key,1)) SYSASSETCLASSALT_KEY ,MIN(NPIDt) SYSNPA_DT
			,'INV' PercType
			FROM InvestmentFinancialDetail A 
				INNER JOIN InvestmentBasicDetail B
					ON A.InvEntityId =B.InvEntityId
					AND A.EffectiveFromTimeKey <=@TIMEKEY AND A.EffectiveToTimeKey >=@TIMEKEY
					AND B.EffectiveFromTimeKey <=@TIMEKEY AND B.EffectiveToTimeKey >=@TIMEKEY
				INNER JOIN InvestmentIssuerDetail C
					ON C.IssuerEntityId=B.IssuerEntityId
					AND C.EffectiveFromTimeKey <=@TIMEKEY AND C.EffectiveToTimeKey >=@TIMEKEY
			WHERE ISNULL(FinalAssetClassAlt_Key,1)<>1
			GROUP BY  UcifId
			/* DERIVATIVE DATA */
			UNION 
				SELECT UCIC_ID,MAX(ISNULL(FinalAssetClassAlt_Key,1)) SYSASSETCLASSALT_KEY ,MIN(NPIDt) SYSNPA_DT
				,'DER' PercType
			FROM CurDat.DerivativeDetail A 
				WHERE  A.EffectiveFromTimeKey <=@TIMEKEY AND A.EffectiveToTimeKey >=@TIMEKEY
					AND ISNULL(FinalAssetClassAlt_Key,1)<>1
			GROUP BY  UCIC_ID
		)A

	/*  FIND LOWEST ASSET CLASS AND IN NPA DATE IN AALL SOURCES */
	IF OBJECT_ID('TEMPDB..#TEMPTABLE_UCFIC_New') IS NOT NULL
    DROP TABLE #TEMPTABLE_UCFIC_New

	SELECT UCIF_ID, MAX(SYSASSETCLASSALT_KEY) SYSASSETCLASSALT_KEY, MIN(SYSNPA_DT)SYSNPA_DT
			,'XXX' PercType
		INTO #TEMPTABLE_UCFIC_New 
	FROM #CTE_PERC_1
		GROUP BY UCIF_ID

	UPDATE A
		SET A.PercType=B.PercType 
	FROM #TEMPTABLE_UCFIC_New A
		INNER JOIN #CTE_PERC_1 B
			ON A.UCIF_ID =B.UCIF_ID
			AND A.SYSASSETCLASSALT_KEY =B.SYSASSETCLASSALT_KEY 
			

	DROP TABLE IF EXISTS #CTE_PERC_1

	/*  UPDATE LOWEST ASSET CLASS AND MIN NPA DATE IN - ADVANCE DATA */
	UPDATE A SET SysAssetClassAlt_Key=B.SYSASSETCLASSALT_KEY
				,A.SysNPA_Dt=B.SYSNPA_DT
				,A.DegReason=CASE WHEN A.SysAssetClassAlt_Key =1 AND B.SYSASSETCLASSALT_KEY >1 
								THEN  
									CASE WHEN B.PercType ='INV' THEN	'PERCOLATION BY INVESTMENT UCIFID '  + B.UCIF_ID 
										 WHEN B.PercType ='DER' THEN	'PERCOLATION BY DERIVATIVE UCIFID '  + B.UCIF_ID  	
										ELSE A.DegReason
									END 
								ELSE  A.DegReason
							END
	FROM ##CustomerCal A
		INNER JOIN #TEMPTABLE_UCFIC_New B ON A.UCIF_ID =B.UCIF_ID


	/* UPDATE INVESTMENT DATA - LOWEST ASSET CLASS AND MIN NPA DATE */
	UPDATE A SET A.FinalAssetClassAlt_Key=D.SYSASSETCLASSALT_KEY
	             ,A.NPIDt=D.SYSNPA_DT  
				,A.DegReason=CASE WHEN A.FinalAssetClassAlt_Key =1 AND D.SYSASSETCLASSALT_KEY >1 
								THEN  
									CASE WHEN D.PercType ='ADV' THEN	'PERCOLATION BY LOAN AC UCIFID ' + D.UCIF_ID 
										 WHEN D.PercType ='DER' THEN	'PERCOLATION BY DERIVATIVE UCIFID '  + D.UCIF_ID  	
										ELSE A.DegReason
									END 
								ELSE  A.DegReason
							END
	 FROM InvestmentFinancialDetail A 
				INNER JOIN InvestmentBasicDetail B
					ON A.InvEntityId =B.InvEntityId
					AND A.EffectiveFromTimeKey <=@TIMEKEY AND A.EffectiveToTimeKey >=@TIMEKEY
					AND B.EffectiveFromTimeKey <=@TIMEKEY AND B.EffectiveToTimeKey >=@TIMEKEY
				INNER JOIN InvestmentIssuerDetail C
					ON C.IssuerEntityId=B.IssuerEntityId
					AND C.EffectiveFromTimeKey <=@TIMEKEY AND C.EffectiveToTimeKey >=@TIMEKEY
				INNER JOIN #TEMPTABLE_UCFIC_New D ON D.UCIF_ID =C.UcifId

	/*  UPDATE   LOWEST ASSET CLASS AND MIN NPA DATE IN -  DERIVATIVE DATA */
	UPDATE A SET FinalAssetClassAlt_Key=B.SYSASSETCLASSALT_KEY
				,A.NPIDt=SYSNPA_DT
				,A.DegReason=CASE WHEN A.FinalAssetClassAlt_Key =1 AND B.SYSASSETCLASSALT_KEY >1 
								THEN  
									CASE WHEN B.PercType ='ADV' THEN 'PERCOLATION BY LOAN AC UCIFID ' + B.UCIF_ID 
										 WHEN B.PercType ='INV' THEN 'PERCOLATION BY INVESTMENT UCIFID ' + B.UCIF_ID  	
										ELSE A.DegReason
									END 
								ELSE  A.DegReason
							END
	FROM CurDat.DerivativeDetail A
		INNER JOIN #TEMPTABLE_UCFIC_New B ON A.UCIC_ID =B.UCIF_ID
		AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY

	DROP TABLE IF EXISTS #TEMPTABLE_UCFIC_New


	/* INVESTMENT AND DERVATIVE PROVISION CALCULATION */
	DROP TABLE IF EXISTS #CTE_AA_New
	DROP TABLE IF EXISTS #CTE_BB_New

	SELECT UcifEntityID 
		INTO #CTE_AA_New
	FROM ##ACCOUNTCAL A
		INNER JOIN PRO.BuyoutUploadDetailsCal B
			ON A.AccountEntityID=B.AccountEntityID
	WHERE (FlgDeg='Y' OR ISNULL(A.DPD_OVERDUE,0) >=A.REFPERIODOVERDUE OR NPA_ClassSeller='Y' )
		AND Asset_Norm<>'ALYWS_STD'
	GROUP BY UcifEntityID

	/* REMOVE FLAG NPA_VDPD OR NPA_SELLER IN CASE OF SAME UCIF OTHER ACCOUNT DEGRADE  BY REFERENCE PERIOD */
	SELECT A.UcifEntityID INTO #CTE_BB_New 
	FROM #CTE_AA_New A
		INNER JOIN 	##ACCOUNTCAL  B
			ON A.UcifEntityID=B.UcifEntityID
		LEFT JOIN PRO.BuyoutUploadDetailsCal C
			ON B.CustomerAcID=C.CustomerAcID
		WHERE C.CustomerAcID IS NULL
			AND (B.FlgDeg='Y'  
						OR (ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE)
						OR (ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN)
						OR (ISNULL(B.DPD_NOCREDIT,0) >=B.REFPERIODNOCREDIT)
						OR (ISNULL(B.DPD_OVERDUE,0)  >=B.REFPERIODOVERDUE)
						OR (ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT)
						OR (ISNULL(B.DPD_RENEWAL,0)  >=B.REFPERIODREVIEW)
				)
		GROUP BY A.UcifEntityID

		UPDATE B
			SET B.NPA_FLAG='NPA_OTHERS'
		FROM ##ACCOUNTCAL A
			INNER JOIN #CTE_BB_New AA
				ON A.UcifEntityID=A.UcifEntityID
			INNER JOIN PRO.BuyoutUploadDetailsCal  B
				ON B.AccountEntityId=A.AccountEntityId


/* END OF PERCOLATION WORK */

	 UPDATE A SET 
	         A.FinalAssetClassAlt_Key=ISNULL(B.SysAssetClassAlt_Key,1)
		    ,A.FinalNpaDt=B.SysNPA_Dt
			FROM ##ACCOUNTCAL A INNER   JOIN ##CustomerCal B 
			ON  A.RefCustomerID=B.RefCustomerID AND A.SourceSystemCustomerID=B.SourceSystemCustomerID 
			WHERE ISNULL(B.SysAssetClassAlt_Key,1)<>1 AND B.RefCustomerID<>'0'

	UPDATE A SET 
	         A.FinalAssetClassAlt_Key=ISNULL(B.SysAssetClassAlt_Key,1)
		    ,A.FinalNpaDt=B.SysNPA_Dt
			FROM ##ACCOUNTCAL A INNER   JOIN ##CustomerCal B 
			ON  A.SourceSystemCustomerID=B.SourceSystemCustomerID 
			WHERE ISNULL(B.SysAssetClassAlt_Key,1)<>1

	UPDATE A SET 
	         A.FinalAssetClassAlt_Key=ISNULL(B.SysAssetClassAlt_Key,1)
		    ,A.FinalNpaDt=B.SysNPA_Dt
			FROM ##ACCOUNTCAL A INNER   JOIN ##CustomerCal B 
			ON  A.UcifEntityID=B.UcifEntityID 
			WHERE ISNULL(B.SysAssetClassAlt_Key,1)<>1
END

-------------------END OF  --Added by Kapil For Same day perculation by Cobo with different UCIC on Date 21/11/2025




UPDATE A
SET
A.FinalAssetClass_AltKey=B.FinalAssetClassAlt_Key,
A.InitialAssetClass_AltKey=B.InitialAssetClassAlt_Key,
A.Asset_Norm=B.Asset_Norm,
A.FINALNPADT=B.FINALNPADT,
A.InitialNpaDt=B.InitialNpaDt,
A.AccountEntityid=B.AccountEntityID,
A.Customerentityid=B.CustomerEntityID,
A.UcifEntityID=B.UcifEntityID,
A.DegradeReason=B.DegReason   --- Addded by mandeep 13102023 DegReason Update to Null Issue 30092023 Quater End Issue 
FROM
[PRO].[CoBorrowerCal] A
INNER JOIN 
##ACCOUNTCAL B
ON A.CUSTOMERACID=B.CUSTOMERACID


DECLARE @MAX INT , @MIN INT
SET @MIN=1
SET @MAX= (
            SELECT MAX([COUNT])[COUNT]  FROM 
			(SELECT COUNT(UCIC) [COUNT] FROM [PRO].[CoBorrowerCal] GROUP BY Cohort_No)
			A
			)

WHILE @MAX>=@MIN
BEGIN
UPDATE B 
SET	B.FinalAssetClass_AltKey=A.FinalAssetClass_AltKey,
	B.FINALNPADT=A.FINALNPADT,
	B.DegradeReason=CONCAT(B.DegradeReason,' Co Borrower NPA '+A.NPA_UCIC_ID+' UCIC Of Main')
FROM [PRO].[CoBorrowerCal]  A
	inner join [PRO].[CoBorrowerCal] B
	on B.MAINCUSTID=A.[CustomerID]
	and A.[CustomerType] IN ('Coborrower','CO_OBLIGANT')
	AND A.FinalAssetClass_AltKey>1
	AND B.FinalAssetClass_AltKey=1

	SET @MIN=@MIN+1
	END

DROP TABLE IF EXISTS #MAXASSET
SELECT 
Cohort_No,
MAX(FinalAssetClass_AltKey)FinalAssetClass_AltKey,
MIN(FinalNpaDt)FinalNpaDt
INTO #MAXASSETCLASS
FROM PRO.CoBorrowerCal
WHERE FinalAssetClass_AltKey>1
GROUP BY Cohort_No


UPDATE A
SET 
A.PERC_FinalAssetClass_AltKey=B.FinalAssetClass_AltKey,
A.PERC_FinalNpaDt=B.FinalNpaDt
FROM 
PRO.CoBorrowerCal A
INNER JOIN 
#MAXASSETCLASS B
ON A.Cohort_No=B.Cohort_No
WHERE 
A.FinalAssetClass_AltKey>1


----DROP TABLE IF EXISTS #MAXUCIC
----SELECT 
----UCIC,
----DegradeReason,
----MAX(PERC_FinalAssetClass_AltKey)FINALASSETCLASS_ALTKEY,
----MIN(PERC_FinalNpaDt)FinalNpaDt
----INTO #MAXUCIC
----FROM 
----PRO.CoborrowerCAL 
----where 
----FinalAssetClass_AltKey>1 group by UCIC,DegradeReason

UPDATE 
A 
SET 
A.SysAssetClassAlt_Key=B.PERC_FinalAssetClass_AltKey,
A.SysNPA_Dt=B.PERC_FinalNpaDt,
--A.NPA_Reason=CONCAT(A.NPA_Reason,' ',b.DegradeReason),
--A.DegReason=b.DegradeReason
A.DegReason=Concat(b.DegradeReason,' Percolated by Cohort No',B.Cohort_No )  -- Addded by mandeep 13102023 DegReason Update to Null Issue 
FROM 
##CustomerCal A
INNER JOIN 
PRO.CoBorrowerCal B
ON A.RefCustomerID=B.CustomerID
WHERE 
A.Asset_Norm NOT IN('AlWYS_STD')
AND B.PERC_FinalAssetClass_AltKey>1



----------------------Added by prashant-------16112023---------------------
UPDATE 
A 
SET 
A.SysAssetClassAlt_Key=B.PERC_FinalAssetClass_AltKey,
A.SysNPA_Dt=B.PERC_FinalNpaDt,
--A.NPA_Reason=CONCAT(A.NPA_Reason,' ',b.DegradeReason),
A.DegReason=Concat(b.DegradeReason,' Percolated by Cohort No',B.Cohort_No )  -- Addded by mandeep 13102023 DegReason Update to Null Issue 30092023 Quater End Issue 
FROM 
##CustomerCal A
INNER JOIN 
PRO.CoBorrowerCal B
ON A.UCIF_ID=B.UCIC
WHERE 
A.Asset_Norm NOT IN('AlWYS_STD')
AND B.PERC_FinalAssetClass_AltKey>1

---------------------------------------------------------------------

UPDATE 
A 
SET 
A.FinalAssetClassAlt_Key=B.PERC_FinalAssetClass_AltKey,
A.FinalNpaDt=B.PERC_FinalNpaDt,
A.NPA_Reason=(CASE WHEN B.DegradeReason LIKE '%'+A.NPA_Reason+'%' 
                   THEN A.NPA_Reason 
                   ELSE  CONCAT(A.NPA_Reason,',',b.DegradeReason) END),
A.DegReason=b.DegradeReason
FROM 
##ACCOUNTCAL A
INNER JOIN 
(SELECT DISTINCT CUSTOMERACID,PERC_FinalAssetClass_AltKey,PERC_FinalNpaDt,DegradeReason
FROM PRO.CoBorrowerCal) B
ON A.CustomerAcID=B.CustomerACID

--WHERE A.Asset_Norm NOT IN('AlWYS_STD')
WHERE (A.Asset_Norm NOT IN ('AlWYS_STD') OR A.MOCTYPE IS NULL) ----------Added by Prashant 20022025 as discussion with Akshay sir , Kandpal sir and Jayadev ----
AND B.PERC_FinalAssetClass_AltKey>1


------------------------------END of COborrower Degrade work --------------------------------------------------------------

/*------------------------------UPDATE UNIFORM ASSET CLASSIFICATION--------------------------------*/

	--IF OBJECT_ID('TEMPDB..#TEMPTABLE_UCFIC1') IS NOT NULL
 --   DROP TABLE #TEMPTABLE_UCFIC1
	--/*07072021AMAR COMMENT  ED  JOIN FOR DIMDBSOURCE FOR PERCULATE AT UCIF LEVEL AS DISCUSSED WITH sHARMA SIR AND TRILOKI SIR */
	--SELECT UCIF_ID,MAX(ISNULL(SYSASSETCLASSALT_KEY,1)) SYSASSETCLASSALT_KEY
	--,MIN(SYSNPA_DT) SYSNPA_DT-- ,B.SourceDBName 
	-- INTO #TEMPTABLE_UCFIC1 FROM PRO.CUSTOMERCAL A
	-- ---INNER JOIN DIMSOURCEDB  B ON B.SourceAlt_Key=A.SourceAlt_Key 
	-- --AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY


	--WHERE ( UCIF_ID IS NOT NULL and UCIF_ID<>'0' ) AND  ISNULL(SYSASSETCLASSALT_KEY,1)<>1
	--GROUP BY  UCIF_ID--,B.SourceDBName

 /* START PERCOLATION WORK -- AMAR 31082021 */
	
	IF @FlgPreErosion='Y'

	BEGIN

	EXEC [PRO].[InvestmentDataProcessing] @TimeKey

	EXEC [PRO].[DerivativeDataProcessing] @TimeKey

	END
		/* MERGING DATA FOR ALL SOURCES FOR FIND LOWEST ASSET CLASS AND MIN NPA DATE */
	
	IF OBJECT_ID('TEMPDB..#CTE_PERC') IS NOT NULL
    DROP TABLE #CTE_PERC

	SELECT * INTO 
		#CTE_PERC
	FROM
		(		/* ADVANCE DATA */
			SELECT UCIF_ID,MAX(ISNULL(SYSASSETCLASSALT_KEY,1)) SYSASSETCLASSALT_KEY ,MIN(SYSNPA_DT) SYSNPA_DT
			,'ADV' PercType
			FROM ##CustomerCal A WHERE ( UCIF_ID IS NOT NULL and UCIF_ID<>'0' ) AND  ISNULL(SYSASSETCLASSALT_KEY,1)<>1
			GROUP BY  UCIF_ID
			UNION
			/* INVESTMENT DATA */
			SELECT UcifId UCIF_ID,MAX(ISNULL(FinalAssetClassAlt_Key,1)) SYSASSETCLASSALT_KEY ,MIN(NPIDt) SYSNPA_DT
			,'INV' PercType
			FROM InvestmentFinancialDetail A 
				INNER JOIN InvestmentBasicDetail B
					ON A.InvEntityId =B.InvEntityId
					AND A.EffectiveFromTimeKey <=@TIMEKEY AND A.EffectiveToTimeKey >=@TIMEKEY
					AND B.EffectiveFromTimeKey <=@TIMEKEY AND B.EffectiveToTimeKey >=@TIMEKEY
				INNER JOIN InvestmentIssuerDetail C
					ON C.IssuerEntityId=B.IssuerEntityId
					AND C.EffectiveFromTimeKey <=@TIMEKEY AND C.EffectiveToTimeKey >=@TIMEKEY
			WHERE ISNULL(FinalAssetClassAlt_Key,1)<>1
			GROUP BY  UcifId
			/* DERIVATIVE DATA */
			UNION 
				SELECT UCIC_ID,MAX(ISNULL(FinalAssetClassAlt_Key,1)) SYSASSETCLASSALT_KEY ,MIN(NPIDt) SYSNPA_DT
				,'DER' PercType
			FROM CurDat.DerivativeDetail A 
				WHERE  A.EffectiveFromTimeKey <=@TIMEKEY AND A.EffectiveToTimeKey >=@TIMEKEY
					AND ISNULL(FinalAssetClassAlt_Key,1)<>1
			GROUP BY  UCIC_ID
		)A

	/*  FIND LOWEST ASSET CLASS AND IN NPA DATE IN AALL SOURCES */
	IF OBJECT_ID('TEMPDB..#TEMPTABLE_UCFIC1') IS NOT NULL
    DROP TABLE #TEMPTABLE_UCFIC1

	SELECT UCIF_ID, MAX(SYSASSETCLASSALT_KEY) SYSASSETCLASSALT_KEY, MIN(SYSNPA_DT)SYSNPA_DT
			,'XXX' PercType
		INTO #TEMPTABLE_UCFIC1 
	FROM #CTE_PERC
		GROUP BY UCIF_ID

	UPDATE A
		SET A.PercType=B.PercType 
	FROM #TEMPTABLE_UCFIC1 A
		INNER JOIN #CTE_PERC B
			ON A.UCIF_ID =B.UCIF_ID
			AND A.SYSASSETCLASSALT_KEY =B.SYSASSETCLASSALT_KEY 
			

	DROP TABLE IF EXISTS #CTE_PERC

	/*  UPDATE LOWEST ASSET CLASS AND MIN NPA DATE IN - ADVANCE DATA */
	UPDATE A SET SysAssetClassAlt_Key=B.SYSASSETCLASSALT_KEY
				,A.SysNPA_Dt=B.SYSNPA_DT
				,A.DegReason=CASE WHEN A.SysAssetClassAlt_Key =1 AND B.SYSASSETCLASSALT_KEY >1 
								THEN  
									CASE WHEN B.PercType ='INV' THEN	'PERCOLATION BY INVESTMENT UCIFID '  + B.UCIF_ID 
										 WHEN B.PercType ='DER' THEN	'PERCOLATION BY DERIVATIVE UCIFID '  + B.UCIF_ID  	
										ELSE A.DegReason
									END 
								ELSE  A.DegReason
							END
	FROM ##CustomerCal A
		INNER JOIN #TEMPTABLE_UCFIC1 B ON A.UCIF_ID =B.UCIF_ID


	/* UPDATE INVESTMENT DATA - LOWEST ASSET CLASS AND MIN NPA DATE */
	UPDATE A SET A.FinalAssetClassAlt_Key=D.SYSASSETCLASSALT_KEY
	             ,A.NPIDt=D.SYSNPA_DT  
				,A.DegReason=CASE WHEN A.FinalAssetClassAlt_Key =1 AND D.SYSASSETCLASSALT_KEY >1 
								THEN  
									CASE WHEN D.PercType ='ADV' THEN	'PERCOLATION BY LOAN AC UCIFID ' + D.UCIF_ID 
										 WHEN D.PercType ='DER' THEN	'PERCOLATION BY DERIVATIVE UCIFID '  + D.UCIF_ID  	
										ELSE A.DegReason
									END 
								ELSE  A.DegReason
							END
	 FROM InvestmentFinancialDetail A 
				INNER JOIN InvestmentBasicDetail B
					ON A.InvEntityId =B.InvEntityId
					AND A.EffectiveFromTimeKey <=@TIMEKEY AND A.EffectiveToTimeKey >=@TIMEKEY
					AND B.EffectiveFromTimeKey <=@TIMEKEY AND B.EffectiveToTimeKey >=@TIMEKEY
				INNER JOIN InvestmentIssuerDetail C
					ON C.IssuerEntityId=B.IssuerEntityId
					AND C.EffectiveFromTimeKey <=@TIMEKEY AND C.EffectiveToTimeKey >=@TIMEKEY
				INNER JOIN #TEMPTABLE_UCFIC1 D ON D.UCIF_ID =C.UcifId

	/*  UPDATE   LOWEST ASSET CLASS AND MIN NPA DATE IN -  DERIVATIVE DATA */
	UPDATE A SET FinalAssetClassAlt_Key=B.SYSASSETCLASSALT_KEY
				,A.NPIDt=SYSNPA_DT
				,A.DegReason=CASE WHEN A.FinalAssetClassAlt_Key =1 AND B.SYSASSETCLASSALT_KEY >1 
								THEN  
									CASE WHEN B.PercType ='ADV' THEN 'PERCOLATION BY LOAN AC UCIFID ' + B.UCIF_ID 
										 WHEN B.PercType ='INV' THEN 'PERCOLATION BY INVESTMENT UCIFID ' + B.UCIF_ID  	
										ELSE A.DegReason
									END 
								ELSE  A.DegReason
							END
	FROM CurDat.DerivativeDetail A
		INNER JOIN #TEMPTABLE_UCFIC1 B ON A.UCIC_ID =B.UCIF_ID
		AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY

	DROP TABLE IF EXISTS #TEMPTABLE_UCFIC1


	/* INVESTMENT AND DERVATIVE PROVISION CALCULATION */

IF @FlgPreErosion='N'

	BEGIN

	EXEC [PRO].[InvestmentDerivativeProvisionCal] @TIMEKEY

	END

/* END OF PERCOLATION WORK */


/* BUYOUT - MARKING OF PERCoLATION/LiNCKED ACCOUNT NPA IN ADVANCE DATA FROM BUYOUT */
	DROP TABLE IF EXISTS #BUYOUT_NPA_EFFCTD_TO_NRML_AC
	DROP TABLE IF EXISTS #CTE_AA
	DROP TABLE IF EXISTS #CTE_BB

	SELECT UcifEntityID 
		INTO #CTE_AA
	FROM ##ACCOUNTCAL A
		INNER JOIN PRO.BuyoutUploadDetailsCal B
			ON A.AccountEntityID=B.AccountEntityID
	WHERE (FlgDeg='Y' OR ISNULL(A.DPD_OVERDUE,0) >=A.REFPERIODOVERDUE OR NPA_ClassSeller='Y' )
		AND Asset_Norm<>'ALYWS_STD'
	GROUP BY UcifEntityID

	/* REMOVE FLAG NPA_VDPD OR NPA_SELLER IN CASE OF SAME UCIF OTHER ACCOUNT DEGRADE  BY REFERENCE PERIOD */
	SELECT A.UcifEntityID INTO #CTE_BB 
	FROM #CTE_AA A
		INNER JOIN 	##ACCOUNTCAL  B
			ON A.UcifEntityID=B.UcifEntityID
		LEFT JOIN PRO.BuyoutUploadDetailsCal C
			ON B.CustomerAcID=C.CustomerAcID
		WHERE C.CustomerAcID IS NULL
			AND (B.FlgDeg='Y'  
						OR (ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE)
						OR (ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN)
						OR (ISNULL(B.DPD_NOCREDIT,0) >=B.REFPERIODNOCREDIT)
						OR (ISNULL(B.DPD_OVERDUE,0)  >=B.REFPERIODOVERDUE)
						OR (ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT)
						OR (ISNULL(B.DPD_RENEWAL,0)  >=B.REFPERIODREVIEW)
				)
		GROUP BY A.UcifEntityID

		UPDATE B
			SET B.NPA_FLAG='NPA_OTHERS'
		FROM ##ACCOUNTCAL A
			INNER JOIN #CTE_BB AA
				ON A.UcifEntityID=A.UcifEntityID
			INNER JOIN PRO.BuyoutUploadDetailsCal  B
				ON B.AccountEntityId=A.AccountEntityId


	
		/* END OF NPA FLAG UPDATE*/



	----SELECT A.UcifEntityID INTO #BUYOUT_NPA_EFFCTD_TO_NRML_AC
	----FROM #CTE_AA A
	----	INNER JOIN PRO.ACCOUNTCAL B
	----		ON A.UcifEntityID =B.UcifEntityID
	----		AND B.FlgDeg='N'
	----		AND Asset_Norm<>'ALYWS_STD'
	----EXCEPT				
	----SELECT A.UcifEntityID 
	----FROM #CTE_AA A
	----	INNER JOIN PRO.ACCOUNTCAL B
	----		ON A.UcifEntityID =B.UcifEntityID
	----	LEFT JOIN PRO.BuyoutUploadDetailsCal C
	----		ON C.AccountEntityID=B.AccountEntityID
	----	WHERE C.AccountEntityID IS NULL
	----		AND (B.FlgDeg='Y'  
	----					OR (ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE)
	----					OR (ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN)
	----					OR (ISNULL(B.DPD_NOCREDIT,0) >=B.REFPERIODNOCREDIT)
	----					OR (ISNULL(B.DPD_OVERDUE,0)  >=B.REFPERIODOVERDUE)
	----					OR (ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT)
	----					OR (ISNULL(B.DPD_RENEWAL,0)  >=B.REFPERIODREVIEW)
	----			)
	----		AND Asset_Norm<>'ALYWS_STD'

	----UPDATE A
	----	SET A.NPA_EffectedToMainAdv=CASE WHEN C.UcifEntityID IS NULL THEN 'N' ELSE 'Y' END
	----FROM PRO.BuyoutUploadDetailsCal A
	----	INNER JOIN pro.ACCOUNTCAL B
	----		ON A.AccountEntityID=B.AccountEntityID
	----	 LEFT JOIN #BUYOUT_NPA_EFFCTD_TO_NRML_AC C
	----		ON B.UcifEntityID=C.UcifEntityID

/* END OF LOAN BUYOUT */


	 UPDATE A SET 
	         A.FinalAssetClassAlt_Key=ISNULL(B.SysAssetClassAlt_Key,1)
		    ,A.FinalNpaDt=B.SysNPA_Dt
			FROM ##ACCOUNTCAL A INNER   JOIN ##CustomerCal B 
			ON  A.RefCustomerID=B.RefCustomerID AND A.SourceSystemCustomerID=B.SourceSystemCustomerID 
			WHERE ISNULL(B.SysAssetClassAlt_Key,1)<>1 AND B.RefCustomerID<>'0'

	UPDATE A SET 
	         A.FinalAssetClassAlt_Key=ISNULL(B.SysAssetClassAlt_Key,1)
		    ,A.FinalNpaDt=B.SysNPA_Dt
			FROM ##ACCOUNTCAL A INNER   JOIN ##CustomerCal B 
			ON  A.SourceSystemCustomerID=B.SourceSystemCustomerID 
			WHERE ISNULL(B.SysAssetClassAlt_Key,1)<>1

	UPDATE A SET 
	         A.FinalAssetClassAlt_Key=ISNULL(B.SysAssetClassAlt_Key,1)
		    ,A.FinalNpaDt=B.SysNPA_Dt
			FROM ##ACCOUNTCAL A INNER   JOIN ##CustomerCal B 
			ON  A.UcifEntityID=B.UcifEntityID 
			WHERE ISNULL(B.SysAssetClassAlt_Key,1)<>1
		
	 
	 UPDATE A SET DEGREASON=B.DEGREASON
	FROM ##ACCOUNTCAL A INNER JOIN ##CustomerCal B ON A.SourceSystemCustomerID =B.SourceSystemCustomerID
	WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='N') AND B.DegReason IS NOT NULL AND A.FinalAssetClassAlt_Key>1 AND A.DegReason IS NULL


	 UPDATE A SET DEGREASON=B.DEGREASON
	FROM ##ACCOUNTCAL A INNER JOIN ##CustomerCal B ON A.SourceSystemCustomerID =B.SourceSystemCustomerID
	WHERE (B.FlgProcessing='N')  AND (A.FLGDEG='N') AND B.DegReason IS NOT NULL AND A.FinalAssetClassAlt_Key>1
	 AND A.DegReason IS NULL

	 ----UPDATE A SET DegReason='PERCOLATION BY UCIFID ' + ' ' + B.SourceDBName + '  ' + B.UCIF_ID 
	 ----FROM PRO.CustomerCal A INNER JOIN #TEMPTABLE_UCFIC1 B ON A.UCIF_ID=B.UCIF_ID
	 ----WHERE A.SrcAssetClassAlt_Key=1 AND A.SysAssetClassAlt_Key>1
	 ----AND A.DegReason IS NULL

	---- IF OBJECT_ID('TEMPDB..#TEMPTABLE_UCFICDbtDt') IS NOT NULL
 ----   DROP TABLE #TEMPTABLE_UCFICDbtDt

	----SELECT UcifEntityID,DbtDt
	---- INTO #TEMPTABLE_UCFICDbtDt FROM PRO.CUSTOMERCAL
	----WHERE ( UCIF_ID IS NOT NULL and UCIF_ID<>'0' ) AND  ISNULL(SYSASSETCLASSALT_KEY,1) IN(3,4,5)
	---- AND DbtDt IS NOT NULL 
	----GROUP BY  UcifEntityID,DbtDt

	---- UPDATE B SET DbtDt =A.DbtDt FROM #TEMPTABLE_UCFICDbtDt A
	----INNER JOIN PRO.CUSTOMERCAL B ON A.UcifEntityID=B.UcifEntityID	 AND B.DbtDt IS NULL


UPDATE B SET B.FinalNpaDt=A.SYSNPA_DT FROM ##CustomerCal A INNER JOIN ##ACCOUNTCAL B  ON A.SourceSystemCustomerID=B.SourceSystemCustomerID
WHERE ISNULL(B.ASSET_NORM,'NORMAL')<>'ALWYS_STD' AND (ISNULL(A.FlgProcessing,'N')='N') 
and  isnull(A.SysNPA_Dt,'')<>isnull(b.FinalNpaDt,'') 
AND ISNULL(A.FlgDeg,'N')='N'
AND A.RefCustomerID<>'0'

/*---------------UPDATE ASSET CLASS STD WHERE ASSET NORM ALWAYS STD---------------*/




UPDATE A SET FinalAssetClassAlt_Key=1,FinalNpaDt=NULL, DEGREASON=NULL FROM ##ACCOUNTCAL A WHERE A.ASSET_NORM ='ALWYS_STD'

	 ---UPDATE  MULTIPLE   DegReason IN PRO.CUSTOMERCAL TABLE-------

	 IF object_id('TEMPDB..#Data') is NOT NULL
     DROP TABLE #Data

	select distinct DegReason ,UcifEntityID  INTO #Data from ##ACCOUNTCAL  WHERE DegReason IS NOT NULL AND FLGDEG='Y'



	IF object_id('TEMPDB..#NPADegReason') is NOT NULL
	DROP TABLE #NPADegReason
	select UcifEntityID,STRING_AGG( DegReason,'')  DegReason 
	into  #NPADegReason from #Data
	group by UcifEntityID
--IF object_id('TEMPDB..#DD') is NOT NULL
--DROP TABLE #DD

--Select SourceSystemCustomerID ,DegReason ,ROW_NUMBER()OVER(PARTITION by SourceSystemCustomerID order by SourceSystemCustomerID) AS RN  INTO #DD  FROM #Data


--IF object_id('TEMPDB..#NPADegReason') is NOT NULL
--DROP TABLE #NPADegReason

--SELECT SourceSystemCustomerID ,DegReason INTO #NPADegReason FROM
--(
--Select SourceSystemCustomerID,([1] +ISNULL(' ,'+[2],'') +ISNULL(' ,' + [3],'')   +ISNULL(' ,' + [4],'')  +ISNULL(' ,' + [5],'')  +ISNULL(' ,' + [6],'')
--+ISNULL(' ,' + [7],'')  +ISNULL(' ,' + [8],'')  +ISNULL(' ,' + [9],'')  +ISNULL(' ,' + [10],'')  +ISNULL(' ,' + [11],'')  +ISNULL(' ,' + [12],'')
--+ISNULL(' ,' + [13],'')  +ISNULL(' ,' + [14],'')  +ISNULL(' ,' + [15],'')  +ISNULL(' ,' + [16],'')  +ISNULL(' ,' + [17],'')) AS DegReason
--FROM(
--Select SourceSystemCustomerID, DegReason,  RN FROM #DD  )a 
--PIVOT 
--(
--MAX(DegReason)  FOR RN IN ([1],[2],[3],[4],[5],[6],[7],[8],[9],[10],[11],[12],[13],[14],[15],[16],[17])
--) S
--) A


	UPDATE A SET DegReason=B.DegReason  FROM ##CustomerCal A 
	INNER JOIN #NPADegReason B  ON A.UcifEntityID=B.UcifEntityID
	AND A.FlgDeg='Y'

	Update ##CustomerCal set FlgUpg ='N' where SrcAssetClassAlt_Key =1 and SysAssetClassAlt_Key >1
	Update ##CustomerCal set FlgDeg ='N' where SrcAssetClassAlt_Key >1 and SysAssetClassAlt_Key =1

	Update ##ACCOUNTCAL set FlgUpg ='N',UpgDate =null where InitialAssetClassAlt_Key  =1 and FinalAssetClassAlt_Key >1
	Update ##ACCOUNTCAL set FlgDeg ='N' where InitialAssetClassAlt_Key >1 and FinalAssetClassAlt_Key =1



	IF @FlgPreErosion='N'

	BEGIN
	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
		SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
		WHERE RUNNINGPROCESSNAME='Final_AssetClass_Npadate'
	END

   DROP TABLE #Data
   
   DROP TABLE #NPADegReason

   -----------------Added for DashBoard 04-03-2021
--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'
 
END TRY
BEGIN  CATCH
	
	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Final_AssetClass_Npadate'
END CATCH
SET NOCOUNT OFF
END











GO
