USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[InvestmentDataProcessing]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




----/*=========================================
---- AUTHER : TRILOKI KHANNA
---- CREATE DATE : 27-11-2019
---- MODIFY DATE : 27-11-2019
---- DESCRIPTION : UPDATE InvestmentDataProcessing
---- --EXEC [PRO].[InvestmentDataProcessing] @TIMEKEY=26196
--[PRO].[InvestmentDataProcessing] 26859
----=============================================*/


CREATE PROCEDURE [PRO].[InvestmentDataProcessing] 
@TIMEKEY INT --=266669
WITH RECOMPILE
/*=========================================
-- AUTHOR : TRILOKI KHANNA
-- CREATE DATE : 09-04-2021
-- MODIFY DATE : 09-04-2021
-- DESCRIPTION : Test Case Cover in This SP

--=============================================*/
AS
BEGIN
  SET NOCOUNT ON
   BEGIN TRY


   

DECLARE @PROCESSDATE DATE =(SELECT DATE FROM SysDayMatrix WHERE TimeKey=@TIMEKEY)
DECLARE @SUB_Days INT =(SELECT RefValue FROM PRO.refperiod WHERE BusinessRule='SUB_Days' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @DB1_Days INT =(SELECT RefValue FROM PRO.refperiod WHERE BusinessRule='DB1_Days' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @DB2_Days INT =(SELECT RefValue FROM PRO.refperiod WHERE BusinessRule='DB2_Days' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @MoveToDB1 DECIMAL(5,2) =(SELECT cast(RefValue/100.00 as decimal(5,2))FROM PRO.refperiod where BusinessRule='MoveToDB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @MoveToLoss DECIMAL(5,2)=(SELECT cast(RefValue/100.00 as decimal(5,2)) FROM PRO.refperiod where BusinessRule='MoveToLoss' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @SubStandard INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Sub Standard'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulI INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Doubtful-I'										    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulII INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Doubtful-II'										AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulIII INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and  PROVISIONNAME='Doubtful-III'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Loss INT =			(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Loss'											    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)


UPDATE InvestmentFinancialDetail SET DPD=0 WHERE EffectiveFromTimeKey<=@timekey AND EffectiveToTimeKey>=@timekey
AND ISNULL(DPD,0)=0

--/*---------------ASSIGNE DEG REASON---------------*/
--UPDATE B SET B.DEGREASON= 'DEGRADE BY MTMValue Less Than 1 Rs.' 
--FROM InvestmentBasicDetail A
--inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
--AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
--inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
--AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
--AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
--where MTMValueINR=1 and InvestmentNature='FD' AND B.AssetClass_AltKey=1
--AND FLGDEG ='Y'

----alter table rbl_tempdb.dbo.TempInvestmentFinancialDetail add PartialRedumptionDPD smallint



UPDATE A SET
	Asset_Norm='NORMAL'
FROM InvestmentFinancialDetail A 
	WHERE EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY





UPDATE A SET DPD_DivOverdue=0,DPD_Maturity=0,DPD=0, FLGDEG='N', FLGUPG='N',DEGREASON=NULL, UPGDATE=NULL
		,PartialRedumptionDPD=0
		,[DPD_BS_Date]=0  --Added by mandeep for Balancesheet DPD
FROM CURDAT.InvestmentFinancialDetail A
WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey

--/*UPDATE PREVISOU DAY STATUS AS INITIAL STATUS FOR CURRENT DAY */
--UPDATE A SET 
--		InitialAssetAlt_Key=B.FinalAssetClassAlt_Key
--		,InitialNPIDt =B.NPIDt
--FROM CURDAT.InvestmentFinancialDetail A
--	INNER JOIN InvestmentFinancialDetail B
--		ON A.InvEntityId =B.InvEntityId
--		AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
--	AND B.EffectiveFromTimeKey<=@timekey-1 AND B.EffectiveToTimeKey>=@timekey-1


UPDATE A SET 
		InitialAssetAlt_Key=a.FinalAssetClassAlt_Key
		,InitialNPIDt =a.NPIDt
FROM CURDAT.InvestmentFinancialDetail A
where A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey



--		------------------Added by Sudesh for One Time Code Run during LIVE 23102023 Investment Holding Nature Carry Forward--------
--		UPDATE A SET 
--		InitialAssetAlt_Key=B.FinalAssetClassAlt_Key
--		,InitialNPIDt =B.NPIDt
--FROM CURDAT.InvestmentFinancialDetail A
--	INNER JOIN InvestmentFinancialDetail B
--		ON SUBSTRING(A.RefInvID,1,charindex('_',A.RefInvID)-1)  =B.RefInvID
--		AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
--		AND B.EffectiveFromTimeKey<=@timekey-1 AND B.EffectiveToTimeKey>=@timekey-1

		----------------------------------------------
		


		
UPDATE A SET
	Asset_Norm='ALWYS_NPA'
FROM InvestmentFinancialDetail A 
INNER JOIN InvestmentBasicDetail Bb
	ON A.InvEntityId =bb.InvEntityId
	AND bb.EffectiveFromTimeKey <=@TIMEKEY AND bb.EffectiveToTimeKey >=@TIMEKEY
INNER JOIN InvestmentIssuerDetail Cc
	ON Cc.IssuerEntityId=bb.IssuerEntityId
	AND Cc.EffectiveFromTimeKey <=@TIMEKEY AND Cc.EffectiveToTimeKey >=@TIMEKEY
WHERE  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
AND isnull(UcifId,'') IN('RBL008827709','RBL003034380','RBL002980785')   /*  mannual npa as per RBL team Mr. Divakar  email dated  17-09-2021 time 14:12 for marked Manual NPA forcefully */

--======== ADDED BY MANDEEP  FOR WRITE OFF/SETTLEMENT  ==============================---

-- MAKRKING WRITE OFF ----------------------------

 ----DROP TABLE IF EXISTS #WRITE
 ----SELECT A.UcifId,min(StatusDate)StatusDate into #WRITE
 ----FROM DBO.InvestmentIssuerDetail A
 ----INNER JOIN DBO.ExceptionFinalStatusType B
 ----ON A.IssuerID=B.ACID
 ----AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 ----AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 ----AND B.SourceAlt_Key=7
 ----AND B.StatusType IN ('TWO','WO','WriteOff')
 ----group by A.UcifId

  UPDATE 
 A
 SET
 Asset_Norm='ALWYS_NPA',
 A.DEGREASON=CONCAT(A.DEGREASON ,',NPA DUE TO WriteOff Marking '),
 A.NPIDt=CASE WHEN StatusDate<A.NPIDt THEN StatusDate ELSE A.NPIDt END
 FROM DBO.InvestmentFinancialDetail A
  INNER JOIN DBO.ExceptionFinalStatusType C
	ON C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
	AND C.ACID=A.RefInvID
	AND C.StatusType IN ('TWO','WO','WriteOff') AND C.SourceAlt_key=7
 WHERE A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
	AND A.FinalAssetClassAlt_Key>1 

 UPDATE 
 A
 SET
 Asset_Norm='ALWYS_NPA',
 A.FLGDEG='Y',
 A.DEGREASON='NPA DUE TO WriteOff Marking ',
 A.NPIDt=CASE WHEN C.StatusDate IS NOT NULL THEN C.StatusDate ELSE @PROCESSDATE END,
 A.FinalAssetClassAlt_Key=2
 FROM DBO.InvestmentFinancialDetail A
  INNER JOIN DBO.ExceptionFinalStatusType C
	ON C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
	AND C.ACID=A.RefInvID
	AND C.StatusType IN ('TWO','WO','WriteOff') AND C.SourceAlt_key=7
 WHERE A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND  A.FinalAssetClassAlt_Key=1
 
-- END OF Write Off ------------------------------

-- MAKRKING Settlement ----------------------------

 ----DROP TABLE IF EXISTS #Settlement
 ----SELECT A.UcifId,min(StatusDate)StatusDate into #Settlement
 ----FROM DBO.InvestmentIssuerDetail A
 ----INNER JOIN DBO.ExceptionFinalStatusType B
 ----ON A.IssuerID=B.ACID
 ----AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 ----AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 ----AND B.SourceAlt_Key=7
 ----AND B.StatusType IN ('Settlement')
 ----group by A.UcifId

 
 UPDATE 
 A
 SET
 Asset_Norm='ALWYS_NPA',
 A.DEGREASON=CONCAT(A.DEGREASON ,',NPA DUE TO Settlement marking '),
 A.NPIDt=CASE WHEN StatusDate<A.NPIDt THEN StatusDate ELSE A.NPIDt END
 FROM DBO.InvestmentFinancialDetail A
 INNER JOIN DBO.InvestmentIssuerDetail B
 ON A.RefIssuerID=B.IssuerID
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
   INNER JOIN DBO.ExceptionFinalStatusType C
	ON C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
	AND C.ACID=B.IssuerID
	AND C.StatusType IN ('Settlement') AND C.SourceAlt_key=7
 WHERE  A.FinalAssetClassAlt_Key>1

 UPDATE 
 A
 SET
 Asset_Norm='ALWYS_NPA',
 A.FLGDEG='Y',
 A.DEGREASON='NPA DUE TO Settlement marking ',
 A.NPIDt=CASE WHEN StatusDate IS NOT NULL THEN StatusDate ELSE @PROCESSDATE END,
 A.FinalAssetClassAlt_Key=2
 FROM DBO.InvestmentFinancialDetail A
 INNER JOIN DBO.InvestmentIssuerDetail B
 ON A.RefIssuerID=B.IssuerID
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
  INNER JOIN DBO.ExceptionFinalStatusType C
	ON C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
	AND C.ACID=B.IssuerID
	AND C.StatusType IN ('Settlement') AND C.SourceAlt_key=7
 WHERE 
 A.FinalAssetClassAlt_Key=1


----END OF SETTLEMENT --------------------------------------------------------------

----  WriteOff/Settlement Marking on basis of  History Data ---------------------------------------

DROP TABLE IF EXISTS #HISTORYDATA
SELECT DISTINCT A.ACID,A.StatusType,A.StatusDate,MAX(A.EffectiveFromTimeKey)EffectiveFromTimeKey 
INTO			#HISTORYDATA
FROM			DBO.ExceptionFinalStatusType A
LEFT JOIN DBO.InvestmentIssuerDetail B
ON A.ACID=B.IssuerID 
 AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
WHERE B.IssuerID IS NULL 
	and A.StatusType = 'Settlement' 
	and A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
GROUP BY A.ACID,A.StatusType,A.StatusDate
UNION

SELECT DISTINCT A.ACID,A.StatusType,A.StatusDate,MAX(A.EffectiveFromTimeKey)EffectiveFromTimeKey 
FROM			DBO.ExceptionFinalStatusType A
LEFT JOIN DBO.InvestmentFinancialDetail B
ON A.ACID=B.RefInvID 
 AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
WHERE B.RefInvID IS NULL and A.StatusType IN ('TWO','WO','WriteOff') and A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
GROUP BY A.ACID,A.StatusType,A.StatusDate

DROP TABLE IF EXISTS #HISTORYDATA1
SELECT A.UcifId,MIN(B.StatusDate)StatusDate,B.StatusType 
INTO #HISTORYDATA1
FROM DBO.InvestmentIssuerDetail A
INNER JOIN  #HISTORYDATA B
ON A.IssuerID=B.ACID
AND B.StatusType='Settlement'
AND A.EffectiveFromTimeKey<=B.EffectiveFromTimeKey AND A.EffectiveToTimeKey>=B.EffectiveFromTimeKeY
GROUP BY A.UcifId,B.StatusType
UNION
SELECT C.UcifId,MIN(B.StatusDate) StatusDate,B.StatusType 
FROM DBO.InvestmentFinancialDetail A
INNER JOIN DBo.InvestmentIssuerDetail C  ON A.RefIssuerID = C.IssuerID
INNER JOIN  #HISTORYDATA B
ON A.RefInvID=B.ACID
AND A.EffectiveFromTimeKey<=B.EffectiveFromTimeKey AND A.EffectiveToTimeKey>=B.EffectiveFromTimeKeY
AND c.EffectiveFromTimeKey<=B.EffectiveFromTimeKey AND c.EffectiveToTimeKey>=B.EffectiveFromTimeKeY
AND B.StatusType IN ('TWO','WO','WriteOff')

GROUP BY C.UcifId,B.StatusType


DROP TABLE IF EXISTS #HISTORYDATA2
SELECT A.UcifId,B.ACID ,B.StatusType
INTO #HISTORYDATA2
FROM DBO.InvestmentIssuerDetail A
INNER JOIN  #HISTORYDATA B
ON A.IssuerID=B.ACID
and B.StatusType='Settlement'
AND A.EffectiveFromTimeKey<=B.EffectiveFromTimeKey AND A.EffectiveToTimeKey>=B.EffectiveFromTimeKeY
GROUP BY A.UcifId,B.ACID,B.StatusType
UNION
SELECT C.UcifId,B.ACID  ,B.StatusType
FROM DBO.InvestmentFinancialDetail A
INNER JOIN DBo.InvestmentIssuerDetail C  ON A.RefIssuerID = C.IssuerID
AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
INNER JOIN  #HISTORYDATA B
ON A.REFINVID=B.ACID
and B.StatusType IN ('TWO','WO','WriteOff')
AND A.EffectiveFromTimeKey<=B.EffectiveFromTimeKey AND A.EffectiveToTimeKey>=B.EffectiveFromTimeKeY
GROUP BY C.UcifId,B.ACID,B.StatusType

UPDATE A
SET
 A.DEGREASON=CONCAT(DEGREASON,',NPA DUE TO Linkage By Issuerid=',D.ACID) ,
 A.NPIDt=CASE WHEN C.StatusDate<A.NPIDt THEN C.StatusDate ELSE A.NPIDt END
 FROM InvestmentFinancialDetail A
INNER JOIN DBO.InvestmentIssuerDetail B
ON A.REFISSUERID=B.ISSUERID
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
INNER JOIN #HISTORYDATA1 C
ON B.UcifId=C.UcifId
AND C.StatusType='Settlement'
LEFT JOIN #HISTORYDATA2 D
ON C.UcifId=D.UcifId
WHERE A.FINALASSETCLASSALT_KEY>1

UPDATE A
SET
 A.FLGDEG='Y',
 A.DEGREASON=concat('NPA DUE TO Linkage By Issuerid=',D.ACID),
 A.NPIDt=CASE WHEN C.StatusDate IS NOT NULL THEN C.StatusDate ELSE @PROCESSDATE END
 FROM InvestmentFinancialDetail A
INNER JOIN DBO.InvestmentIssuerDetail B
ON A.REFISSUERID=B.ISSUERID
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
INNER JOIN #HISTORYDATA1 C
ON B.UcifId=C.UcifId
AND C.StatusType='Settlement'
LEFT JOIN #HISTORYDATA2 D
ON C.UcifId=D.UcifId
WHERE  A.FINALASSETCLASSALT_KEY=1

UPDATE A
SET
 A.DEGREASON=CONCAT(DEGREASON,',NPA DUE TO Linkage By Invid=',D.ACID) ,
 A.NPIDt=CASE WHEN C.StatusDate<A.NPIDt THEN C.StatusDate ELSE A.NPIDt END
 FROM InvestmentFinancialDetail A
INNER JOIN DBO.InvestmentIssuerDetail B
ON A.REFISSUERID=B.ISSUERID
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
INNER JOIN #HISTORYDATA1 C
ON B.UcifId=C.UcifId
AND C.StatusType IN ('TWO','WO','WriteOff')
LEFT JOIN #HISTORYDATA2 D
ON C.UcifId=D.UcifId
WHERE A.FINALASSETCLASSALT_KEY>1

UPDATE A
SET
 A.FLGDEG='Y',
 A.DEGREASON=concat('NPA DUE TO Linkage By Invid=',D.ACID),
 A.NPIDt=CASE WHEN C.StatusDate IS NOT NULL THEN C.StatusDate ELSE @PROCESSDATE END
 FROM InvestmentFinancialDetail A
INNER JOIN DBO.InvestmentIssuerDetail B
ON A.REFISSUERID=B.ISSUERID
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
INNER JOIN #HISTORYDATA1 C
ON B.UcifId=C.UcifId
AND C.StatusType IN ('TWO','WO','WriteOff')
LEFT JOIN #HISTORYDATA2 D
ON C.UcifId=D.UcifId
WHERE A.FINALASSETCLASSALT_KEY=1


-- ========  END OF WRITE OFF CR WORK ======================================----------------------------------

UPDATE B SET DPD_DivOverdue=(CASE WHEN  B.Interest_DividendDueDate IS NOT NULL   
      THEN   DATEDIFF(DAY,B.Interest_DividendDueDate,@PROCESSDATE) +1      ELSE 0 END)

FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
WHERE B.Interest_DividendDueDate IS NOT NULL
and ISNULL(INS.InstrumentTypeSubGroup,'') IN ('BONDS','Preference Shares','CP','CD','PTC')

--Added by mandeep to count balancesheet DPD
UPDATE B SET [DPD_BS_Date]=(CASE WHEN  B.BalanceSheetDate IS NOT NULL   
      THEN   DATEDIFF(DAY,B.BalanceSheetDate,@PROCESSDATE)     ELSE 0 END)

FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
WHERE B.[DPD_BS_Date] IS NOT NULL
	AND  ListedShares='Unlisted'
	--and DAY(B.BalanceSheetDate)=31
	--AND MONTH(B.BalanceSheetDate)=03
	and ISNULL(INS.InstrumentTypeSubGroup,'') IN ('Equity')

	

--UPDATE B SET DPD_Maturity=(CASE WHEN  a.MaturityDt IS NOT NULL   
--      THEN   DATEDIFF(DAY,a.MaturityDt,@PROCESSDATE)       ELSE 0 END)
--FROM InvestmentBasicDetail A
--inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
--AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
--inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
--AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
--AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
--INNER JOIN DIMINSTRUMENTTYPE INS 
--ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
--AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key

--WHERE a.MaturityDt IS NOT  NULL AND ISNULL(B.FinalAssetClassAlt_Key,1)=1
----------AND INSTRUMENTTYPEALT_KEY IN(1,3,4) 
--AND ISNULL(BookValue,0) > 0 AND ISNULL(Interest_DividendDueAmount,0) > 0--1 -> eQUITY, 2->PREFERENTIAL SHAHRES, 3-> BONDS


UPDATE B SET PartialRedumptionDPD=(CASE WHEN  b.PartialRedumptionDueDate IS NOT NULL   
      THEN   DATEDIFF(DAY,B.PartialRedumptionDueDate,@PROCESSDATE) +1 ELSE 0 END)
FROM InvestmentBasicDetail A
	INNER JOIN InvestmentIssuerDetail C 
		ON A.IssuerEntityId=C.IssuerEntityId
		AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
	INNER JOIN InvestmentFinancialDetail B 
		ON A.InvEntityId=B.InvEntityId
		AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
		AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
	INNER JOIN DIMINSTRUMENTTYPE INS 
		ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
		AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
	WHERE b.PartialRedumptionDueDate IS NOT NULL AND PartialRedumptionSettledY_N='N'
		--AND ISNULL(B.FinalAssetClassAlt_Key,1)=1
		AND isnull(INS.InstrumentTypeSubGroup,'') IN('BONDS','Preference Shares','CP','CD','PTC')
	




UPDATE B SET DPD=CASE WHEN ISNULL(DPD_DivOverdue,0)>=ISNULL(DPD_Maturity,0) and ISNULL(DPD_DivOverdue,0)>=ISNULL(PartialRedumptionDPD,0) and ISNULL(DPD_DivOverdue,0)>=ISNULL(DPD_BS_Date,0)
							THEN ISNULL(DPD_DivOverdue,0)
					  WHEN ISNULL(DPD_Maturity,0)>=ISNULL(DPD_DivOverdue,0) and ISNULL(DPD_Maturity,0)>=ISNULL(PartialRedumptionDPD,0) and ISNULL(DPD_Maturity,0)>=ISNULL(DPD_BS_Date,0)
							THEN ISNULL(DPD_Maturity,0)
					  WHEN ISNULL(DPD_BS_Date,0)>=ISNULL(DPD_DivOverdue,0) and ISNULL(DPD_BS_Date,0)>=ISNULL(PartialRedumptionDPD,0) and ISNULL(DPD_BS_Date,0)>=ISNULL(DPD_Maturity,0)
							THEN ISNULL(DPD_BS_Date,0)
						ELSE ISNULL(PartialRedumptionDPD,0) 
					END
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
--WHERE  isnull(B.FinalAssetClassAlt_Key,1)=1 AND (ISNULL(DPD_DivOverdue,0)>0 OR ISNULL(DPD_Maturity,0)>0)
--AND INSTRUMENTTYPEALT_KEY IN(1,3,4) --1 -> eQUITY, 2->PREFERENTIAL SHAHRES, 3-> BONDS




UPDATE B SET B.DPD=CASE WHEN ISNULL(DPD,0)<0 THEN 0 ELSE ISNULL(DPD,0) END
		,B.DPD_MATURITY=CASE WHEN ISNULL(DPD_MATURITY,0)<0 THEN 0 ELSE ISNULL(DPD_MATURITY,0) END
		,B.DPD_DivOverdue=CASE WHEN ISNULL(DPD_DivOverdue,0)<0 THEN 0 ELSE ISNULL(DPD_DivOverdue,0) END
		,B.PartialRedumptionDPD=CASE WHEN ISNULL(PartialRedumptionDPD,0)<0 THEN 0 ELSE ISNULL(PartialRedumptionDPD,0) END--added by mandeep
		,B.[DPD_BS_Date]=CASE WHEN ISNULL([DPD_BS_Date],0)<0 THEN 0 ELSE ISNULL([DPD_BS_Date],0) END                     --added by mandeep
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where ISNULL(DPD,0)<0 OR ISNULL(DPD_MATURITY,0)<0 OR ISNULL(DPD_DivOverdue,0)<0
OR B.[DPD_BS_Date]<0


UPDATE B SET FLGDEG ='Y'
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
where 
--DPD>=90 commented and new added
(DPD_DivOverdue>=91 OR PartialRedumptionDPD>=91 OR [DPD_BS_Date]>=541) 
AND Asset_Norm='NORMAL' AND FinalAssetClassAlt_Key =1
AND ISNULL(ListedShares,'') NOT IN ('Unlisted')
AND ISNULL(INS.InstrumentTypeSubGroup,'') NOT IN ('Equity')
-----------------------------------------------------Mohit/Prashant(10102025)--------------------------------------------
UPDATE B SET FLGDEG ='Y'
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
where 
--DPD>=90 commented and new added
(DPD_DivOverdue>=91 OR PartialRedumptionDPD>=91 OR [DPD_BS_Date]>=549) ----------------------------------------------changes as per DPD-549
AND Asset_Norm='NORMAL' AND FinalAssetClassAlt_Key =1
AND ISNULL(ListedShares,'')  IN ('Unlisted')
AND ISNULL(INS.InstrumentTypeSubGroup,'')  IN ('Equity')
-----------------------------------------------------------------END---------------------------------------------------------


UPDATE B SET B.DEGREASON= 'DEGRADE BY Interest_DividendDueDate' 
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where B.Interest_DividendDueDate IS NOT NULL AND isnull(B.FinalAssetClassAlt_Key,1)=1
AND DPD_DivOverdue>=91 AND FLGDEG ='Y'


UPDATE B SET B.DEGREASON=CONCAT(DEGREASON,CASE WHEN DPD_DivOverdue>=91 THEN ',' ELSE '' END , 'DEGRADE BY Partial Redumption Due Date')
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where B.Interest_DividendDueDate IS NOT NULL AND isnull(B.FinalAssetClassAlt_Key,1)=1
AND (----------ISNULL(DPD_Maturity,0)>=90 or 
ISNULL(PartialRedumptionDPD,0)>=91 )AND FLGDEG ='Y'

UPDATE B SET B.DEGREASON=CONCAT(DEGREASON,CASE WHEN [DPD_BS_Date]>=541 THEN (case when DEGREASON is Not NULL THEN  ',' ELSE '' END) ELSE ''  END , 'NPA due to overdue Balance Sheet Date')
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
where B.BalanceSheetDate IS NOT NULL AND isnull(B.FinalAssetClassAlt_Key,1)=1
AND (----------ISNULL(DPD_Maturity,0)>=90 or 
ISNULL([DPD_BS_Date],0)>=541 )AND FLGDEG ='Y'
AND ISNULL(ListedShares,'') NOT IN ('Unlisted')
AND ISNULL(INS.InstrumentTypeSubGroup,'') NOT IN ('Equity')

-------------------------------------------------------------------Mohit/Prashant(10102025)----------------------------------------
UPDATE B SET B.DEGREASON=CONCAT(DEGREASON,CASE WHEN [DPD_BS_Date]>=549 THEN (case when DEGREASON is Not NULL THEN  ',' ELSE '' END) ELSE ''  END , 'NPA due to overdue Balance Sheet Date')
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key
where B.BalanceSheetDate IS NOT NULL AND isnull(B.FinalAssetClassAlt_Key,1)=1
AND (----------ISNULL(DPD_Maturity,0)>=90 or 
ISNULL([DPD_BS_Date],0)>=549 )AND FLGDEG ='Y'----------------------------------------------changes as per DPD-549
AND ISNULL(ListedShares,'')  IN ('Unlisted')
AND ISNULL(INS.InstrumentTypeSubGroup,'')  IN ('Equity')
-----------------------------------------------------------------END---------------------------------------------------------


/*---------------UPDATE DEG FLAG AT ACCOUNT LEVEL---------------*/

/*
UPDATE B SET FLGDEG ='Y'
		, B.DEGREASON= 'DEGRADE BY MTMValue Less Than 1 Rs.' 
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where ISNULL(MTMValueINR,0)<1
and InvestmentNature='EQUITY' AND ISNULL(B.FinalAssetClassAlt_Key,1)=1 

*/



/*------------Calculate NpaDt -------------------------------------*/

UPDATE  A  SET NPIDt= @ProcessDate
FROM InvestmentFinancialDetail A 
WHERE ISNULL(A.FLGDEG,'N')='Y'
and A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
and A.DEGREASON= 'DEGRADE BY MTMValue Less Than 1 Rs.' 

UPDATE  A  SET NPIDt= DATEADD(DAY,ISNULL(91,0),DATEADD(DAY,-ISNULL(DPD,0),@ProcessDate))
FROM InvestmentFinancialDetail  A 
WHERE ISNULL(A.FLGDEG,'N')='Y'
and A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
AND DEGREASON not like '%NPA due to overdue Balance Sheet Date%'
----AND  A.DEGREASON IS NULL

-----------------------------------Old logic------------till 10102025------------------------
--UPDATE  A  SET NPIDt=  DATEADD(DAY,ISNULL(549,0),DATEADD(DAY,-ISNULL(DPD_BS_Date,0),@ProcessDate))
--FROM InvestmentFinancialDetail  A 
--WHERE ISNULL(A.FLGDEG,'N')='Y'
--and A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
--AND DEGREASON like '%Balance Sheet Date%'

---------------------Updated Logic Till 10102025----------------------------

UPDATE  A  SET NPIDt=  DATEADD(DAY,ISNULL(541,0),DATEADD(DAY,-ISNULL(DPD_BS_Date,0),@ProcessDate))
FROM InvestmentFinancialDetail  A 
Inner Join InvestmentBasicDetail B on A.InvEntityId=B.InvEntityId
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=B.InstrTypeAlt_Key
WHERE ISNULL(A.FLGDEG,'N')='Y'
and A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
AND DEGREASON like '%Balance Sheet Date%'
AND ISNULL(ListedShares,'') NOT IN ('Unlisted')
AND ISNULL(INS.InstrumentTypeSubGroup,'') NOT IN ('Equity')

-------------------------------Mohit/Prashant(10102025)------------------------------------------------
UPDATE  A  SET NPIDt=  DATEADD(DAY,ISNULL(549,0),DATEADD(DAY,-ISNULL(DPD_BS_Date,0),@ProcessDate))
FROM InvestmentFinancialDetail  A 
Inner Join InvestmentBasicDetail B on A.InvEntityId=B.InvEntityId
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
INNER JOIN DIMINSTRUMENTTYPE INS 
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey
AND INS.InstrumentTypeAlt_Key=B.InstrTypeAlt_Key
WHERE ISNULL(A.FLGDEG,'N')='Y'
and A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
AND DEGREASON like '%Balance Sheet Date%'
AND ISNULL(ListedShares,'') IN ('Unlisted')
AND ISNULL(INS.InstrumentTypeSubGroup,'') IN ('Equity')
------------------------------------------------------------------------------------------------------

UPDATE A SET A.FinalAssetClassAlt_Key= ( CASE  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
										  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
									      WHEN  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days+@DB2_Days,A.NPIDt)>@ProcessDate THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB2' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
									       WHEN  DATEADD(DAY,(@DB1_Days+@SUB_Days+@DB2_Days),A.NPIDt)<=@ProcessDate  THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB3' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
									   END)
         
FROM  InvestmentFinancialDetail A   
WHERE ISNULL(A.FlgDeg,'N')='Y'  
and  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
/*


----IF OBJECT_ID('TEMPDB..#TEMPMINASSETCLASS') IS NOT NULL
----  DROP TABLE #TEMPMINASSETCLASS
  	
----	SELECT UcifId,MAX(ISNULL(FinalAssetClassAlt_Key,1)) FinalAssetClassAlt_Key
----	,MIN(NPIDt) NPIDt 
----	 INTO #TEMPMINASSETCLASS 
----	 FROM  InvestmentFinancialDetail A
----		INNER JOIN InvestmentBasicDetail B
----			ON A.INVENTITYID=B.INVENTITYID
----			AND B.EffectiveFromTimeKey<=@timekey and B.EffectiveToTimeKey>=@timekey
----		inner join InvestmentIssuerDetail C ON B.IssuerEntityId=C.IssuerEntityId
----			AND B.EffectiveFromTimeKey<=@timekey and B.EffectiveToTimeKey>=@timekey
----	  WHERE  ISNULL(FinalAssetClassAlt_Key,1)>1
----	  AND  A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
----	  GROUP BY UcifId


----	  ALTER TABLE  #TEMPMINASSETCLASS ADD RefInvID VARCHAR (200)


----	  UPDATE A SET RefInvID=B.RefInvID
----	 FROM #TEMPMINASSETCLASS  A
----	 INNER JOIN InvestmentFinancialDetail  B ON A.RefIssuerID=B.RefIssuerID
----	  WHERE  B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
----	  AND  A.FinalAssetClassAlt_Key=B.FinalAssetClassAlt_Key AND A.NPIDt=B.NPIDt

	 
----	  UPDATE D SET FinalAssetClassAlt_Key=A.FinalAssetClassAlt_Key,NPIDt=A.NPIDt,DEGREASON='PERCOLATION BY' + ' ' +A.UcifId
----	  FROM #TEMPMINASSETCLASS  A
----		inner join InvestmentIssuerDetail B ON B.UcifId=B.UcifId
----			AND B.EffectiveFromTimeKey<=@timekey and B.EffectiveToTimeKey>=@timekey
----		INNER JOIN InvestmentBasicDetail C
----			ON B.INVENTITYID=B.INVENTITYID
----			AND C.EffectiveFromTimeKey<=@timekey and C.EffectiveToTimeKey>=@timekey
----	  INNER JOIN InvestmentFinancialDetail  D
----			ON A.RefIssuerID=B.RefIssuerID
----	   WHERE D.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND D.EFFECTIVETOTIMEKEY>=@TIMEKEY
----	  AND B.AssetClass_AltKey=1
*/


	IF OBJECT_ID('TEMPDB..#TEMPMINASSETCLASS') IS NOT NULL
	  DROP TABLE #TEMPMINASSETCLASS
  	
	SELECT UcifId,MAX(ISNULL(FinalAssetClassAlt_Key,1)) FinalAssetClassAlt_Key
	,MIN(NPIDt) NPIDt 
	 INTO #TEMPMINASSETCLASS 
	 FROM  InvestmentFinancialDetail A
		INNER JOIN InvestmentBasicDetail B
			ON A.INVENTITYID=B.INVENTITYID
			AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
		inner join InvestmentIssuerDetail C ON B.IssuerEntityId=C.IssuerEntityId
			AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
	  WHERE  ISNULL(FinalAssetClassAlt_Key,1)>1
	  AND  A.EFFECTIVEFROMTIMEKEY<=@TimeKey AND A.EFFECTIVETOTIMEKEY>=@TimeKey
	  GROUP BY UcifId




UPDATE D SET FinalAssetClassAlt_Key=A.FinalAssetClassAlt_Key,NPIDt=
	  A.NPIDt
	  --,DEGREASON= (CASE WHEN DEGREASON IS NULL THEN
	  --(CASE WHEN D.DEGREASON IS NULL THEN  '' ELSE CONCAT(D.DEGREASON,' , ') END)+'PERCOLATION BY' + ' ' +A.UcifId ELSE DEGREASON END)
	FROM #TEMPMINASSETCLASS  A
		inner join InvestmentIssuerDetail B ON A.UcifId=B.UcifId
			AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
		INNER JOIN InvestmentBasicDetail C
			ON B.IssuerEntityId=C.IssuerEntityId
			AND C.EffectiveFromTimeKey<=@TimeKey and C.EffectiveToTimeKey>=@TimeKey
	  INNER JOIN InvestmentFinancialDetail  D
			ON C.InvEntityId=D.InvEntityId
	   WHERE D.EFFECTIVEFROMTIMEKEY<=@TimeKey AND D.EFFECTIVETOTIMEKEY>=@TimeKey
	        AND D.FLGDEG='Y'


      /* START ---- ADDED BY MANDEEP TO PERCOLATE ASSET CLASS AND NPA DT ON 06-10-2023  */
      UPDATE D SET
	  FinalAssetClassAlt_Key=A.FinalAssetClassAlt_Key,
	  NPIDt=A.NPIDt
	  FROM 
	  #TEMPMINASSETCLASS  A
	  inner join InvestmentIssuerDetail B ON A.UcifId=B.UcifId
	  AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
	  INNER JOIN InvestmentBasicDetail C
	  ON B.IssuerEntityId=C.IssuerEntityId
	  AND C.EffectiveFromTimeKey<=@TimeKey and C.EffectiveToTimeKey>=@TimeKey
	  INNER JOIN InvestmentFinancialDetail  D
	  ON C.InvEntityId=D.InvEntityId
	   WHERE D.EFFECTIVEFROMTIMEKEY<=@TimeKey AND D.EFFECTIVETOTIMEKEY>=@TimeKey
	   AND D.NPIDt IS NULL
	   /* END ---- ADDED BY MANDEEP TO PERCOLATE ASSET CLASS AND NPA DT ON 06-10-2023  */
	  ----------------------------------------------------------------

	  	  ----------------------------------------------------------------
	  UPDATE B SET B.DEGREASON=CONCAT((CASE WHEN B.DEGREASON IS NULL 
							THEN  '' ELSE CONCAT(B.DEGREASON,' , ') END),'DEGRADE BY Interest_DividendDueDate') 
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where B.Interest_DividendDueDate IS NOT NULL AND isnull(B.FinalAssetClassAlt_Key,1)>1
and DPD_DivOverdue>0 and FLGDEG='N'

UPDATE B SET B.DEGREASON=(CASE WHEN B.DEGREASON IS NULL 
							THEN  '' ELSE CONCAT(B.DEGREASON,' , ') END)+'DEGRADE BY Partial Redumption Due Date'  
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where B.PartialRedumptionDueDate IS NOT NULL AND isnull(B.FinalAssetClassAlt_Key,1)>1
and PartialRedumptionDPD>0 and FLGDEG='N'

UPDATE B SET B.DEGREASON=(CASE WHEN B.DEGREASON IS NULL 
							THEN  '' ELSE CONCAT(B.DEGREASON,' , ') END)+'NPA due to overdue Balance Sheet Date'  
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where B.BalanceSheetDate IS NOT NULL AND isnull(B.FinalAssetClassAlt_Key,1)>1
and ISNULL([DPD_BS_Date],0)>365 and FLGDEG='N'

UPDATE B SET B.DEGREASON='PERCOLATION BY' + ' ' +UcifId  
FROM InvestmentBasicDetail A
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
where isnull(B.FinalAssetClassAlt_Key,1)>1
and DEGREASON is null --and FLGDEG='N'


	  ----------------------------------------------------------------
	--- SELECT * FROM #TEMPMINASSETCLASS  
	--  UPDATE D SET FinalAssetClassAlt_Key=A.FinalAssetClassAlt_Key,NPIDt=A.NPIDt,DEGREASON=CONCAT(DEGREASON,', PERCOLATION BY' + ' ' +A.UcifId)

	--FROM #TEMPMINASSETCLASS  A
	--	inner join InvestmentIssuerDetail B ON A.UcifId=B.UcifId
	--		AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
	--	INNER JOIN InvestmentBasicDetail C
	--		ON B.IssuerEntityId=C.IssuerEntityId
	--		AND C.EffectiveFromTimeKey<=@TimeKey and C.EffectiveToTimeKey>=@TimeKey
	--  INNER JOIN InvestmentFinancialDetail  D
	--		ON C.InvEntityId=D.InvEntityId
	--   WHERE D.EFFECTIVEFROMTIMEKEY<=@TimeKey AND D.EFFECTIVETOTIMEKEY>=@TimeKey
	--        --AND D.FLGDEG='Y'


UPDATE A SET A.FinalAssetClassAlt_Key= ( CASE  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
							  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
						      WHEN  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days+@DB2_Days,A.NPIDt)>@ProcessDate THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB2' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
						       WHEN  DATEADD(DAY,(@DB1_Days+@SUB_Days+@DB2_Days),A.NPIDt)<=@ProcessDate  THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB3' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
								ELSE A.FinalAssetClassAlt_Key		-- Changes done by Satwaji as per Calypso issue occured as on 01/01/2023
						   END)
         
FROM  InvestmentFinancialDetail A   
WHERE ISNULL(A.FlgDeg,'N')<>'Y'  
AND  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey AND FinalAssetClassAlt_Key>1


UPDATE A SET FinalAssetClassAlt_Key=1
		,NPIDt=null	
FROM  InvestmentFinancialDetail A  
WHERE ISNULL(FinalAssetClassAlt_Key,0)=0
and  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey


UPDATE A SET FlgDeg='N'
FROM  InvestmentFinancialDetail A  
WHERE ISNULL(FinalAssetClassAlt_Key,0)>1 and ISNULL(InitialAssetAlt_Key,0)>1



 /* AMAR 20092023 CHANGES FOR ACCOUNT UPGRADE FROM ADHOC -- EXCEPTION DETAIL DATA FOR WOR/TE */
  
  DROP TABLE IF EXISTS #ADHOC_UCICID_STD
  
  SELECT UCICID INTO #ADHOC_UCICID_STD 
  FROM CalypsoInvMOC_ChangeDetails 
  WHERE EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND  EFFECTIVETOTIMEKEY>=@TIMEKEY
  AND AssetClassAlt_Key=1

  
   ;WITH CTE_A
   AS
		(
			SELECT IssuerID
			FROM #ADHOC_UCICID_STD A
			INNER JOIN InvestmentIssuerDetail B
				ON A.UCICID=B.UcifId
			GROUP BY IssuerID
			
		)
		UPDATE C
	   SET C.EFFECTIVETOTIMEKEY=@TIMEKEY
			FROM CTE_A A   
		INNER JOIN ExceptionFinalStatusType C
			ON A.IssuerID=C.ACID
			AND C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND  C.EFFECTIVETOTIMEKEY>=@TIMEKEY 
			AND C.StatusType IN('Settlement')
			AND SourceAlt_Key=7



		;WITH CTE_B
   AS
		(
			SELECT RefInvID
			FROM #ADHOC_UCICID_STD A
			INNER JOIN InvestmentIssuerDetail B
				ON A.UCICID=B.UcifId
				INNER JOIN InvestmentFinancialDetail C ON B.IssuerID = C.RefIssuerID
			GROUP BY RefInvID
			
		)
		UPDATE C
	   SET C.EFFECTIVETOTIMEKEY=@TIMEKEY
			FROM CTE_B A   
		INNER JOIN ExceptionFinalStatusType C
			ON A.RefInvID=C.ACID
			AND C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND  C.EFFECTIVETOTIMEKEY>=@TIMEKEY 
			AND C.StatusType IN('TWO','WO')
			AND SourceAlt_Key=7

   
  /*END EXCEPTION DATA EXPIRE - BY ADHOC CHANGE UPGRADE*/

/* AMAR 13042023MOC - CHANGES FOR AUTO AND MANUAL EFFECTS  */
		UPDATE A
			SET EffectiveToTimeKey=@TimeKey	
		FROM CalypsoInvMOC_ChangeDetails  A
		WHERE EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY
			AND A.MOCTYPE='AUTO'
			
		--UPDATE D
		--	 SET D.FinalAssetClassAlt_Key=A.AssetClassAlt_Key
		--		,D.NPIDt=A.NPA_Date
		--		,D.DEGREASON=case when A.AssetClassAlt_Key>1 then 'NPA DUE TO MOC' ELSE NULL END
		--FROM CalypsoInvMOC_ChangeDetails  A		
		--	INNER JOIN InvestmentFinancialDetail D
		--		ON  A.AccountEntityID=D.InvEntityid
		--		AND D.EffectiveFromTimeKey<=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY 
		--		AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY 
		--		AND A.AccountENtityid is not NULL and MOC

				UPDATE D
			 SET D.FinalAssetClassAlt_Key=A.AssetClassAlt_Key
				,D.NPIDt=A.NPA_Date
				,D.DEGREASON=case when A.AssetClassAlt_Key>1 then 'NPA DUE TO MOC' ELSE NULL END
				,D.Asset_Norm = case when A.AssetClassAlt_Key>1 then 'ALWYS_NPA' when A.AssetClassAlt_Key=1 then 'ALWYS_STD' ELSE D.Asset_Norm END
		FROM CalypsoInvMOC_ChangeDetails  A		
		INNER JOIN InvestmentIssuerDetail B
		ON A.CustomerEntityID = B.IssuerEntityId
			AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY 
				AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY 
				INNER JOIN InvestmentBasicDetail C
				ON C.IssuerEntityId = B.IssuerEntityId
			AND C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY 				
			INNER JOIN InvestmentFinancialDetail D
				ON  C.InvEntityid=D.InvEntityid
				AND D.EffectiveFromTimeKey<=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY 
				AND A.CustomerEntityID is not NULL and MOCType_Flag = 'CUST'
				
		UPDATE A SET A.UpgDate=NULL
				 ,A.FlgDeg='N'
				 ,A.NPIDt=NULL
				 ,A.DBTDate=NULL
				 ,A.FlgUpg='N'
		 FROM InvestmentFinancialDetail A
			WHERE A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
				AND FinalAssetClassAlt_Key=1
/* END OF MOC CHANGES */
/*
----/*------------------UPGRAD CUSTOMER ACCOUNT------------------*/

UPDATE A SET FLGUPG='N'
FROM InvestmentFinancialDetail A
WHERE    A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey 


IF OBJECT_ID('TEMPDB..#TEMPTABLE') IS NOT NULL
      DROP TABLE #TEMPTABLE

SELECT A.RefIssuerID,TOTALCOUNT  INTO #TEMPTABLE FROM 
(
SELECT A.RefIssuerID,COUNT(1) TOTALCOUNT FROM 
InvestmentFinancialDetail A
WHERE A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
GROUP BY A.RefIssuerID
)
A INNER JOIN 
(
SELECT B.RefIssuerID,COUNT(1) TOTALDPD_MAXCOUNT 
FROM InvestmentFinancialDetail B
WHERE (ISNULL(B.DPD,0)<=0 AND [DPD_BS_Date]<=365 )
   and ISNULL(FinalAssetClassAlt_Key,1) not in(1)
  AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
 GROUP BY B.RefIssuerID
/*
SELECT B.RefIssuerID,COUNT(1) TOTALDPD_MAXCOUNT 
FROM InvestmentFinancialDetail B
	INNER JOIN InvestmentBasicDetail A
		ON A.InvEntityId=B.InvEntityId
		AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
WHERE (		(a.InvestmentNature='EQUITY' AND ISNULL(MTMValueINR,0)>=1) 					
		OR (ISNULL(a.InvestmentNature,'')<>'EQUITY' AND  ISNULL(B.DPD,0)<=0) 
	   )
   and ISNULL(FinalAssetClassAlt_Key,1) not in(1)
  AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
 GROUP BY B.RefIssuerID
 */
) B ON A.RefIssuerID=B.RefIssuerID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT


------  /*------ UPGRADING CUSTOMER-----------*/ Same Upgrade Code is applicable in Pro.UpgradeCustomerAccount SP 2102023 --- Sudesh
  
--UPDATE A SET A.FlgUpg='U'
--FROM InvestmentFinancialDetail A INNER JOIN #TEMPTABLE B ON A.RefIssuerID=B.RefIssuerID
--WHERE  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey

UPDATE A SET A.FlgUpg='U'
FROM InvestmentFinancialDetail A 
INNER JOIN #TEMPTABLE B ON A.RefIssuerID=B.RefIssuerID
				INNER JOIN InvestmentBasicDetail Bb
					ON A.InvEntityId =bb.InvEntityId
				
					AND bb.EffectiveFromTimeKey <=@TIMEKEY AND bb.EffectiveToTimeKey >=@TIMEKEY
				INNER JOIN InvestmentIssuerDetail Cc
					ON Cc.IssuerEntityId=bb.IssuerEntityId
					AND Cc.EffectiveFromTimeKey <=@TIMEKEY AND Cc.EffectiveToTimeKey >=@TIMEKEY

WHERE  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
 AND ASSET_NORM='NORMAL'



UPDATE A SET  A.UpgDate=@PROCESSDATE
             ,A.DegReason=NULL
			 ,A.AssetClass_AltKey=1
			 ,A.FinalAssetClassAlt_Key=1
			 ,A.FlgDeg='N'
			 ,A.NPIDt=null
             ,A.FlgUpg='U'
			 FROM InvestmentFinancialDetail A
WHERE  ISNULL(A.FlgUpg,'U')='U' 
AND A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey


--=======Added by Mandeep Date 12-12-2022(To remove upgrade flag and upgrade date from loss accounts)============================================================================
UPDATE A SET  A.UpgDate=NULL
             ,A.FlgUpg=NULL
			 FROM InvestmentFinancialDetail A
WHERE 
ISNULL(A.FinalAssetClassAlt_Key,1)>1
AND A.NPIDt IS NOT NULL
AND A.FlgUpg='U'
AND A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey

UPDATE A 
SET
A.DEGREASON=NULL
FROM InvestmentFinancialDetail A
WHERE 
A.FlgUpg='U'
AND A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey



----UPDATE A SET A.FinalAssetClassAlt_Key=2
----			,A.NPIDt='2021-09-19'
----			,A.FLGDEG='N'
----FROM InvestmentFinancialDetail A 
----INNER JOIN InvestmentBasicDetail Bb
----	ON A.InvEntityId =bb.InvEntityId
----	AND bb.EffectiveFromTimeKey <=@TIMEKEY AND bb.EffectiveToTimeKey >=@TIMEKEY
----INNER JOIN InvestmentIssuerDetail Cc
----	ON Cc.IssuerEntityId=bb.IssuerEntityId
----	AND Cc.EffectiveFromTimeKey <=@TIMEKEY AND Cc.EffectiveToTimeKey >=@TIMEKEY
----WHERE  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
----AND isnull(UcifId,'') IN('RBL008827709','RBL003034380','RBL002980785')   /*  mannual npa as per RBL team Mr. Divakar  email dated  17-09-2021 time 14:12 for marked Manual NPA forcefully */
----and FinalAssetClassAlt_Key >1

----/*----------------PROVISION ALT KEY ALL  ACCOUNTS--------------------------------*/
/*   commented ;rovision code -  provision updating from seperate SP  in final asset class and npat date updation
UPDATE A SET PROVISIONALT_KEY=0
from InvestmentFinancialDetail  A
where  (A.EffectiveFromTimeKey<=@TimeKey AND A.EffectiveToTimeKey>=@TimeKey)



UPDATE A SET A.ProvisionAlt_Key=D.ProvisionAlt_Key
----SELECT *
FROM InvestmentFinancialDetail A 
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1) 
     AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)
	 INNER JOIN DimProvision_Seg d
		ON D.EffectiveFromTimeKey <=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY
		--AND A.DPD BETWEEN d.LowerDPD AND d.UpperDPD
		AND c.AssetClassShortName=d.PROVISIONSHORTNAMEENUM
WHERE  C.ASSETCLASSGROUP='NPA'  AND
 (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)
  and d.SEGMENT='IRAC'

 UPDATE A 
	SET TotalProvison =(CASE WHEN ISNULL(B.ASSETCLASSSHORTNAMEENUM,'STD')='LOS' 
				                    THEN BookValueINR
						    ELSE (ISNULL(A.BookValueINR,0) * ISNULL(C.PROVISIONUNSECURED,0)/100 )  
							 END)
se
	FROM InvestmentFinancialDetail A  
	INNER JOIN DIMASSETCLASS B ON B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
	                            AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY      
	                            AND ISNULL(A.AssetClass_AltKey,1) =B.ASSETCLASSALT_KEY 
	INNER JOIN DIMPROVISION_SEG C ON C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
	                          AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY      
	                          AND ISNULL(A.PROVISIONALT_KEY,1) = C.PROVISIONALT_KEY 

	WHERE  AssetClass_AltKey>1 AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY     AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY  
 


 /* STD PROVISION ALTKEY */
UPDATE A SET A.ProvisionAlt_Key=D.ProvisionAlt_Key
----SELECT *
FROM   InvestmentFinancialDetail A 
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1) 
     AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)
	 INNER JOIN DimProvision_SegSTD d
		ON D.EffectiveFromTimeKey <=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY
		  and d.ProvisionName='Other Portfolio' 
WHERE  C.ASSETCLASSGROUP='STD'  AND
 (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)


/* STD PROVISION maount */
 UPDATE A 
	SET TotalProvison =(CASE WHEN ISNULL(B.ASSETCLASSSHORTNAMEENUM,'STD')='LOS' 
				                    THEN BookValueINR
						    ELSE (ISNULL(A.BookValueINR,0) * ISNULL(C.PROVISIONUNSECURED,0)/100 )  
							 END)

	FROM  InvestmentFinancialDetail A  
	INNER JOIN DIMASSETCLASS B ON B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
	                            AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY      
	                            AND ISNULL(A.FinalAssetClassAlt_Key,1) =B.ASSETCLASSALT_KEY 
	INNER JOIN DimProvision_SegStd C ON C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
	                          AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY      
	                          AND ISNULL(A.PROVISIONALT_KEY,1) = C.PROVISIONALT_KEY 
	WHERE  FinalAssetClassAlt_Key=1 AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY     AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY  

 OPTION(RECOMPILE)
 
*/
*/
UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='InvestmentDataProcessing'

	
	--------------Added for DashBoard 04-03-2021
	Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

	
END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='InvestmentDataProcessing'
END CATCH


SET NOCOUNT OFF
END
GO
