USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[DerivativeDataProcessing]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



----/*=========================================
---- AUTHER : TRILOKI KHANNA
---- CREATE DATE : 27-11-2019
---- MODIFY DATE : 27-11-2019
---- DESCRIPTION : UPDATE InvestmentDataProcessing
---- --EXEC [PRO].[InvestmentDataProcessing] @TIMEKEY=26053
----=============================================*/


CREATE PROCEDURE [PRO].[DerivativeDataProcessing]
@TIMEKEY INT
WITH RECOMPILE
/*=========================================
-- AUTHOR : TRILOKI KHANNA
-- CREATE DATE : 09-04-2021
-- MODIFY DATE : 09-04-2021
-- DESCRIPTION : Test Case Cover in This SP

--=============================================*/
AS
BEGIN
  SET NOCOUNT ON
   BEGIN TRY
--DECLARE @TIMEKEY INT=@TimeKey
   

DECLARE @PROCESSDATE DATE =(SELECT DATE FROM SysDayMatrix WHERE TimeKey=@TIMEKEY)
DECLARE @SUB_Days INT =(SELECT RefValue FROM PRO.refperiod WHERE BusinessRule='SUB_Days' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @DB1_Days INT =(SELECT RefValue FROM PRO.refperiod WHERE BusinessRule='DB1_Days' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @DB2_Days INT =(SELECT RefValue FROM PRO.refperiod WHERE BusinessRule='DB2_Days' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @MoveToDB1 DECIMAL(5,2) =(SELECT cast(RefValue/100.00 as decimal(5,2))FROM PRO.refperiod where BusinessRule='MoveToDB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @MoveToLoss DECIMAL(5,2)=(SELECT cast(RefValue/100.00 as decimal(5,2)) FROM PRO.refperiod where BusinessRule='MoveToLoss' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
DECLARE @SubStandard INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Sub Standard'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulI INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Doubtful-I'										    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulII INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Doubtful-II'										AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulIII INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and  PROVISIONNAME='Doubtful-III'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Loss INT =			(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE segment='IRAC' and PROVISIONNAME='Loss'											    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)


UPDATE [CurDat].[DerivativeDetail] SET DPD=0 WHERE EffectiveFromTimeKey<=@timekey AND EffectiveToTimeKey>=@timekey
AND ISNULL(DPD,0)=0


UPDATE A SET DPD_DivOverdue=0,DPD=0, FLGDEG='N', FLGUPG='N',DEGREASON=NULL, UPGDATE=NULL
FROM [CurDat].[DerivativeDetail] A
WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey


/*UPDATE PREVISOU DAY STATUS AS INITIAL STATUS FOR CURRENT DAY */
UPDATE A SET 
		InitialAssetAlt_Key=B.FinalAssetClassAlt_Key
		,InitialNPIDt =B.NPIDt
		,DEGREASON=b.DEGREASON ---Added by Prashant--26032025--------
		,NPIDt=b.NPIDt ---Added by Prashant--26032025--------
		,FinalAssetClassAlt_Key=b.FinalAssetClassAlt_Key ---ADDED BY PRASHANT---26032025-------
FROM CURDAT.[DerivativeDetail] A
	INNER JOIN CURDAT.[DerivativeDetail] B
		ON A.DerivativeEntityID =B.DerivativeEntityID
		AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
		AND B.EffectiveFromTimeKey<=@timekey-1 AND B.EffectiveToTimeKey>=@timekey-1

--UPDATE A SET 
--		InitialAssetAlt_Key=isnull(B.FinalAssetClassAlt_Key,1)
--		,InitialNPIDt =B.NPIDt
--FROM CURDAT.[DerivativeDetail] A
--	LEFT JOIN CURDAT.[DerivativeDetail] B
--		ON A.DerivativeEntityID =B.DerivativeEntityID
--		AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
--		AND B.EffectiveFromTimeKey<=@timekey-1 AND B.EffectiveToTimeKey>=@timekey-1


UPDATE A SET DPD_DivOverdue=(CASE WHEN  Duedate IS NOT NULL   
      --THEN   DATEDIFF(DAY,Duedate,@PROCESSDATE)       ELSE 0 END)
	  THEN   DATEDIFF(DAY,Duedate,@PROCESSDATE)+1       ELSE 0 END) ---ADDED BY PRASHANT---26022025---AS PER NEW CR-----

FROM [CurDat].[DerivativeDetail] A
	WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
 
UPDATE A SET DPD=DPD_DivOverdue
FROM [CurDat].[DerivativeDetail] A
	WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
 

UPDATE A SET FLGDEG ='Y'
		,DEGREASON='DEGRADE BY Derivative Overdue' 
FROM [CurDat].[DerivativeDetail] A
WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
	AND DPD>=90 and isnull(InitialAssetAlt_Key,1)=1 ---Added by Prashant--26032025--------


--AND DPD>=91 ---ADDED BY PRASHANT---26022025---AS PER NEW CR-----

/*---------------UPDATE DEG FLAG AT ACCOUNT LEVEL---------------*/

/*------------Calculate NpaDt -------------------------------------*/

UPDATE  A  SET NPIDt= @ProcessDate
FROM [CurDat].[DerivativeDetail] A
WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND ISNULL(A.FLGDEG,'N')='Y'

UPDATE  A  SET NPIDt= DATEADD(DAY,ISNULL(90,0),DATEADD(DAY,-ISNULL(DPD,0),@ProcessDate))
FROM [CurDat].[DerivativeDetail] A
WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND ISNULL(A.FLGDEG,'N')='Y'

AND  A.DEGREASON IS NULL


UPDATE A SET A.FinalAssetClassAlt_Key= ( CASE  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
										  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
									      WHEN  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days+@DB2_Days,A.NPIDt)>@ProcessDate THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB2' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
									       WHEN  DATEADD(DAY,(@DB1_Days+@SUB_Days+@DB2_Days),A.NPIDt)<=@ProcessDate  THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB3' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
									   END)
         
FROM [CurDat].[DerivativeDetail] A
WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
AND  ISNULL(A.FlgDeg,'N')='Y'  

IF OBJECT_ID('TEMPDB..#TEMPMINASSETCLASS') IS NOT NULL
  DROP TABLE #TEMPMINASSETCLASS
  	
	SELECT UCIC_ID,MAX(ISNULL(FinalAssetClassAlt_Key,1)) FinalAssetClassAlt_Key
	,MIN(NPIDt) NPIDt 
	 INTO #TEMPMINASSETCLASS 
	FROM [CurDat].[DerivativeDetail] A
	WHERE A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey
	  AND  ISNULL(FinalAssetClassAlt_Key,1)>1
	 
	  GROUP BY UCIC_ID


	

	 
	  UPDATE B SET FinalAssetClassAlt_Key=A.FinalAssetClassAlt_Key,NPIDt=A.NPIDt,DEGREASON='PERCOLATION BY' + ' ' +A.UCIC_ID
	  FROM #TEMPMINASSETCLASS  A
		INNER JOIN  [CurDat].[DerivativeDetail] B
		ON B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey
			AND A.UCIC_ID=B.UCIC_ID
			AND B.AssetClass_AltKey=1


UPDATE A SET A.FinalAssetClassAlt_Key= ( CASE  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
							  WHEN  DATEADD(DAY,@SUB_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)>@ProcessDate   THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
						      WHEN  DATEADD(DAY,@SUB_Days+@DB1_Days,A.NPIDt)<=@ProcessDate AND  DATEADD(DAY,@SUB_Days+@DB1_Days+@DB2_Days,A.NPIDt)>@ProcessDate THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB2' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
						       WHEN  DATEADD(DAY,(@DB1_Days+@SUB_Days+@DB2_Days),A.NPIDt)<=@ProcessDate  THEN (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB3' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
						   END)
         
FROM   [CurDat].[DerivativeDetail] A   
WHERE ISNULL(A.FlgDeg,'N')<>'Y'  
AND  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey AND FinalAssetClassAlt_Key>1


UPDATE A SET FinalAssetClassAlt_Key=1, NPIDt =null
FROM   [CurDat].[DerivativeDetail] A   
WHERE ISNULL(FinalAssetClassAlt_Key,0)=0
and  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey


/* AMAR 13042032MOC - CHANGES FOR AUTO AND MANUAL EFFECTS  */
		UPDATE A
			SET EffectiveToTimeKey=@TimeKey	
		FROM CalypsoDervMOC_ChangeDetails  A
		WHERE EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY
			AND A.MOCTYPE='AUTO'

		UPDATE D
			 SET D.FinalAssetClassAlt_Key=A.AssetClassAlt_Key
				,D.NPIDt=A.NPA_Date
				,D.DEGREASON=case when A.AssetClassAlt_Key>1 then 'NPA DUE TO MOC' ELSE NULL END
		FROM CalypsoDervMOC_ChangeDetails  A		
			INNER JOIN CurDat.DerivativeDetail D
				ON  A.AccountEntityID=D.DerivativeEntityID
				AND D.EffectiveFromTimeKey<=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY 
				AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY 
				AND A.AccountENtityid is not NULL

				UPDATE D
			 SET D.FinalAssetClassAlt_Key=A.AssetClassAlt_Key
				,D.NPIDt=A.NPA_Date
				,D.DEGREASON=case when A.AssetClassAlt_Key>1 then 'NPA DUE TO MOC' ELSE NULL END
		FROM CalypsoDervMOC_ChangeDetails  A		
			INNER JOIN CurDat.DerivativeDetail D
				ON  A.CustomerID=D.CustomerID
				AND D.EffectiveFromTimeKey<=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY 
				AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY 
				AND A.CustomerID is not NULL

		UPDATE A SET A.UpgDate=NULL
				 ,A.FlgDeg='N'
				 ,A.NPIDt=NULL
				 ,A.DBTDate=NULL
				 ,A.FlgUpg='N'
		 FROM curdat.DerivativeDetail A
			WHERE A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
				AND FinalAssetClassAlt_Key=1
/* END OF MOC CHANGES */
------/*------------------UPGRAD CUSTOMER ACCOUNT------------------*/  21022023 ---- Sudesh ---Same Code applied in Pro.UpgradeAccountCustomer

--UPDATE A SET FLGUPG='N'
--FROM   [CurDat].[DerivativeDetail] A   
--WHERE    A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey 


--IF OBJECT_ID('TEMPDB..#TEMPTABLE') IS NOT NULL
--      DROP TABLE #TEMPTABLE

--SELECT A.UCIC_ID,TOTALCOUNT  INTO #TEMPTABLE FROM 
--(
--SELECT A.UCIC_ID,COUNT(1) TOTALCOUNT  
--FROM   [CurDat].[DerivativeDetail] A 
--WHERE A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey
--GROUP BY A.UCIC_ID
--)
--A INNER JOIN 
--(
--SELECT B.UCIC_ID,COUNT(1) TOTALDPD_MAXCOUNT 
--FROM   [CurDat].[DerivativeDetail] B
--WHERE (ISNULL(B.DPD,0)<=0 )
--   and ISNULL(FinalAssetClassAlt_Key,1) not in(1)
--  AND B.EffectiveFromTimeKey<=@TimeKey and B.EffectiveToTimeKey>=@TimeKey
-- GROUP BY B.UCIC_ID

--) B ON A.UCIC_ID=B.UCIC_ID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT


------  /*------ UPGRADING CUSTOMER-----------*/
  
--UPDATE A SET A.FlgUpg='U'
--FROM   [CurDat].[DerivativeDetail] A INNER JOIN #TEMPTABLE B ON A.UCIC_ID=B.UCIC_ID
--WHERE  A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey



--UPDATE A SET  A.UpgDate=@PROCESSDATE
--             ,A.DegReason=NULL
--			 ,A.AssetClass_AltKey=1
--			 ,A.FlgDeg='N'
--			 ,A.NPIDt=null
--             ,A.FlgUpg='U'
--			 FROM  [CurDat].[DerivativeDetail] A
--WHERE  ISNULL(A.FlgUpg,'U')='U' 
--AND A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey


UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='DerivativeDataProcessing'

	
	--------------Added for DashBoard 04-03-2021
	Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

	
END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='DerivativeDataProcessing'
END CATCH


SET NOCOUNT OFF
END
















GO
