USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[InvestmentDerivativeProvisionCal]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




----/*=========================================
---- AUTHER : TRILOKI KHANNA
---- CREATE DATE : 27-11-2019
---- MODIFY DATE : 27-11-2019
---- DESCRIPTION : UPDATE InvestmentDataProcessing
---- --EXEC [PRO].[InvestmentDataProcessing] @TIMEKEY=26053
----=============================================*/


CREATE PROCEDURE [PRO].[InvestmentDerivativeProvisionCal]
@TIMEKEY INT
WITH RECOMPILE
/*=========================================
-- AUTHOR : TRILOKI KHANNA
-- CREATE DATE : 09-04-2021
-- MODIFY DATE : 09-04-2021
-- DESCRIPTION : Test Case Cover in This SP

--=============================================*/
AS
BEGIN
  SET NOCOUNT ON
   BEGIN TRY
--DECLARE @TIMEKEY INT=@TimeKey


----/*----------------PROVISION ALT KEY ALL  ACCOUNTS--------------------------------*/
/*  INVESTMENT  */





		UPDATE A SET PROVISIONALT_KEY=0
		from InvestmentFinancialDetail  A
		where  (A.EffectiveFromTimeKey<=@TimeKey AND A.EffectiveToTimeKey>=@TimeKey)

		UPDATE A SET A.ProvisionAlt_Key=D.ProvisionAlt_Key
		----SELECT *
		FROM InvestmentFinancialDetail A 
		INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1) 
			 AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)
			 INNER JOIN DimProvision_Seg d
				ON D.EffectiveFromTimeKey <=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY
				--AND A.DPD BETWEEN d.LowerDPD AND d.UpperDPD
				AND c.AssetClassShortName=d.PROVISIONSHORTNAMEENUM
			WHERE  C.ASSETCLASSGROUP='NPA'  AND
			 (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)
			  and d.SEGMENT='IRAC'


			 UPDATE A 
				SET TotalProvison =(CASE WHEN ISNULL(B.ASSETCLASSSHORTNAMEENUM,'STD')='LOS' 
												THEN BookValueINR
										ELSE (ISNULL(A.BookValueINR,0) * ISNULL(C.PROVISIONUNSECURED,0)/100 )  
										 END)

				FROM InvestmentFinancialDetail A  
				INNER JOIN DIMASSETCLASS B ON B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
											AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY      
											AND ISNULL(A.FinalAssetClassAlt_Key,1) =B.ASSETCLASSALT_KEY 
				INNER JOIN DIMPROVISION_SEG C ON C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
										  AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY      
										  AND ISNULL(A.PROVISIONALT_KEY,1) = C.PROVISIONALT_KEY 

				WHERE  FinalAssetClassAlt_Key>1 AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY     AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY  
 


			 /* STD PROVISION ALTKEY */
			UPDATE A SET A.ProvisionAlt_Key=D.ProvisionAlt_Key
			----SELECT *
			FROM   InvestmentFinancialDetail A 
			INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1) 
				 AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)
				 INNER JOIN DimProvision_SegSTD d
					ON D.EffectiveFromTimeKey <=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY
					  and d.ProvisionName='Other Portfolio' 
			WHERE  C.ASSETCLASSGROUP='STD'  AND
			 (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)


			/* STD PROVISION maount */
			 UPDATE A 
				SET TotalProvison =(CASE WHEN ISNULL(B.ASSETCLASSSHORTNAMEENUM,'STD')='LOS' 
												THEN BookValueINR
										ELSE (ISNULL(A.BookValueINR,0) * ISNULL(C.PROVISIONUNSECURED,0)/100 )  
										 END)

				FROM  InvestmentFinancialDetail A  
				INNER JOIN DIMASSETCLASS B ON B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
											AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY      
											AND ISNULL(A.FinalAssetClassAlt_Key,1) =B.ASSETCLASSALT_KEY 
				INNER JOIN DimProvision_SegStd C ON C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
										  AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY      
										  AND ISNULL(A.PROVISIONALT_KEY,1) = C.PROVISIONALT_KEY 
				WHERE  FinalAssetClassAlt_Key=1 AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY     AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY  

			 OPTION(RECOMPILE)
 
----/*----------------PROVISION ALT KEY ALL  ACCOUNTS--------------------------------*/
/* DERIVATIVE */
		UPDATE A SET PROVISIONALT_KEY=0
		FROM   [CurDat].[DerivativeDetail]  A
		where  (A.EffectiveFromTimeKey<=@TimeKey AND A.EffectiveToTimeKey>=@TimeKey)


		/* NPA PROVISION ALTKEY */
		UPDATE A SET A.ProvisionAlt_Key=D.ProvisionAlt_Key
		----SELECT *
		FROM   [CurDat].[DerivativeDetail] A 
		INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1) 
			 AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)
			 INNER JOIN DimProvision_Seg d
				ON D.EffectiveFromTimeKey <=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY
				--AND A.DPD BETWEEN d.LowerDPD AND d.UpperDPDS
				AND c.AssetClassShortName=d.PROVISIONSHORTNAMEENUM
		WHERE  C.ASSETCLASSGROUP='NPA'  AND
		 (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)
		  and d.SEGMENT='IRAC'



		/* NPA PROVISION maount */
		 UPDATE A 
			SET TotalProvison =(CASE WHEN ISNULL(B.ASSETCLASSSHORTNAMEENUM,'STD')='LOS' 
											THEN POS
									ELSE (ISNULL(A.POS,0) * ISNULL(C.PROVISIONUNSECURED,0)/100 )  
									 END)

			FROM   [CurDat].[DerivativeDetail] A  
			INNER JOIN DIMASSETCLASS B ON B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
										AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY      
										AND ISNULL(A.FinalAssetClassAlt_Key,1) =B.ASSETCLASSALT_KEY 
			INNER JOIN DIMPROVISION_SEG C ON C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
									  AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY      
									  AND ISNULL(A.PROVISIONALT_KEY,1) = C.PROVISIONALT_KEY 

			WHERE  FinalAssetClassAlt_Key>1 AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY     AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY  
 

		 /* STD PROVISION ALTKEY */
		UPDATE A SET A.ProvisionAlt_Key=D.ProvisionAlt_Key
		----SELECT *
		FROM   [CurDat].[DerivativeDetail] A 
		INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1) 
			 AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)
			 INNER JOIN DimProvision_SegSTD d
				ON D.EffectiveFromTimeKey <=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY
				  and d.ProvisionName='Other Portfolio' 
		WHERE  C.ASSETCLASSGROUP='STD'  AND
		 (A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY)



		/* STD PROVISION maount */
		 UPDATE A 
			SET TotalProvison =(CASE WHEN ISNULL(B.ASSETCLASSSHORTNAMEENUM,'STD')='LOS' 
											THEN POS
									ELSE (ISNULL(A.POS,0) * ISNULL(C.PROVISIONUNSECURED,0)/100 )  
									 END)

			FROM   [CurDat].[DerivativeDetail] A  
			INNER JOIN DIMASSETCLASS B ON B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
										AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY      
										AND ISNULL(A.FinalAssetClassAlt_Key,1) =B.ASSETCLASSALT_KEY 
			INNER JOIN DimProvision_SegStd C ON C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY
									  AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY      
									  AND ISNULL(A.PROVISIONALT_KEY,1) = C.PROVISIONALT_KEY 
			WHERE  FinalAssetClassAlt_Key=1 AND A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY     AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY  
 
		OPTION(RECOMPILE)




-----------------------MOC-------------------------

update InvestmentFinancialDetail 
set TotalProvison = TotalProvison + ISNULL(AddlProvision,0)
where EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY
and isnull(AddlProvision,0)>0

update InvestmentFinancialDetail 
set TotalProvison = TotalProvison + (BookValueINR * (ISNULL(AddlProvisionPer,0)/100))
where EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY
and isnull(AddlProvisionPer,0)>0

update curdat.DerivativeDetail 
set TotalProvison = TotalProvison + ISNULL(AddlProvision,0)
where EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY
and isnull(AddlProvision,0)>0

update curdat.DerivativeDetail 
set TotalProvison = TotalProvison + (POS * (ISNULL(AddlProvisionPer,0)/100))
where EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY
and isnull(AddlProvisionPer,0)>0

--------------------------------------------------------------------------
Update dbo.InvestmentFinancialDetail
SET 
TotalProvison=0,
ProvisionAlt_Key=NULL
WHERE 
EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY
AND FinalAssetClassAlt_Key=1


/* WROTE OFF CHAGNES - UPDATE TOTAL PROVISION 0 20092023 */
UPDATE A SET TotalProvison=0
 FROM DBO.InvestmentFinancialDetail A
 INNER JOIN DBO.InvestmentIssuerDetail B
 ON A.RefIssuerID=B.IssuerID
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
 AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
  INNER JOIN DBO.ExceptionFinalStatusType C
	ON C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY
	AND C.ACID=A.RefInvID
	AND C.StatusType IN ('TWO','WO','WriteOff') AND C.SourceAlt_key=7

	--------------Added for DashBoard 04-03-2021
	Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

	
END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='InvestmentDataProcessing'
END CATCH


SET NOCOUNT OFF
END

















GO
