USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[Upgrade_Customer_Account]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
  
/*=========================================  
 AUTHER : TRILOKI KHANNA  
 CREATE DATE : 27-11-2019  
 MODIFY DATE : 27-11-2019  
 DESCRIPTION : FIRST UPGRADE TO CUSTOMER LEVEL  AFTER THAT ACCOUNT LEVEL  
=============================================*/  
  
  
CREATE  PROCEDURE   [PRO].[Upgrade_Customer_Account]  
@TIMEKEY INT  
WITH RECOMPILE  
AS  
BEGIN  
  SET NOCOUNT ON  
   BEGIN TRY  
   
   
/*=========================================  
 AUTHOR : TRILOKI KHANNA  
 CREATE DATE : 09-04-2021  
 MODIFY DATE : 09-04-2021  
 DESCRIPTION : Test Case Cover in This SP  
  
RefCustomerID TestCase  
143 Reversefeed Upgradation  
94 UPG-TL/DL - Ac Level: Eligible for Upgrade  
96 UPG-Bills/ PC - Ac Level: Eligible for Upgradae  
98 UPG-CC/OD: Eligible for Upgrade  
95 UPG-TL/DL - Ac Level: Not Eligible for Upgrade  
97 UPG-Bills/ PC - Ac Level: Not Eligible for Upgradae  
99 UPG-CC/OD: Not Eligible for Upgrade  
V1-Change in NPA Identification & Upgrade logic - Unlisted Equity   
=============================================*/  
  
/*check the customer when all account to cutomer dpdmax must be 0*/  
  
DECLARE @PROCESSDATE DATE=(SELECT Date FROM SysDayMatrix WHERE TimeKey=@TIMEKEY)  
  
  
UPDATE ##ACCOUNTCAL SET FLGUPG='N'  
UPDATE ##CUSTOMERCAL SET FLGUPG='N'  
  
DECLARE @REFPERIODLATESTBS_DATE SMALLINT=360  
DECLARE @REFPERIODLATESTBS_DATE_UNLISTED_Equity SMALLINT=365             -----------------V1-added Mohit/prashant 10102025 ----------  
  
IF OBJECT_ID('TEMPDB..#TEMPTABLE') IS NOT NULL  
      DROP TABLE #TEMPTABLE  
  
SELECT A.UCIF_ID,TOTALCOUNT  INTO #TEMPTABLE FROM   
(  
SELECT UCIF_ID,SUM(TOTALCOUNT)TOTALCOUNT   
FROM  
(  
SELECT A.UCIF_ID,COUNT(1) TOTALCOUNT   
FROM ##CUSTOMERCAL A   
INNER JOIN ##ACCOUNTCAL B   
ON A.UCIF_ID=B.UCIF_ID   
WHERE (A.FlgProcessing='N' ) AND A.UCIF_ID IS NOT NULL  
AND B.Asset_Norm NOT IN ('ALWYS_STD')    
GROUP BY A.UCIF_ID  
UNION ALL  
SELECT B.UCIFID,COUNT(1) TOTALCOUNT FROM InvestmentFinancialDetail A  
INNER JOIN InvestmentIssuerDetail B  
ON A.RefIssuerID=B.IssuerID  
AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY  
AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY  
AND A.Asset_Norm NOT IN ('ALWYS_STD')  
GROUP BY B.UCIFID  
UNION ALL  
SELECT A.UCIC_ID,COUNT(1) TOTALCOUNT FROM   
CurDat.DerivativeDetail A  
WHERE A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY  
GROUP BY A.UCIC_ID  
)X GROUP BY UCIF_ID  
)  
A INNER JOIN   
(  
SELECT UCIF_ID,SUM(TOTALDPD_MAXCOUNT)TOTALDPD_MAXCOUNT FROM (  
SELECT A.UCIF_ID,COUNT(1) TOTALDPD_MAXCOUNT FROM ##CUSTOMERCAL A INNER JOIN ##ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID  
WHERE ((B.DPD_INTSERVICE<=B.REFPERIODINTSERVICEUPG  
   and B.DPD_NOCREDIT <=B.REFPERIODNOCREDITUPG  
   and B.DPD_OVERDRAWN <=B.REFPERIODOVERDRAWNUPG  
   and B.DPD_OVERDUE<=B.REFPERIODOVERDUEUPG  
   and B.DPD_RENEWAL<=B.REFPERIODREVIEWUPG  
   and B.DPD_STOCKSTMT <=B.REFPERIODSTKSTATEMENTUPG) OR B.Balance = 0)  
   and B.InitialAssetClassAlt_Key not in(1)  
AND (A.FlgProcessing='N')  
AND B.Asset_Norm NOT IN ('ALWYS_NPA','ALWYS_STD')  
AND  ISNULL(A.MocStatusMark,'N')='N'   
AND A.UCIF_ID IS NOT NULL  
AND ISNULL(B.UNSERVIEDINT,0)=0   
AND  ISNULL(B.AccountStatus,'N')<>'Z'  
---AMAR  28032022 AS DISCUSSED WITH aSHISH SIR ON 24TH MAR'2022 -- ADDED FOR CHECK INTT OVERDUE AMOUNT FOR CCOD ACCOUNT FOR UPGRADE  
AND ( (FacilityType IN('CC','OD') and isnull(IntOverdue,0)=0) OR (ISNULL(FacilityType,'') NOT IN('CC','OD')))  
GROUP BY A.UCIF_ID  
--UNION ALL  
--SELECT B.UCIFID,COUNT(1) TOTALDPD_MAXCOUNT FROM InvestmentFinancialDetail A  
--INNER JOIN InvestmentIssuerDetail B  
--ON A.RefIssuerID=B.IssuerID  
--AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY  
--AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY  
--WHERE  
--((ISNULL(A.DPD_DivOverdue,0)<=0) and (ISNULL(A.PartialRedumptionDPD,0)<=0) AND ISNULL(DPD_BS_Date,0)<@REFPERIODLATESTBS_DATE  
--AND ISNULL(FinalAssetClassAlt_Key,1)<>1  
--AND A.Asset_Norm NOT IN ('ALWYS_STD'))  
--GROUP BY B.UCIFID  
UNION ALL                       --------------------------V1-Old logic New Changes add mohit/Prashant 10102025 --------------------------  
SELECT C.UCIFID,COUNT(1) TOTALDPD_MAXCOUNT   
FROM InvestmentBasicDetail A  
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId  
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey  
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId  
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey  
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey  
INNER JOIN DIMINSTRUMENTTYPE INS   
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey  
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key  
WHERE  
((ISNULL(B.DPD_DivOverdue,0)<=0) and (ISNULL(B.PartialRedumptionDPD,0)<=0) AND ISNULL(DPD_BS_Date,0)<@REFPERIODLATESTBS_DATE  
AND ISNULL(FinalAssetClassAlt_Key,1)<>1  
AND B.Asset_Norm NOT IN ('ALWYS_STD')  
AND ISNULL(ListedShares,'') NOT IN ('Unlisted')  
AND ISNULL(INS.InstrumentTypeSubGroup,'') NOT IN ('Equity'))  
GROUP BY C.UCIFID  
UNION ALL   ---------------------------------------------------V1-added Mohit/prashant 10102025 -----  
SELECT C.UCIFID,COUNT(1) TOTALDPD_MAXCOUNT FROM InvestmentBasicDetail A  
inner join InvestmentIssuerDetail C ON A.IssuerEntityId=C.IssuerEntityId  
AND C.EffectiveFromTimeKey <=@timekey AND C.EffectiveToTimeKey>=@timekey  
inner join InvestmentFinancialDetail B on A.InvEntityId=B.InvEntityId  
AND A.EffectiveFromTimeKey<=@timekey AND A.EffectiveToTimeKey>=@timekey  
AND B.EffectiveFromTimeKey<=@timekey AND B.EffectiveToTimeKey>=@timekey  
INNER JOIN DIMINSTRUMENTTYPE INS   
ON INS.EffectiveFromTimeKey<=@timekey AND INS.EffectiveToTimeKey>=@timekey  
AND INS.InstrumentTypeAlt_Key=A.InstrTypeAlt_Key  
WHERE  
((ISNULL(B.DPD_DivOverdue,0)<=0) and (ISNULL(B.PartialRedumptionDPD,0)<=0) AND ISNULL(DPD_BS_Date,0)<=@REFPERIODLATESTBS_DATE_UNLISTED_Equity   
AND ISNULL(FinalAssetClassAlt_Key,1)<>1  
AND B.Asset_Norm NOT IN ('ALWYS_STD')  
AND ISNULL(ListedShares,'') IN ('Unlisted')  
AND ISNULL(INS.InstrumentTypeSubGroup,'') IN ('Equity'))  
GROUP BY C.UCIFID  
UNION ALL   ---------------------------------------------------END Mohit/prashant 10102025 -----  
SELECT A.UCIC_ID,COUNT(1) TOTALDPD_MAXCOUNT FROM   
CurDat.DerivativeDetail A  
WHERE A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY  
AND ( ISNULL(A.DPD,0)<=0  
AND ISNULL(FinalAssetClassAlt_Key,1)<>1)  
GROUP BY A.UCIC_ID  
)Y GROUP BY UCIF_ID  
) B ON A.UCIF_ID=B.UCIF_ID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT  
  
  
  /*------ UPGRADING CUSTOMER-----------*/  
    
UPDATE A SET A.FlgUpg='U'  
FROM ##CUSTOMERCAL A INNER JOIN #TEMPTABLE B ON A.UCIF_ID=B.UCIF_ID  
 INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.SYSASSETCLASSALT_KEY AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
WHERE  (not(isnull(A.ASSET_NORM,'NORMAL')='ALWYS_NPA' ) AND  C.ASSETCLASSGROUP ='NPA' AND not(ISNULL(A.FLGDEG,'N')='Y')) AND (ISNULL(A.FlgProcessing,'N')='N')  
  
UPDATE A SET A.FlgUpg='U'  
FROM InvestmentFinancialDetail A   
INNER JOIN InvestmentIssuerDetail D on A.RefIssuerID = D.IssuerID   
AND A.EffectiveFromTimeKey <= @Timekey and A.EffectiveToTimeKey >= @Timekey  
AND D.EffectiveFromTimeKey <= @Timekey and D.EffectiveToTimeKey >= @Timekey  
INNER JOIN #TEMPTABLE B ON D.Ucifid=B.UCIF_ID  
 INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.FinalAssetClassAlt_Key AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
WHERE  (not(isnull(A.ASSET_NORM,'NORMAL')='ALWYS_NPA' ) AND  C.ASSETCLASSGROUP ='NPA' AND not(ISNULL(A.FLGDEG,'N')='Y')) --AND (ISNULL(A.FlgProcessing,'N')='N')  
  
UPDATE A SET A.FlgUpg='U'  
FROM curdat.DerivativeDetail A INNER JOIN #TEMPTABLE B ON A.UCIC_ID=B.UCIF_ID  
 INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.FinalAssetClassAlt_Key AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
WHERE  --(not(isnull(A.ASSET_NORM,'NORMAL')='ALWYS_NPA' ) AND  
  C.ASSETCLASSGROUP ='NPA' AND not(ISNULL(A.FLGDEG,'N')='Y') --AND (ISNULL(A.FlgProcessing,'N')='N')  
  
  
  
    
------------------- Added by Prashant 20022025 as discussion with Akshay sir , Kandpal sir and Jayadev ----------------------------------------------------------  
  
Update        a  
set           a.FlgUpg='U'    
from          ##ACCOUNTCAL a  
inner join    ##CUSTOMERCAL b  
on            a.CustomerEntityID=b.CustomerEntityID  
where         a.FinalAssetClassAlt_Key=1 and a.Asset_Norm='ALWYS_STD' and a.FlgUpg is null  
and           b.SysAssetClassAlt_Key>1 and isnull(b.Asset_Norm,'Normal')<>'ALWYS_NPA'  
  
  
IF OBJECT_ID('TEMPDB..#UpdateTempAssetclassAssetnorm1') IS NOT NULL    
 DROP TABLE  #UpdateTempAssetclassAssetnorm1    
  
select        a.CustomerEntityID, count(a.CustomerAcID) CNT  
into          #UpdateTempAssetclassAssetnorm1  
from    ##ACCOUNTCAL a  
inner join    ##CUSTOMERCAL b  
--on            a.CustomerEntityID=b.CustomerEntityID  
on            a.UcifEntityID=b.UcifEntityID ---added by prashant ----13062025----  
group by      a.CustomerEntityID  
having        count(a.CustomerAcID)=1  
  
--------------------------------added by prashant ----13062025-------------------------------------------------  
  
IF OBJECT_ID('TEMPDB..#UpdateTempAssetclassAssetnormtemp1') IS NOT NULL    
 DROP TABLE  #UpdateTempAssetclassAssetnormtemp1   
  
  
 SELECT C.AccountEntityID,SUM(isnull(CurrentValue,0)) CurrentValue    
 into #UpdateTempAssetclassAssetnormtemp1  
    FROM ##ACCOUNTCAL C    
     LEFT  JOIN dbo.AdvSecurityDetail Advsec     
        ON Advsec.AccountEntityID=C.AccountEntityID      
        AND Advsec.EffectiveFromTimeKey < = @TIMEKEY      
        AND Advsec.EffectiveToTimeKey   >= @TIMEKEY      
     LEFT JOIN dbo.AdvSecurityVAlueDetail B   
     ON  Advsec.SecurityEntityID=b.SecurityEntityID      
        AND B.SecurityEntityID = Advsec.SecurityEntityID      
        AND B.EffectiveFromTimeKey < = @TIMEKEY      
        AND B.EffectiveToTimeKey   >= @TIMEKEY      
     inner join DimProduct DP    
        ON c.ProductAlt_Key=dp.ProductAlt_Key    
        and DP.ProductGroup='FDSEC'    
        AND DP.EffectiveFromTimeKey < = @TIMEKEY AND DP.EffectiveToTimeKey   >= @TIMEKEY      
        AND C.EffectiveFromTimeKey < = @TIMEKEY AND C.EffectiveToTimeKey   >= @TIMEKEY      
        GROUP BY C.AccountEntityID   
  
--------------------------------added by prashant ----18102025-------------------------------------------------  
  
IF OBJECT_ID('TEMPDB..#Cohort_No_PERC_1') IS NOT NULL  
   DROP TABLE #Cohort_No_PERC_1  
  
SELECT DISTINCT Cohort_No   
into            #Cohort_No_PERC_1  
FROM            pro.coborrowercal   
WHERE           FinalAssetClass_AltKey>1  
GROUP BY        Cohort_No  
  
  
IF OBJECT_ID('TEMPDB..#Cohort_No_PERC_2') IS NOT NULL  
   DROP TABLE #Cohort_No_PERC_2  
  
select distinct a.AccountEntityID  
into            #Cohort_No_PERC_2  
FROM            ##ACCOUNTCAL a  
inner join      pro.coborrowercal b  
on              a.UCIF_ID=b.UCIC  
inner join      #Cohort_No_PERC_1 c  
on              b.Cohort_No=c.Cohort_No  
inner join      DimProduct d  
on              a.ProductCode=d.ProductCode  
where           d.ProductGroup='FDSEC'  
and             isnull(a.Asset_Norm,'')<>'ALWYS_NPA'  
and             D.EffectiveFromTimeKey <= @TIMEKEY AND D.EffectiveToTimeKey >= @TIMEKEY  
  
--------------------------------added by prashant ----18102025- END----------------------  
  
--Update        a  
--set           a.FlgUpg= case when a.InitialAssetClassAlt_Key > 1 then 'U'  else 'N'end  
--    ,a.Asset_Norm ='ALWYS_STD'  
--             ,a.UpgDate= case when a.InitialAssetClassAlt_Key > 1 then @PROCESSDATE else null end  
--             ,a.DegReason=NULL  
--    ,a.FinalAssetClassAlt_Key=1  
--    ,a.FlgDeg='N'  
--    ,a.FinalNpaDt=null  
--from          ##ACCOUNTCAL a  
--inner join    ##CUSTOMERCAL b  
--on            a.CustomerEntityID=b.CustomerEntityID  
--inner join    #UpdateTempAssetclassAssetnorm1 c  
--on            a.CustomerEntityID=c.CustomerEntityID  
--inner join    #UpdateTempAssetclassAssetnormtemp1 d  
--on            a.AccountEntityID=d.AccountEntityID  
--where         a.Asset_Norm in ('ALWYS_STD' ,'CONDI_STD')   
--and           b.SysAssetClassAlt_Key>1 and isnull(b.Asset_Norm,'Normal')<>'ALWYS_NPA'  
--and           a.ProductCode in (select ProductCode from DimProduct where ProductGroup='FDSEC'  
--                                 and EffectiveToTimeKey=49999)  
--and          isnull(d.CurrentValue,0) > isnull(a.Balance,0)  
  
  
--Update        b  
--set           b.FlgUpg='U'  ,b.Asset_Norm ='ALWYS_STD'  
--from          ##ACCOUNTCAL a  
--inner join    ##CUSTOMERCAL b  
--on            a.CustomerEntityID=b.CustomerEntityID  
--inner join    #UpdateTempAssetclassAssetnorm1 c  
--on            a.CustomerEntityID=c.CustomerEntityID  
--inner join    #UpdateTempAssetclassAssetnormtemp1 d  
--on            a.AccountEntityID=d.AccountEntityID  
--where         a.Asset_Norm in ('ALWYS_STD' ,'CONDI_STD')   
--and           b.SysAssetClassAlt_Key>1 and isnull(b.Asset_Norm,'Normal')<>'ALWYS_NPA'  
--and           a.ProductCode in (select ProductCode from DimProduct where ProductGroup='FDSEC'  
--                                 and EffectiveToTimeKey=49999)  
--and          isnull(d.CurrentValue,0) > isnull(a.Balance,0)  
  
Update        a  
set           a.FlgUpg= case when a.InitialAssetClassAlt_Key > 1 then 'U'  else 'N'end  
    ,a.Asset_Norm ='ALWYS_STD'  
             ,a.UpgDate= case when a.InitialAssetClassAlt_Key > 1 then @PROCESSDATE else null end  
             ,a.DegReason=NULL  
    ,a.FinalAssetClassAlt_Key=1  
    ,a.FlgDeg='N'  
    ,a.FinalNpaDt=null  
from          ##ACCOUNTCAL a  
inner join    ##CUSTOMERCAL b  
on            a.CustomerEntityID=b.CustomerEntityID  
inner join    #UpdateTempAssetclassAssetnorm1 c  
on            a.CustomerEntityID=c.CustomerEntityID  
inner join    #UpdateTempAssetclassAssetnormtemp1 d  
on            a.AccountEntityID=d.AccountEntityID  
left join     #Cohort_No_PERC_2 CP                                   ---added by prashant ----18102025-  
ON            A.AccountEntityID=CP.AccountEntityID  
where         a.Asset_Norm in ('ALWYS_STD' ,'CONDI_STD')   
and           b.SysAssetClassAlt_Key>1 and isnull(b.Asset_Norm,'Normal')<>'ALWYS_NPA'  
and           a.ProductCode in (select ProductCode from DimProduct where ProductGroup='FDSEC'  
                                 and EffectiveToTimeKey=49999)  
and          isnull(d.CurrentValue,0) > isnull(a.Balance,0)  
and          CP.AccountEntityID is null                            ---added by prashant ----18102025-  
--And          isnull(A.DPD_Max,0)=0                                           ---added by prashant ----18102025-  
AND (( A.DPD_INTSERVICE<=A.REFPERIODINTSERVICEUPG  
   and A.DPD_NOCREDIT <= A.REFPERIODNOCREDITUPG  
   and A.DPD_OVERDRAWN <=A.REFPERIODOVERDRAWNUPG  
   and A.DPD_OVERDUE<=   A.REFPERIODOVERDUEUPG  
   and A.DPD_RENEWAL<=   A.REFPERIODREVIEWUPG  
   and A.DPD_STOCKSTMT <=A.REFPERIODSTKSTATEMENTUPG))  
  
Update        b  
set           b.FlgUpg='U'  ,b.Asset_Norm ='ALWYS_STD'  
from          ##ACCOUNTCAL a  
inner join    ##CUSTOMERCAL b  
on            a.CustomerEntityID=b.CustomerEntityID  
inner join    #UpdateTempAssetclassAssetnorm1 c  
on            a.CustomerEntityID=c.CustomerEntityID  
inner join    #UpdateTempAssetclassAssetnormtemp1 d  
on            a.AccountEntityID=d.AccountEntityID  
left join     #Cohort_No_PERC_2 CP  
ON            A.AccountEntityID=CP.AccountEntityID  
where         a.Asset_Norm in ('ALWYS_STD' ,'CONDI_STD')   
and           b.SysAssetClassAlt_Key>1 and isnull(b.Asset_Norm,'Normal')<>'ALWYS_NPA'  
and           a.ProductCode in (select ProductCode from DimProduct where ProductGroup='FDSEC'  
                                 and EffectiveToTimeKey=49999)  
and          isnull(d.CurrentValue,0) > isnull(a.Balance,0)  
and          CP.AccountEntityID is null                              ---added by prashant ----18102025-  
--And          isnull(A.DPD_Max,0)=0                                           ---added by prashant ----18102025-  
AND (( A.DPD_INTSERVICE<=A.REFPERIODINTSERVICEUPG  
   and A.DPD_NOCREDIT <= A.REFPERIODNOCREDITUPG  
   and A.DPD_OVERDRAWN <=A.REFPERIODOVERDRAWNUPG  
   and A.DPD_OVERDUE<=   A.REFPERIODOVERDUEUPG  
   and A.DPD_RENEWAL<=   A.REFPERIODREVIEWUPG  
   and A.DPD_STOCKSTMT <=A.REFPERIODSTKSTATEMENTUPG))  
  
  
  
-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------  
  
  
/* BUYOUT UPGARDE */  
  
/*  
 /*  UPGRADE ACCOUNTS- NPA DUTE TO DPD_SELLER/VIRTUAL DPD */  
  DROP TABLE IF EXISTS #NPA_SELLER  
  SELECT UcifEntityID--,a.CustomerAcID  
   INTO #NPA_SELLER  
  FROM PRO.ACCOUNTCAL A  
   inner JOIN PRO.BuyoutUploadDetailsCal D  
    ON A.AccountEntityID=D.AccountEntityID  
    --AND a.customeracid='809002073957'  
    and NPA_ClassSeller='N'  
   INNER JOIN PRO.BuyoutUploadDetailsCal_Hist E  
    on e.EffectiveFromTimeKey<=@TIMEKEY-1 and e.EffectiveToTimeKey>=@TIMEKEY -1  
   WHERE E.NPA_FLAG='NPA_SELLER'  
    AND ISNULL(A.ASSET_NORM,'NORMAL')<>'ALWYS_NPA'   
  GROUP BY UcifEntityID  
   
 --SELECT * FROM #NPA_SELLER WHERE  ucifentityid=2860237  
  DELETE a  
  --SELECT B.DPD_MAX,A.UcifEntityID,B.CustomerAcID  
  FROM #NPA_SELLER a  
   INNER JOIN  PRO.ACCOUNTCAL b  
   ON A.UcifEntityID=B.UcifEntityID  
   AND ISNULL(DPD_MAX,0)>0  
   --and B.customeracid='809002073957'  
  
  UPDATE A  
   SET A.FlgUpg='U'  
  FROM PRO.CUSTOMERCAL A  
   INNER JOIN #NPA_SELLER B  
   ON A.UcifEntityID=B.UcifEntityID  
   ----and a.CustomerEntityID=1194338  
   INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.SYSASSETCLASSALT_KEY   
   AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
  WHERE isnull(A.ASSET_NORM,'NORMAL')<>'ALWYS_NPA'   
    AND  C.ASSETCLASSGROUP ='NPA'   
      
     
-------------------  
 /*  UPGRADE ACCOUNTS- NPA DUTE TO VIRTUAL DPD - AND VERTIUAL DPD IS 0 */  
  DROP TABLE IF EXISTS #NPA_VDPD  
  SELECT UcifEntityID  
    
   INTO #NPA_VDPD  
  FROM PRO.ACCOUNTCAL A  
   INNER JOIN PRO.BuyoutUploadDetailsCal D  
    ON A.AccountEntityID=D.AccountEntityID  
    ------and ucifentityid=2860237  
    -------and a.AccountEntityID=2162686  
   INNER JOIN PRO.BuyoutUploadDetailsCal_Hist E  
    on e.EffectiveFromTimeKey<=@TIMEKEY-1 and e.EffectiveToTimeKey>=@TIMEKEY -1  
    AND A.AccountEntityID=E.AccountEntityId  
   WHERE E.NPA_FLAG='NPA_VDPD' and d.PeakDPD is not null  
       AND (ISNULL(D.PeakDPD,0)<A.RefPeriodOverdue and isnull(D.DPD_Seller,0)>0)  
  
    --AND ISNULL(A.ASSET_NORM,'NORMAL')<>'ALWYS_NPA'   
  GROUP BY UcifEntityID  
  ----select * from #NPA_VDPD where ucifentityid=2860237  
  
  DELETE A FROM #NPA_VDPD A  
  INNER JOIN  PRO.ACCOUNTCAL B  
   ON A.UcifEntityID =B.UcifEntityID  
  WHERE (    ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE    
    OR ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN       
    OR ISNULL(B.DPD_NOCREDIT,0)>=B.REFPERIODNOCREDIT        
                OR ISNULL(B.DPD_OVERDUE,0) >=B.REFPERIODOVERDUE          
                OR ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT    
    OR ISNULL(B.DPD_RENEWAL,0)>=B.REFPERIODREVIEW           
    )  
  
  UPDATE A  
   SET A.FlgUpg='U'  
  FROM PRO.CUSTOMERCAL A  
   INNER JOIN #NPA_VDPD B  
   ON A.UcifEntityID=B.UcifEntityID  
   ----and a.CustomerEntityID=1194338  
   INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.SYSASSETCLASSALT_KEY   
   AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
  WHERE isnull(A.ASSET_NORM,'NORMAL')<>'ALWYS_NPA'   
    AND  C.ASSETCLASSGROUP ='NPA'   
      
  
 /*  UPGRADE ACCOUNTS- NPA DUTE TO VIRTUAL DPD - AND VERTIUAL DPD IS >0 */  
  DROP TABLE IF EXISTS #NPA_VDPD_1  
  SELECT UcifEntityID  
    
   INTO #NPA_VDPD_1  
  FROM PRO.ACCOUNTCAL A  
   INNER JOIN PRO.BuyoutUploadDetailsCal D  
    ON A.AccountEntityID=D.AccountEntityID  
    ------and a.CustomerAcID ='809002513811'  
    -------and a.AccountEntityID=2162686  
   INNER JOIN PRO.BuyoutUploadDetailsCal_Hist E  
    on e.EffectiveFromTimeKey<=@TIMEKEY-1 and e.EffectiveToTimeKey>=@TIMEKEY -1  
    AND A.AccountEntityID=E.AccountEntityId  
   WHERE E.NPA_FLAG='NPA_VDPD' and d.PeakDPD is not null  
       AND isnull(D.DPD_Seller,0)=0  
  
    --AND ISNULL(A.ASSET_NORM,'NORMAL')<>'ALWYS_NPA'   
  GROUP BY UcifEntityID  
  ----select * from #NPA_VDPD where ucifentityid=2860237  
  
  DELETE A   
  ---select  dpd_max,*  
  from #NPA_VDPD_1 A  
  INNER JOIN  PRO.ACCOUNTCAL B  
   ON A.UcifEntityID =B.UcifEntityID  
  WHERE ( isnull(b.dpd_max,0)>0)  
  
  UPDATE A  
   SET A.FlgUpg='U'  
  FROM PRO.CUSTOMERCAL A  
   INNER JOIN #NPA_VDPD_1 B  
   ON A.UcifEntityID=B.UcifEntityID  
   ----and a.CustomerEntityID=1194338  
   INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.SYSASSETCLASSALT_KEY   
   AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
  WHERE isnull(A.ASSET_NORM,'NORMAL')<>'ALWYS_NPA'   
    AND  C.ASSETCLASSGROUP ='NPA'   
  
  /* SET NPA_FLAG AS NULL FOR STD ACCOUNTS */  
   UPDATE d  
    SET NPA_FLAG=NULL  
   FROM PRO.ACCOUNTCAL A  
   INNER JOIN PRO.BuyoutUploadDetailsCal D  
    ON A.AccountEntityID=D.AccountEntityID  
   WHERE A.FinalAssetClassAlt_Key=1  
  
  
 --DROP TABLE IF EXISTS #UCIF_ENTITYID  
  
 --SELECT A.UcifEntityID  
 -- INTO #UCIF_ENTITYID  
 --FROM PRO.ACCOUNTCAL A  
 -- LEFT JOIN PRO.BuyoutUploadDetailsCal D  
 --  ON A.AccountEntityID=D.AccountEntityID  
 -- WHERE A.FinalAssetClassAlt_Key>1  
 --  AND (    (D.NPA_EffectedToMainAdv='Y' AND D.AccountEntityID IS NULL)   
 --     OR (D.NPA_EffectedToMainAdv='Y' AND FlgDeg='N')   
        
 --   )  
 -- GROUP BY A.UcifEntityID  
  
 --union  
 --select a.UcifEntityID   
 --FROM PRO.ACCOUNTCAL A  
 -- inner JOIN PRO.BuyoutUploadDetailsCal D  
 --  ON A.AccountEntityID=D.AccountEntityID  
 -- WHERE A.FinalAssetClassAlt_Key>1  
 --  OR (ISNULL(A.DPD_OVERDUE,0) <A.REFPERIODOVERDUE)   
 -- GROUP BY A.UcifEntityID  
  
 --delete A   
 --from #UCIF_ENTITYID a  
 -- INNER JOIN  PRO.ACCOUNTCAL B  
 --  ON A.UcifEntityID =B.UcifEntityID  
 -- WHERE (    ISNULL(B.DPD_INTSERVICE,0)>=B.REFPERIODINTSERVICE    
 --   OR ISNULL(B.DPD_OVERDRAWN,0)>=B.REFPERIODOVERDRAWN       
 --   OR ISNULL(B.DPD_NOCREDIT,0)>=B.REFPERIODNOCREDIT        
 --               OR ISNULL(B.DPD_OVERDUE,0) >=B.REFPERIODOVERDUE          
 --               OR ISNULL(B.DPD_STOCKSTMT,0)>=B.REFPERIODSTKSTATEMENT    
 --   OR ISNULL(B.DPD_RENEWAL,0)>=B.REFPERIODREVIEW           
 --   )  
  
 --  UPDATE A  
 --  SET A.FlgUpg='U'  
 -- FROM PRO.CUSTOMERCAL A  
 --  INNER JOIN #UCIF_ENTITYID B  
 --  ON A.UcifEntityID=B.UcifEntityID  
 --  ----and a.CustomerEntityID=1194338  
 --  INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.SYSASSETCLASSALT_KEY   
 --  AND (C.EffectiveFromTimeKey<=@Timekey AND C.EffectiveToTimeKey>=@Timekey)  
 -- WHERE isnull(A.ASSET_NORM,'NORMAL')<>'ALWYS_NPA'   
 --   AND  C.ASSETCLASSGROUP ='NPA'   
 --   AND ISNULL(A.FLGDEG,'N')<>'Y'   
     
 /*END OF BUYOUT UPGRADE */  
--*/  
--IF OBJECT_ID('TEMPDB..#TEMPTABLE1') IS NOT NULL  
--      DROP TABLE #TEMPTABLE1  
  
--SELECT A.UCIF_ID,TOTALCOUNT  INTO #TEMPTABLE1 FROM   
--(  
--SELECT A.UCIF_ID,COUNT(1) TOTALCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID   
--WHERE (A.FlgProcessing='N' ) AND A.UCIF_ID IS NOT NULL  
--AND B.Asset_Norm NOT IN ('ALWYS_STD')  
--GROUP BY A.UCIF_ID  
--)  
--A INNER JOIN   
--(  
--SELECT A.UCIF_ID,COUNT(1) TOTALDPD_MAXCOUNT FROM PRO.CUSTOMERCAL A INNER JOIN PRO.ACCOUNTCAL B ON A.UCIF_ID=B.UCIF_ID  
--WHERE ((B.DPD_INTSERVICE<=B.REFPERIODINTSERVICEUPG  
--  and B.DPD_NOCREDIT <=B.REFPERIODNOCREDITUPG  
--   and B.DPD_OVERDRAWN <=B.REFPERIODOVERDRAWNUPG  
--   and B.DPD_OVERDUE<=B.REFPERIODOVERDUEUPG  
--   and B.DPD_RENEWAL<=B.REFPERIODREVIEWUPG  
--   and B.DPD_STOCKSTMT <=B.REFPERIODSTKSTATEMENTUPG) OR B.Balance = 0)  
--   and B.FinalAssetClassAlt_Key not in(1)  
--AND (A.FlgProcessing='N')  
--AND B.Asset_Norm NOT IN ('ALWYS_NPA','ALWYS_STD')  
--AND  ISNULL(A.MocStatusMark,'N')='N'   
--AND ISNULL(B.UNSERVIEDINT,0)=0   
--AND A.UCIF_ID IS NOT NULL    
--AND  ISNULL(B.AccountStatus,'N')<>'Z'  
--GROUP BY A.UCIF_ID  
  
--) B ON A.UCIF_ID=B.UCIF_ID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT  
  
  
  
--  /*------ UPGRADING CUSTOMER-----------*/  
  
  
--UPDATE A SET A.FlgUpg='U'  
--FROM PRO.CUSTOMERCAL A INNER JOIN #TEMPTABLE1 B ON A.UCIF_ID=B.UCIF_ID  
-- INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.SYSASSETCLASSALT_KEY AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
--WHERE  (not(isnull(A.ASSET_NORM,'NORMAL')='ALWYS_NPA' ) AND  C.ASSETCLASSGROUP ='NPA' AND not(ISNULL(A.FLGDEG,'N')='Y')) AND (ISNULL(A.FlgProcessing,'N')='N')  
  
  
  
IF OBJECT_ID('TEMPDB..#TEMPTABLERefCustomerID') IS NOT NULL  
      DROP TABLE #TEMPTABLERefCustomerID  
  
SELECT A.RefCustomerID,TOTALCOUNT  INTO #TEMPTABLERefCustomerID FROM   
(  
SELECT A.RefCustomerID,COUNT(1) TOTALCOUNT FROM ##CUSTOMERCAL A INNER JOIN ##ACCOUNTCAL B ON A.RefCustomerID=B.RefCustomerID   
WHERE (A.FlgProcessing='N' ) AND A.UCIF_ID IS  NULL   
 and A.RefCustomerID is not null  
 AND B.Asset_Norm NOT IN ('ALWYS_STD')  
GROUP BY A.RefCustomerID  
)  
A INNER JOIN   
(  
SELECT A.RefCustomerID,COUNT(1) TOTALDPD_MAXCOUNT FROM ##CUSTOMERCAL A INNER JOIN ##ACCOUNTCAL B ON A.RefCustomerID=B.RefCustomerID  
WHERE ((B.DPD_INTSERVICE<=B.REFPERIODINTSERVICEUPG  
   and B.DPD_NOCREDIT <=B.REFPERIODNOCREDITUPG  
   and B.DPD_OVERDRAWN <=B.REFPERIODOVERDRAWNUPG  
   and B.DPD_OVERDUE<=B.REFPERIODOVERDUEUPG  
   and B.DPD_RENEWAL<=B.REFPERIODREVIEWUPG  
   and B.DPD_STOCKSTMT <=B.REFPERIODSTKSTATEMENTUPG) OR B.Balance = 0)  
   and B.InitialAssetClassAlt_Key not in(1)  
AND (A.FlgProcessing='N')   
AND B.Asset_Norm NOT IN ('ALWYS_NPA','ALWYS_STD')  
AND  ISNULL(A.MocStatusMark,'N')='N'   
  
AND A.UCIF_ID IS  NULL   
AND A.RefCustomerID is not null  
GROUP BY A.RefCustomerID  
  
) B ON A.RefCustomerID=B.RefCustomerID AND A.TOTALCOUNT=B.TOTALDPD_MAXCOUNT  
  
  
  /*-----------UPGRADING CUSTOMER----------*/  
  
  
UPDATE A SET A.FlgUpg='U'  
FROM ##CUSTOMERCAL A INNER JOIN #TEMPTABLERefCustomerID B ON A.RefCustomerID=B.RefCustomerID  
 INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=A.SYSASSETCLASSALT_KEY AND (C.EffectiveFromTimeKey<=@TIMEKEY AND C.EffectiveToTimeKey>=@TIMEKEY)  
WHERE  (not(isnull(A.ASSET_NORM,'NORMAL')='ALWYS_NPA' ) AND  C.ASSETCLASSGROUP ='NPA' AND not(ISNULL(A.FLGDEG,'N')='Y')) AND (ISNULL(A.FlgProcessing,'N')='N')  
  
  
  
-------Changes done in case of Same Pan Number One Customer Upgrade and One Npa To handle that Issue ---  
  
IF OBJECT_ID('TEMPDB..#PANUPDATEUPGRADE') IS NOT NULL  
DROP TABLE #PANUPDATEUPGRADE  
  
SELECT A.PANNO,A.TotalCountMAX,B.TotalCount  
INTO #PANUPDATEUPGRADE  
FROM  
(  
  
SELECT Count(1) TotalCountMAX,PANNO FROM ##CUSTOMERCAL WHERE PANNO IS NOT NULL  
GROUP BY PANNO  
) A  
INNER JOIN  
(  
SELECT Count(1) TotalCount,PANNO FROM ##CUSTOMERCAL WHERE PANNO IS NOT NULL AND FLGUPG='U'  
GROUP BY PANNO  
  
) B ON A.PANNO=B.PANNO AND A.TotalCountMAX <> B.TotalCount  
  
  
UPDATE B SET FLGUPG='N' from #PANUPDATEUPGRADE A  
INNER JOIN ##CUSTOMERCAL B  
ON A.PANNO=B.PANNO  
WHERE B.FLGUPG='U'  
  
  
  
  
/* RFESTR UPGRADE */  
 UPDATE A SET FLGUPG= CASE WHEN ParameterShortNameEnum IN('MSME_OLD','MSME_COVID','MSME_COVID_RF2')  
        THEN  
         (CASE WHEN----- DPD_Breach_Date IS NOT NULL  and commented by Amar - As disxussed with Ashish Sir on 27/04/2022 at 15:17 time for account should not upgrade in any case with specified period  
            (CASE WHEN ISNULL(SP_ExpiryDate,'1900-01-01')>=ISNULL(SP_ExpiryExtendedDate,'1900-01-01')   
             THEN SP_ExpiryDate ELSE SP_ExpiryExtendedDate END)>=@PROCESSDATE  
           THEN 'N'  
          ELSE   
           C.FlgUpg  
          END  
         )  
       WHEN ParameterShortNameEnum IN('PRUDENTIAL')  
        THEN 'N'  -- AS DISCUSSED WITH aSHISH sIR - PRIDENTIAL ACCOUNTS NEVER WILL WILL UPGRADE- WILL BE NPA TILL THEN CLOSED  
         --(CASE WHEN DPD_Breach_Date IS NOT NULL OR InvestmentGrade='N'  
         --  THEN 'N'  
         -- ELSE  
         --  C.FlgUpg  
         -- END  
         --)  
       WHEN ParameterShortNameEnum IN('IRAC','OTHER')  
        THEN  
         (CASE WHEN DPD_Breach_Date IS NOT NULL OR SP_ExpiryDate>=@PROCESSDATE  
           THEN 'N'  
          ELSE  
           C.FlgUpg  
          END  
         )  
      ELSE B.FlgUpg  
     END  
 from PRO.AdvAcRestructureCal A  
 INNER JOIN ##ACCOUNTCAL B  
  ON A.AccountEntityId=B.AccountEntityID  
 INNER JOIN ##CUSTOMERCAL C  
  ON C.CustomerEntityID =B.CustomerEntityID  
 INNER JOIN DimParameter D ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey   
      AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key  
 WHERE  D.DimParameterName='TypeofRestructuring'   
  AND ParameterShortNameEnum IN('IRAC','OTHER','MSME_OLD','MSME_COVID','MSME_COVID_RF2','PRUDENTIAL')  
  AND C.FlgUpg ='U'  
  
 UPDATE C   
  SET FLGUPG= 'N'  
  ,C.DegReason=',DEGRADEY BY RESTRUCTURE'  
 from PRO.AdvAcRestructureCal A  
  INNER JOIN ##ACCOUNTCAL B  
   ON A.AccountEntityId=B.AccountEntityID  
  INNER JOIN ##CUSTOMERCAL C  
   ON C.CustomerEntityID =B.CustomerEntityID  
  INNER JOIN DimParameter D ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey   
   AND D.ParameterAlt_Key=A.RestructureTypeAlt_Key  
   AND D.DimParameterName='TypeofRestructuring'   
 WHERE A.FlgUpg ='N' AND C.FlgUpg ='U'  
   AND ParameterShortNameEnum IN('IRAC','OTHER','MSME_OLD','MSME_COVID','MSME_COVID_RF2','PRUDENTIAL')  
  
/* END OF RESTR UPGRADE */  
  
/*pui UPGRADE */  
DECLARE @DysOfDelay TINYINT=90  
  UPDATE A  
   SET A.FLG_UPG =  CASE   
         WHEN ActualDCCO_Date IS NOT NULL  
            
            OR RevisedDCCO >@PROCESSDATE  
            OR (RevisedDCCO IS NULL AND FinnalDCCO_Date>@PROCESSDATE)  
              
            AND (  
              (Isnull(CostOverRunPer,0)<=10)  
              OR (isnull(RevisedDebt,0)<=isnull(OriginalDebt,0))  
              )  
           THEN 'U'       
         WHEN ( TakeOutFinance='N' ---AND AssetClassSellerBookAlt_key>1  
           )  
           THEN 'U'  
        END  
      
  FROM PRO.PUI_CAL A  
   INNER JOIN ##ACCOUNTCAL B  
    ON A.AccountEntityID=B.AccountEntityID  
   WHERE b.FinalAssetClassAlt_Key>1  
   AND B.DPD_Max=0 AND B.FlgUpg ='U'  
  
 UPDATE C   
  SET FLGUPG= 'N'  
 from PRO.PUI_CAL A  
  INNER JOIN ##CUSTOMERCAL C  
   ON C.CustomerEntityID =A.CustomerEntityID  
 WHERE A.Flg_Upg ='N' AND C.FlgUpg ='U'  
  
 /*END OF PUI WORK*/  
  
-------Changes done in case of Same Pan Number One Customer Upgrade and One Npa To handle that Issue ---  
  
--Added By Mandeep for CoBorrower Work -------------------------------------------------------------  
  
UPDATE A  
SET   
A.FlgUpg=B.FlgUpg ,  
A.Asset_Norm=B.Asset_Norm  
FROM [PRO].[CoBorrowerCal] A  
INNER JOIN ##CUSTOMERCAL B  
ON A.CustomerID=B.RefCustomerID  
WHERE   
B.FlgUpg='U'  
  
--UPDATE [PRO].[CoBorrowerCal]  
--SET FLGUPG='N'  
--WHERE FinalAssetClass_AltKey>1  
--AND ISNULL(FlgUpg,'N')='N' --COMMENTED BY MANDEEP 25-09-2023  
  
UPDATE A  
SET FLGUPG='N'  
FROM  [PRO].[CoBorrowerCal] A   
INNER JOIN ##CUSTOMERCAL B  
ON A.CustomerID=B.RefCustomerID  
WHERE A.FinalAssetClass_AltKey>1  
AND ISNULL(A.FlgUpg,'N')='N'  
  
  
DECLARE @MAX INT , @MIN INT  
SET @MIN=1  
SET @MAX= (  
            SELECT MAX([COUNT])[COUNT]  FROM   
   (SELECT COUNT(UCIC) [COUNT] FROM [PRO].[CoBorrowerCal] GROUP BY Cohort_No)  
   A  
   )  
  
WHILE @MAX>=@MIN  
BEGIN  
UPDATE B   
SET B.FinalAssetClass_AltKey=1,  
 B.FINALNPADT=NULL,  
 B.DegradeReason=NULL  
   
FROM [PRO].[CoBorrowerCal]  A  
 inner join [PRO].[CoBorrowerCal] B  
 on B.MAINCUSTID=A.[CustomerID]  
 and A.[CustomerType] IN ('Coborrower','CO_OBLIGANT')  
 AND (ISNULL(A.FlgUpg,'N')='U' OR A.PERC_FinalAssetClass_AltKey=1)  
 AND B.InitialAssetclass_AltKey=1 AND B.PERC_FinalAssetClass_AltKey>1  
 AND B.DegradeReason LIKE '%Co Borrower NPA%'  
  
 SET @MIN=@MIN+1  
 END  
  
---------------------------ADDED BY Prashant--04052024-------------------------------------  
IF OBJECT_ID('TEMPDB..#temp_CoBorrowerCal') IS NOT NULL  
DROP TABLE #temp_CoBorrowerCal  
  
select distinct a.[Cohort_No]   
into    #temp_CoBorrowerCal   
from   [PRO].[CoBorrowerCal] a  
INNER JOIN ##CUSTOMERCAL b  
ON     a.CustomerID=b.RefCustomerID  
where  ISNULL(a.FLGUPG,'S')='N'  
AND    a.FinalAssetClass_AltKey>1  
--------------------------------------------------------------------------------------------  
UPDATE A  
SET  A.FLGUPG='N'  
FROM [PRO].[CoBorrowerCal] A  
--INNER JOIN [PRO].[CoBorrowerCal] B  
INNER JOIN #temp_CoBorrowerCal B -----------------Added by Prashant----04052024------------------------  
 ON A.[Cohort_No]=B.[Cohort_No]  
--INNER JOIN ##CUSTOMERCAL b  
--ON     B.CustomerID=C.RefCustomerID  
 WHERE ISNULL(A.FLGUPG,'N')='U'   
 --AND (ISNULL(B.FLGUPG,'S')='N'  )  
 --AND B.FinalAssetClass_AltKey>1  
----------------------------------------------------------------------------------------------------  
UPDATE A  
SET A.FLGUPG=B.FLGUPG  
FROM ##CUSTOMERCAL A  
INNER JOIN [PRO].[CoBorrowerCal] B  
ON A.RefCustomerID=B.CustomerID  
WHERE A.FLGUPG='U'  
  
  
  
  
--SELECT * FROM PRO.CUSTOMERCAL   
--UCIF - CUSTOMER LEVEL -------------  
  
  
UPDATE   ##CUSTOMERCAL SET SysNPA_Dt=NULL,  
        DbtDt=NULL,  
        LossDt=NULL,  
        ErosionDt=NULL,  
        FlgErosion='N',  
        SysAssetClassAlt_Key=1  
        ,FlgDeg='N'  
WHERE FlgUpg='U'  
  
  
/*--------MARKING UPGRADED ACCOUNT --------------*/  
  
UPDATE B SET  B.UpgDate=@PROCESSDATE  
             ,B.DegReason=NULL  
    ,B.FinalAssetClassAlt_Key=1  
    ,B.FlgDeg='N'  
    ,B.FinalNpaDt=null  
             ,B.FlgUpg='U'  
    FROM ##CUSTOMERCAL A INNER JOIN ##ACCOUNTCAL B ON A.RefCustomerID=B.RefCustomerID  
WHERE  ISNULL(A.FlgUpg,'U')='U' AND (ISNULL(A.FlgProcessing,'N')='N')  
  
  
UPDATE B SET  B.UpgDate=@PROCESSDATE  
             ,B.DegReason=NULL  
    ,B.FinalAssetClassAlt_Key=1  
    ,B.FlgDeg='N'  
    ,B.FinalNpaDt=null  
             ,B.FlgUpg='U'  
    FROM ##CUSTOMERCAL A INNER JOIN ##ACCOUNTCAL B ON A.RefCustomerID=B.RefCustomerID  
WHERE  ISNULL(A.FlgUpg,'U')='U' AND (ISNULL(A.FlgProcessing,'N')='N')  
  
-------21022023 --- Sudesh --- Investment Upgrade Logic added---  
  
  
UPDATE A SET  A.UpgDate=@PROCESSDATE  
             ,A.DegReason=NULL  
    ,A.AssetClass_AltKey=1  
    ,A.FinalAssetClassAlt_Key=1  
    ,A.FlgDeg='N'  
    ,A.NPIDt=null  
             ,A.FlgUpg='U'  
    FROM InvestmentFinancialDetail A  
WHERE  ISNULL(A.FlgUpg,'U')='U'   
AND A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey  
  
  
  
-------21022023 --- Sudesh --- Derivative Upgrade Logic added---  
  
  
UPDATE A SET  A.UpgDate=@PROCESSDATE  
             ,A.DegReason=NULL  
    ,A.AssetClass_AltKey=1  
    ,A.FlgDeg='N'  
    ,A.NPIDt=null  
             ,A.FlgUpg='U'  
    ,A.FinalAssetClassAlt_Key=1 ---ADDED BY PRASHANT--------20032025------  
    FROM  [CurDat].[DerivativeDetail] A  
WHERE  ISNULL(A.FlgUpg,'U')='U'   
AND A.EffectiveFromTimeKey<=@timekey and A.EffectiveToTimeKey>=@timekey  
  
  
/* 16-04-2021 AMAR  -- ADDED THIS CODE FOR  COMMING NEW ACCOUNT BECOMING NPA DUE TO   
 EXISTING NPA CUSTOMER  AND ALSO UPGRADEING */  
  
UPDATE A  
  SET FLGUPG='N'  
  ,UpgDate=NULL  
FROM ##ACCOUNTCAL A WHERE InitialAssetClassAlt_Key =1 AND FinalAssetClassAlt_Key =1 AND FlgUpg='U'  
  
UPDATE A set DegReason=NULL FROM ##CUSTOMERCAL A where SysAssetClassAlt_Key=1 and DegReason is not null  
  
--SUDESH SIR CODE-----------------------------------------------------------------------------  
  /* MERGING DATA FOR ALL SOURCES FOR FIND LOWEST ASSET CLASS AND MIN NPA DATE */  
  
    IF OBJECT_ID('TEMPDB..#CTE_PERC') IS NOT NULL  
    DROP TABLE #CTE_PERC  
  
      SELECT * INTO  
            #CTE_PERC  
      FROM  
            (           /* ADVANCE DATA */  
  
                  SELECT UCIF_ID,MAX(ISNULL(SYSASSETCLASSALT_KEY,1)) SYSASSETCLASSALT_KEY ,MIN(SYSNPA_DT) SYSNPA_DT  
  
                  ,'ADV' PercType  
  
                  FROM ##CUSTOMERCAL A WHERE ( UCIF_ID IS NOT NULL and UCIF_ID<>'0' ) AND  ISNULL(SYSASSETCLASSALT_KEY,1)=1  
  
                  GROUP BY  UCIF_ID  
  
                  UNION  
  
                  /* INVESTMENT DATA */  
  
                  SELECT UcifId UCIF_ID,MAX(ISNULL(FinalAssetClassAlt_Key,1)) SYSASSETCLASSALT_KEY ,MIN(NPIDt) SYSNPA_DT  
  
                  ,'INV' PercType  
  
                  FROM InvestmentFinancialDetail A  
  
                        INNER JOIN InvestmentBasicDetail B  
  
                              ON A.InvEntityId =B.InvEntityId  
  
                              AND A.EffectiveFromTimeKey =@TIMEKEY AND A.EffectiveToTimeKey =@TIMEKEY  
  
                              AND B.EffectiveFromTimeKey =@TIMEKEY AND B.EffectiveToTimeKey =@TIMEKEY  
  
                        INNER JOIN InvestmentIssuerDetail C  
  
                              ON C.IssuerEntityId=B.IssuerEntityId  
  
                              AND C.EffectiveFromTimeKey =@TIMEKEY AND C.EffectiveToTimeKey =@TIMEKEY  
  
                  WHERE ISNULL(FinalAssetClassAlt_Key,1)=1  
  
                  GROUP BY  UcifId  
  
                  /* DERIVATIVE DATA */  
  
                  UNION  
  
                        SELECT UCIC_ID,MAX(ISNULL(FinalAssetClassAlt_Key,1)) SYSASSETCLASSALT_KEY ,MIN(NPIDt) SYSNPA_DT  
  
                        ,'DER' PercType  
  
                  FROM CurDat.DerivativeDetail A  
  
                        WHERE  A.EffectiveFromTimeKey =@TIMEKEY AND A.EffectiveToTimeKey =@TIMEKEY  
  
                              AND ISNULL(FinalAssetClassAlt_Key,1)=1  
  
                  GROUP BY  UCIC_ID  
  
            )A  
  
  
      /*  FIND LOWEST ASSET CLASS AND IN NPA DATE IN AALL SOURCES */  
  
      IF OBJECT_ID('TEMPDB..#TEMPTABLE_UCFIC1') IS NOT NULL  
  
    DROP TABLE #TEMPTABLE_UCFIC1  
  
      SELECT UCIF_ID, MAX(SYSASSETCLASSALT_KEY) SYSASSETCLASSALT_KEY, MIN(SYSNPA_DT)SYSNPA_DT  
  
                  ,'XXX' PercType  
  
            INTO #TEMPTABLE_UCFIC1  
  
      FROM #CTE_PERC  
  
            GROUP BY UCIF_ID  
  
   
      UPDATE A  
  
            SET A.PercType=B.PercType  
  
      FROM #TEMPTABLE_UCFIC1 A  
  
            INNER JOIN #CTE_PERC B  
  
                  ON A.UCIF_ID =B.UCIF_ID  
  
                  AND A.SYSASSETCLASSALT_KEY =B.SYSASSETCLASSALT_KEY  
  
      DROP TABLE IF EXISTS #CTE_PERC  
  
   
  
      /*  UPDATE LOWEST ASSET CLASS AND MIN NPA DATE IN - ADVANCE DATA */  
  
      UPDATE A SET SysAssetClassAlt_Key=B.SYSASSETCLASSALT_KEY  
  
                        ,A.SysNPA_Dt=B.SYSNPA_DT  
  
                        ,A.DegReason=CASE WHEN A.SysAssetClassAlt_Key >1 AND B.SYSASSETCLASSALT_KEY =1  
  
                                                THEN   
  
                                                      NULL  
  
                                                ELSE  A.DegReason  
  
                                          END  
  
      FROM ##CUSTOMERCAL A  
  
            INNER JOIN #TEMPTABLE_UCFIC1 B ON A.UCIF_ID =B.UCIF_ID  
  
   
  
   
  
      /* UPDATE INVESTMENT DATA - LOWEST ASSET CLASS AND MIN NPA DATE */  
  
      UPDATE A SET A.FinalAssetClassAlt_Key=D.SYSASSETCLASSALT_KEY  
  
                   ,A.NPIDt=D.SYSNPA_DT   
  
                        ,A.DegReason=CASE WHEN A.FinalAssetClassAlt_Key >1 AND D.SYSASSETCLASSALT_KEY =1  
  
                                                THEN   
  
                                                      NULL    
  
                                                              
  
                                                ELSE  A.DegReason  
  
                                          END  
  
       FROM InvestmentFinancialDetail A  
  
                        INNER JOIN InvestmentBasicDetail B  
  
                              ON A.InvEntityId =B.InvEntityId  
  
                              AND A.EffectiveFromTimeKey =@TIMEKEY AND A.EffectiveToTimeKey =@TIMEKEY  
  
                              AND B.EffectiveFromTimeKey =@TIMEKEY AND B.EffectiveToTimeKey =@TIMEKEY  
  
                        INNER JOIN InvestmentIssuerDetail C  
  
                              ON C.IssuerEntityId=B.IssuerEntityId  
  
                              AND C.EffectiveFromTimeKey =@TIMEKEY AND C.EffectiveToTimeKey =@TIMEKEY  
  
                        INNER JOIN #TEMPTABLE_UCFIC1 D ON D.UCIF_ID =C.UcifId  
  
   
  
      /*  UPDATE   LOWEST ASSET CLASS AND MIN NPA DATE IN -  DERIVATIVE DATA */  
  
      UPDATE A SET FinalAssetClassAlt_Key=B.SYSASSETCLASSALT_KEY  
  
                        ,A.NPIDt=SYSNPA_DT  
  
                        ,A.DegReason=CASE WHEN A.FinalAssetClassAlt_Key >1 AND B.SYSASSETCLASSALT_KEY =1  
  
                                                THEN   
  
                                                      NULL  
  
                                                ELSE  A.DegReason  
  
                                          END  
  
      FROM CurDat.DerivativeDetail A  
  
            INNER JOIN #TEMPTABLE_UCFIC1 B ON A.UCIC_ID =B.UCIF_ID  
  
            AND A.EffectiveFromTimeKey=@TIMEKEY AND A.EffectiveToTimeKey=@TIMEKEY  
  
   
  
   
  
            update A SET FLGDEG='N',FLGUPG = 'U',UPGDATE = @PROCESSDATE  
  
            FROM CurDat.DerivativeDetail A  
  
            where  A.EffectiveFromTimeKey=@TIMEKEY AND A.EffectiveToTimeKey=@TIMEKEY  
  
             and FinalAssetClassAlt_Key=1 and InitialAssetAlt_Key > 1  
  
   
  
             update A SET AssetClass_AltKey=FinalAssetClassAlt_Key  
  
             FROM CurDat.DerivativeDetail A  
  
            where  A.EffectiveFromTimeKey=@TIMEKEY AND A.EffectiveToTimeKey=@TIMEKEY  
  
             and FinalAssetClassAlt_Key=1 and InitialAssetAlt_Key > 1  
  
   
  
             update A SET AssetClass_AltKey=FinalAssetClassAlt_Key  
  
             FROM DBO.InvestmentFinancialDetail A  
  
            where  A.EffectiveFromTimeKey=@TIMEKEY AND A.EffectiveToTimeKey=@TIMEKEY  
  
             and FinalAssetClassAlt_Key=1 and InitialAssetAlt_Key > 1  
  
   
  
             update A SET FLGDEG='N',FLGUPG = 'U',UPGDATE = @PROCESSDATE  
  
            FROM InvestmentFinancialDetail A  
  
            where  A.EffectiveFromTimeKey=@TIMEKEY AND A.EffectiveToTimeKey=@TIMEKEY  
  
             and FinalAssetClassAlt_Key=1 and InitialAssetAlt_Key > 1  
  
  
      DROP TABLE IF EXISTS #TEMPTABLE_UCFIC1  
  
------------------------------------------------------------------------------------------------  
  
    DROP TABLE #TEMPTABLE  
 --DROP TABLE #TEMPTABLE1  
 DROP TABLE #TEMPTABLERefCustomerID  
  ------------------------------------------Added by Prashant -----------06032026----------------------------------

 update a
   set a.Asset_Norm='ALWYS_STD'
   from ##CUSTOMERCAL a
  inner join MOC_ChangeDetails b
  on a.CustomerEntityID=b.CustomerEntityID
  where b.EffectiveFromTimeKey<=@TIMEKEY and b.EffectiveToTimeKey>=@TIMEKEY
  and b.AssetClassAlt_Key=1
 
  update a
  set    a.Asset_Norm='ALWYS_STD'
  from   ##ACCOUNTCAL a
  inner join MOC_ChangeDetails b
  on a.CustomerEntityID=b.CustomerEntityID
  where b.EffectiveFromTimeKey<=@TIMEKEY and b.EffectiveToTimeKey>=@TIMEKEY
  and b.AssetClassAlt_Key=1

  update a
   set a.Asset_Norm='ALWYS_STD'
   from ##CUSTOMERCAL a
  inner join AdhocACL_ChangeDetails b
  on a.CustomerEntityID=b.CustomerEntityID
  where b.EffectiveFromTimeKey<=@TIMEKEY and b.EffectiveToTimeKey>=@TIMEKEY
  and b.AssetClassAlt_Key=1
 
  update a
  set    a.Asset_Norm='ALWYS_STD'
  from   ##ACCOUNTCAL a
  inner join AdhocACL_ChangeDetails b
  on a.CustomerEntityID=b.CustomerEntityID
  where b.EffectiveFromTimeKey<=@TIMEKEY and b.EffectiveToTimeKey>=@TIMEKEY
  and b.AssetClassAlt_Key=1 

  -------------------------------END-----------Added by Prashant -----------06032026----------------------------------
   
   
/* added by amar on 14102021 for check acl and dpd missmatch issue*/  
  IF EXISTS(  
     SELECT 1  
     FROM ##ACCOUNTCAL A     
     WHERE (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')   
       and ISNULL(A.Balance,0)>0  
       AND A.FinalAssetClassAlt_Key =1  
      AND(  
          ISNULL((CASE WHEN A.IntNotServicedDt IS NOT NULL THEN DATEDIFF(DAY,A.IntNotServicedDt,@PROCESSDATE)    
           ELSE 0 END),0)>=A.REFPERIODINTSERVICE   
       OR ISNULL((CASE WHEN A.ContiExcessDt IS NOT NULL    THEN DATEDIFF(DAY,A.ContiExcessDt,  @PROCESSDATE) + 1       ELSE 0 END),0)>=A.REFPERIODOVERDRAWN     
       OR ISNULL(CASE WHEN (DebitSinceDt IS NULL OR DATEDIFF(DAY,DebitSinceDt,@PROCESSDATE)>90)  
             THEN (CASE WHEN  A.LastCrDate IS NOT NULL THEN DATEDIFF(DAY,A.LastCrDate,  @PROCESSDATE) ELSE  0 END)  
           ELSE 0 END,0)>=A.REFPERIODNOCREDIT       
       OR ISNULL((CASE WHEN A.OverDueSinceDt IS NOT NULL   THEN  DATEDIFF(DAY,A.OverDueSinceDt,  @PROCESSDATE)          ELSE 0 END),0) >=A.REFPERIODOVERDUE        
       OR ISNULL((CASE WHEN A.StockStDt IS NOT NULL         THEN   DATEDIFF(DAY,A.StockStDt,@PROCESSDATE)        
           ELSE 0 END),0)>=A.REFPERIODSTKSTATEMENT  
       OR ISNULL((CASE WHEN  A.ReviewDueDt IS NOT NULL      THEN DATEDIFF(DAY,A.ReviewDueDt, @PROCESSDATE)        
           ELSE   0 END),0)>=A.REFPERIODREVIEW           
        )  
  )  
 BEGIN  
  RAISERROR ('Missmatch in DPD and Asset Class, need to check....',16,1)  
 END  
  
  
UPDATE PRO.ACLRUNNINGPROCESSSTATUS   
 SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1  
 WHERE RUNNINGPROCESSNAME='Upgrade_Customer_Account'  
  
  ------------Added for DashBoard 04-03-2021  
 --Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'  
  
END TRY  
BEGIN  CATCH  
  
  
----------------------Added by prashant----for validate the error data---------13122023----------------  
  
   Drop table if exists ACCOUNTCAL_ErrorLog  
   Drop table if exists CUSTOMERCAL_ErrorLog  
  
    select * into ACCOUNTCAL_ErrorLog from ##ACCOUNTCAL  
 select * into CUSTOMERCAL_ErrorLog from ##CUSTOMERCAL  
  
-------------------------------------------------------------------------------------------------------  
  
  
 UPDATE PRO.ACLRUNNINGPROCESSSTATUS   
 SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1  
 WHERE RUNNINGPROCESSNAME='Upgrade_Customer_Account'  
END CATCH  
  
SET NOCOUNT OFF  
END  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
GO
