USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[Marking_FlgPNPA]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=========================================
AUTHER : TRILOKI SHANKER KHANNA
CREATE DATE : 27-11-2019
MODIFY DATE : 27-09-2019
DESCRIPTION : MARKING OF FlgPNPA AND DEG REASON 
EXEC [PRO].[Marking_FlgPNPA] 26281
=============================================*/
CREATE PROCEDURE [PRO].[Marking_FlgPNPA]
@TIMEKEY INT
with recompile
AS
BEGIN
   SET NOCOUNT ON
  BEGIN TRY
    
--declare @TIMEKEY int=26279
DECLARE @ProcessDate DATE= (SELECT DATE FROM SYSDAYMATRIX WHERE TIMEKEY=@TIMEKEY)

----DECLARE @PNPAProcessDate DATE  =(SELECT EOMONTH(DATE) FROM SYSDAYMATRIX WHERE CAST(DATE AS DATE) =@ProcessDate)--(SELECT DATE FROM SYSDAYMATRIX WHERE TIMEKEY=@TIMEKEY
DECLARE @PNPAProcessDate DATE  = DATEADD(DD,30,@ProcessDate) --APPLIED LOGIC OF 30DAYS ROLLING PERIOD AS ADVISED BY sITARAM sIR ON CALL AFTER DISCUSSED WITH sHARMA sIR AND aSHISH SIR

DECLARE @PNPA_DAYS INT =DATEDIFF(DAY,@PROCESSDATE,@PNPAProcessDate)

/*--------------------INTIAL LEVEL FlgPNPA SET N-------------------------------------------- */


UPDATE A SET A.FlgPNPA='N',PNPA_DATE=NULL,PnpaAssetClassAlt_key=NULL ,PNPA_Reason =NULL FROM ##AccountCal A  
UPDATE A SET A.FlgPNPA='N',PNPA_Dt=NULL, PNPA_Class_Key=NULL FROM ##CUSTOMERCAL A  

/*---------------UPDATE FlgPNPA FLAG AT ACCOUNT LEVEL----------------------------------------------------*/
UPDATE A SET A.FlgPNPA =(CASE   WHEN  ((A.DPD_INTSERVICE+@PNPA_DAYS)>=A.REFPERIODINTSERVICE)   THEN 'Y' 
								WHEN  ((A.DPD_NOCREDIT+@PNPA_DAYS)>  =A.REFPERIODNOCREDIT)       THEN 'Y'
								WHEN  ((A.DPD_OVERDUE+@PNPA_DAYS) >  =A.REFPERIODOVERDUE)        THEN 'Y' 
								WHEN  ((A.DPD_STOCKSTMT+@PNPA_DAYS)> =A.REFPERIODSTKSTATEMENT)  THEN 'Y' 
								WHEN  ((A.DPD_RENEWAL+@PNPA_DAYS)>   =A.RefPeriodReview)          THEN 'Y'
								WHEN  ((A.DPD_Overdrawn+@PNPA_DAYS)> =A.REFPERIODOVERDRAWN)          THEN 'Y'
							ELSE 'N'  END)
FROM ##AccountCal A   INNER JOIN ##CUSTOMERCAL B ON A.RefCustomerID =B.RefCustomerID
WHERE  (a.FinalAssetClassAlt_Key IN(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortNameEnum IN('STD') and EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY))
AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
AND (isnull(B.FlgProcessing,'N')='N')
AND ISNULL(A.FLGMOC,'N')<>'Y'
and isnull(A.BALANCE,0)>0

/*----------------------------------HANDLE TO RESTRUCTURE ACCOUNT ----------------------------------*/

--UPDATE A SET A.FlgPNPA='Y',a.PNPA_Reason='Account Restructured after 01-04-2015', A.PNPA_DATE=@PNPAPROCESSDATE
--FROM PRO.AccountCal A INNER JOIN Curdat.AdvAcRestructureDetail B ON A.AccountEntityID=B.AccountEntityId
--AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
--WHERE B.RestructureDt IS NOT NULL AND RestructureDt >= '2015-04-01' and RestructureDt >= DATEADD(YEAR,-1,@PNPAPROCESSDATE) AND ISNULL(FinalAssetClassAlt_Key,1)=1 AND ISNULL(A.Balance,0)>0


/*-------------------------REVERSING DEGRADED ACCOUNT THROUGH NORMAL PROCESS--------------*/
----UPDATE B SET B.FlgPNPA=
----(CASE WHEN ISNULL(SDR_INVOKED,'N')='Y' AND  DATEADD(DAY,@PNPA_DAYS, SDR_REFER_DATE) >DATEADD(MONTH,-18,@PNPAPROCESSDATE) THEN 'N'
----ELSE B.FlgPNPA
---- END)

---- ,b.PNPA_Reason=(CASE WHEN ISNULL(SDR_INVOKED,'N')='Y' AND  DATEADD(DAY,@PNPA_DAYS, SDR_REFER_DATE) >DATEADD(MONTH,-18,@PNPAPROCESSDATE) THEN null
----ELSE b.PNPA_Reason
---- END)

---- ,B.PNPA_DATE=(CASE WHEN ISNULL(SDR_INVOKED,'N')='Y' AND  DATEADD(DAY,@PNPA_DAYS, SDR_REFER_DATE) >DATEADD(MONTH,-18,@PNPAPROCESSDATE) THEN  NULL ELSE B.PNPA_DATE END )

----FROM  Curdat.AdvAcRestructureDetail A INNER JOIN PRO.AccountCal
---- B ON A.AccountEntityId=B.AccountEntityID
---- AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
---- WHERE  CustomerEntityID  NOT IN(SELECT CustomerEntityID FROM AdvAcProjectDetail WHERE EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
---- AND   A.SDR_REFER_DATE IS NOT NULL   AND ISNULL(FinalAssetClassAlt_Key,1)=1 AND ISNULL(B.Balance,0)>0
  
  

 /*-------------------------ASSIGNE PNPA REASON-------------------------------------------------*/
 
	DROP TABLE IF EXISTS #PNPA_REASON_DATE
	
	CREATE TABLE #PNPA_REASON_DATE (AccountEntityID INT,PNPA_DATE date, PNPA_Reason varchar(500))

	INSERT INTO #PNPA_REASON_DATE
	
	SELECT  A.AccountEntityID
			,DATEADD(DAY,-(A.DPD_INTSERVICE+@PNPA_DAYS-ISNULL(A.REFPERIODINTSERVICE,0)),@PNPAProcessDate) PNPA_DATE
			,'DEGRADE BY INT NOT SERVICED'  PNPA_Reason
		FROM ##AccountCal A 
	WHERE  (A.FlgPNPA='Y' AND ((A.DPD_INTSERVICE+@PNPA_DAYS)>=ISNULL(REFPERIODINTSERVICE,0))) 

	UNION ALL
	SELECT A.ACCOUNTENTITYID
			,DATEADD(DAY,-(A.DPD_OVERDRAWN+@PNPA_DAYS-ISNULL(REFPERIODOVERDRAWN,0)),@PNPAProcessDate) PNPA_DATE
			,'DEGRADE BY CONTI EXCESS' PNPA_Reason
	FROM ##AccountCal A 
	WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDRAWN+@PNPA_DAYS)>=ISNULL(REFPERIODOVERDRAWN,0))) 

	UNION ALL
	SELECT A.ACCOUNTENTITYID
			,DATEADD(DAY,-(A.DPD_NOCREDIT+@PNPA_DAYS-ISNULL(RefPeriodNoCredit,0) ),@PNPAProcessDate) PNPA_DATE
			,'DEGRADE BY NO CREDIT' PNPA_Reason
	FROM ##AccountCal A
	WHERE   (A.FlgPNPA='Y' AND (A.DPD_NOCREDIT+@PNPA_DAYS)>=ISNULL(RefPeriodNoCredit,0))

	UNION ALL
	SELECT  A.ACCOUNTENTITYID
			,DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-ISNULL(RefPeriodOverdue,0) ),@PNPAProcessDate) PNPA_DATE
			,'DEGRADE BY OVERDUE' PNPA_Reason
	FROM ##AccountCal A 
	WHERE  (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=ISNULL(RefPeriodOverdue,0)))  


	UNION ALL
	SELECT  A.ACCOUNTENTITYID
			,DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-ISNULL(RefPeriodOverdue,0) ),@PNPAProcessDate) PNPA_DATE
			,'DEGRADE BY DEBIT BALANCE' PNPA_Reason
	FROM ##AccountCal A
		INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key 
			AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
	WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=ISNULL(RefPeriodOverdue,0)))  
		AND A.DebitSinceDt IS NOT NULL AND ISNULL(C.SrcSysProductCode,'N')='SAVING'

	UNION ALL
	SELECT  A.ACCOUNTENTITYID
			,DATEADD(DAY,-(A.DPD_STOCKSTMT+@PNPA_DAYS-ISNULL(RefPeriodStkStatement,0) ),@PNPAProcessDate)  PNPA_DATE
			,' DEGRADE BY STOCK STATEMENT'  PNPA_Reason
	FROM ##AccountCal A 
	WHERE  (A.FlgPNPA='Y' AND (A.DPD_STOCKSTMT+@PNPA_DAYS)>=ISNULL(RefPeriodStkStatement,0))  

	UNION ALL
	SELECT  A.ACCOUNTENTITYID
			,DATEADD(DAY,-(A.DPD_RENEWAL+@PNPA_DAYS-ISNULL(RefPeriodReview,0) ),@PNPAPROCESSDATE)  PNPA_DATE
			,' DEGRADE BY REVIEW DUE DATE' PNPA_Reason
	FROM ##AccountCal A
	WHERE  (A.FlgPNPA='Y' AND (A.DPD_RENEWAL+@PNPA_DAYS)>=ISNULL(RefPeriodReview,0)) 

	;WITH CTE_PNPA
	as
	(
		SELECT AccountEntityID,MIN(PNPA_DATE) PNPA_DATE
			,STRING_AGG(PNPA_Reason,',') PNPA_Reason
		FROM #PNPA_REASON_DATE
		group by AccountEntityID
	)
	UPDATE A
		SET  A.PNPA_DATE=B.PNPA_DATE
			,A.PNPA_Reason=B.PNPA_Reason
	FROM ##AccountCal a
		INNER JOIN CTE_PNPA B
			on a.AccountEntityID=b.AccountEntityID


/*			
UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+',DEGRADE BY INT NOT SERVICED' 
             ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_INTSERVICE+@PNPA_DAYS-ISNULL(A.REFPERIODINTSERVICE,0)),@PNPAProcessDate)
FROM PRO.AccountCal A 
 INNER JOIN AdvAcBasicDetail ABD
	  ON A.AccountEntityID=ABD.AccountEntityId
	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
	  --AND ABD.ReferencePeriod=91
----INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_INTSERVICE+@PNPA_DAYS)>=ISNULL(REFPERIODINTSERVICE,0))) 
--AND isnull(C.ProductSubGroup,'N') NOT in('KCC')
----AND C.NPANorms='DPD91'


UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY CONTI EXCESS'
           ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDRAWN+@PNPA_DAYS-ISNULL(REFPERIODOVERDRAWN,0)),@PNPAProcessDate)
FROM PRO.AccountCal A 
 INNER JOIN AdvAcBasicDetail ABD
	  ON A.AccountEntityID=ABD.AccountEntityId
	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
	  --AND ABD.ReferencePeriod=91
----INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDRAWN+@PNPA_DAYS)>=ISNULL(REFPERIODOVERDRAWN,0))) 
--AND isnull(C.ProductSubGroup,'N') NOT in('KCC')
----AND C.NPANorms='DPD91'

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY OVERDUE'    
      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-ISNULL(RefPeriodOverdue,0) ),@PNPAProcessDate)          
FROM PRO.AccountCal A 
 INNER JOIN AdvAcBasicDetail ABD
	  ON A.AccountEntityID=ABD.AccountEntityId
	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
	  ----AND ABD.ReferencePeriod=91
----INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=ISNULL(RefPeriodOverdue,0)))  
----AND isnull(C.ProductSubGroup,'N') NOT in('KCC')
----AND C.NPANorms='DPD91'


UPDATE A SET A.PNPA_Reason= 'DEGRADE BY DEBIT BALANCE'    
      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-ISNULL(RefPeriodOverdue,0) ),@PNPAProcessDate)          
FROM PRO.AccountCal A
 INNER JOIN AdvAcBasicDetail ABD
	  ON A.AccountEntityID=ABD.AccountEntityId
	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
	  ----AND ABD.ReferencePeriod=91

INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=ISNULL(RefPeriodOverdue,0)))  
AND A.DebitSinceDt IS NOT NULL AND ISNULL(C.SrcSysProductCode,'N')='SAVING'
--AND isnull(C.ProductSubGroup,'N') NOT in('KCC')
----AND C.NPANorms='DPD91'


UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY NO CREDIT'   
         ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_NOCREDIT+@PNPA_DAYS-ISNULL(RefPeriodNoCredit,0) ),@PNPAProcessDate)
FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
 INNER JOIN AdvAcBasicDetail ABD
	  ON A.AccountEntityID=ABD.AccountEntityId
	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
	  ----AND ABD.ReferencePeriod=91
--INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE   (A.FlgPNPA='Y' AND (A.DPD_NOCREDIT+@PNPA_DAYS)>=ISNULL(RefPeriodNoCredit,0))
---AND C.NPANorms='DPD91'


UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY STOCK STATEMENT' 
            ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_STOCKSTMT+@PNPA_DAYS-ISNULL(RefPeriodStkStatement,0) ),@PNPAProcessDate)   
FROM PRO.AccountCal A ---INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
 INNER JOIN AdvAcBasicDetail ABD
	  ON A.AccountEntityID=ABD.AccountEntityId
	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
	  ----AND ABD.ReferencePeriod=91
---INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  (A.FlgPNPA='Y' AND (A.DPD_STOCKSTMT+@PNPA_DAYS)>=ISNULL(RefPeriodStkStatement,0))  
--AND isnull(C.ProductSubGroup,'N') NOT in('KCC')
---AND C.NPANorms='DPD91'

UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY REVIEW DUE DATE'   
,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_RENEWAL+@PNPA_DAYS-ISNULL(RefPeriodReview,0) ),@PNPAPROCESSDATE)    
FROM PRO.AccountCal A--- INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
----INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
 INNER JOIN AdvAcBasicDetail ABD
	  ON A.AccountEntityID=ABD.AccountEntityId
	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
	  ----AND ABD.ReferencePeriod=91
WHERE  (A.FlgPNPA='Y' AND (A.DPD_RENEWAL+@PNPA_DAYS)>=ISNULL(RefPeriodReview,0)) 
 --AND isnull(C.ProductSubGroup,'N') NOT in('KCC')
 -----AND C.NPANorms='DPD91'


 
--------UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+',DEGRADE BY INT NOT SERVICED' 
--------             ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_INTSERVICE+@PNPA_DAYS-ISNULL(RefPeriodIntService,0)),@PNPAProcessDate)
--------FROM PRO.AccountCal A 
-------- INNER JOIN AdvAcBasicDetail ABD
--------	  ON A.AccountEntityID=ABD.AccountEntityId
--------	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
--------	  ------AND ABD.ReferencePeriod=366

----------INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
--------WHERE  (A.FlgPNPA='Y' AND ((A.DPD_INTSERVICE+@PNPA_DAYS)>=ISNULL(RefPeriodIntService,0))) 
----------AND isnull(C.ProductSubGroup,'N')  in('KCC')
------------AND C.NPANorms='DPD366'

--------UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY CONTI EXCESS'
--------           ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDRAWN+@PNPA_DAYS-ISNULL(REFPERIODOVERDRAWN,0)),@PNPAProcessDate)
--------FROM PRO.AccountCal A 
-------- INNER JOIN AdvAcBasicDetail ABD
--------	  ON A.AccountEntityID=ABD.AccountEntityId
--------	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
--------	  ----AND ABD.ReferencePeriod=366

-----------INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
--------WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDRAWN+@PNPA_DAYS)>=ISNULL(REFPERIODOVERDRAWN,0))) 
----------AND isnull(C.ProductSubGroup,'N')  in('KCC')
-----------AND C.NPANorms='DPD366'


--------UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY OVERDUE'    
--------      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-ISNULL(RefPeriodOverdue,0) ),@PNPAProcessDate)          
--------FROM PRO.AccountCal A 
-------- INNER JOIN AdvAcBasicDetail ABD
--------	  ON A.AccountEntityID=ABD.AccountEntityId
--------	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
--------	  ----AND ABD.ReferencePeriod=366

-----------INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
--------WHERE  (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=ISNULL(RefPeriodOverdue,0)))  
----------AND isnull(C.ProductSubGroup,'N')  in('KCC')
-----------AND C.NPANorms='DPD366'


----UPDATE A SET A.PNPA_Reason= 'DEGRADE BY DEBIT BALANCE'    
----      ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_OVERDUE +@PNPA_DAYS-ISNULL(RefPeriodOverdue,0) ),@PNPAProcessDate)          
----FROM PRO.AccountCal A

---- INNER JOIN AdvAcBasicDetail ABD
----	  ON A.AccountEntityID=ABD.AccountEntityId
----	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
----	  AND ABD.ReferencePeriod=366
----	INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
----WHERE (A.FlgPNPA='Y' AND ((A.DPD_OVERDUE +@PNPA_DAYS)>=ISNULL(RefPeriodOverdue,0)))  
----AND A.DebitSinceDt IS NOT NULL AND ISNULL(C.SrcSysProductCode,'N')='SAVING'
------AND isnull(C.ProductSubGroup,'N')  in('KCC')
-------AND C.NPANorms='DPD366'


----UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY NO CREDIT'   
----         ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_NOCREDIT+@PNPA_DAYS-ISNULL(RefPeriodNoCredit,0) ),@PNPAProcessDate)
----FROM PRO.AccountCal A --INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
---- INNER JOIN AdvAcBasicDetail ABD
----	  ON A.AccountEntityID=ABD.AccountEntityId
----	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
----	  ----AND ABD.ReferencePeriod=366
--------INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
----WHERE   (A.FlgPNPA='Y' AND (A.DPD_NOCREDIT+@PNPA_DAYS)>=ISNULL(RefPeriodNoCredit,0))
-------AND C.NPANorms='DPD366'

----UPDATE A SET PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY STOCK STATEMENT' 
----            ,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_STOCKSTMT+@PNPA_DAYS-RefPeriodStkStatement ),@PNPAProcessDate)   
----FROM PRO.AccountCal A ---INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
---- INNER JOIN AdvAcBasicDetail ABD
----	  ON A.AccountEntityID=ABD.AccountEntityId
----	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
----	  ----AND ABD.ReferencePeriod=366

-------INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
----WHERE  (A.FlgPNPA='Y' AND (A.DPD_STOCKSTMT+@PNPA_DAYS)>=ISNULL(RefPeriodStkStatement,0))  
------AND isnull(C.ProductSubGroup,'N')  in('KCC')
------AND C.NPANorms='DPD366'

----UPDATE A SET A.PNPA_Reason= ISNULL(A.PNPA_Reason,'')+', DEGRADE BY REVIEW DUE DATE'   
----,A.PNPA_DATE=DATEADD(DAY,-(A.DPD_RENEWAL+@PNPA_DAYS-ISNULL(RefPeriodReview,0) ),@PNPAPROCESSDATE)    
----FROM PRO.AccountCal A--- INNER JOIN PRO.CustomerCal B ON A.CustomerEntityID =B.CustomerEntityID -- Modification DONE 03/09/2019 TRILOKI
---- INNER JOIN AdvAcBasicDetail ABD
----	  ON A.AccountEntityID=ABD.AccountEntityId
----	  AND (ABD.EffectiveFromTimeKey<=@TIMEKEY AND ABD.EffectiveToTimeKey>=@TIMEKEY)
----	  ----AND ABD.ReferencePeriod=366

------INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
----WHERE  (A.FlgPNPA='Y' AND (A.DPD_RENEWAL+@PNPA_DAYS)>=ISNULL(RefPeriodReview,0)) 
------AND isnull(C.ProductSubGroup,'N')  in('KCC')
--------AND C.NPANorms='DPD366'
*/

 
/*-------------------UPDATE PNPA FLAG AT CUSTOMER LEVEL------------------------------------------*/
UPDATE B SET B.FlgPNPA='Y' FROM ##AccountCal A INNER JOIN  ##CUSTOMERCAL B 
ON A.CustomerEntityID=B.CustomerEntityID
WHERE A.FlgPNPA='Y' AND (B.FlgProcessing='N')


IF OBJECT_ID('TEMPDB..#TEMPTABLEPNPA') IS NOT NULL
  DROP TABLE #TEMPTABLEPNPA

SELECT A.CustomerEntityID,MIN(A.PNPA_DATE) PNPA_DATE   
	 ,(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@Timekey AND EffectiveToTimeKey>=@Timekey) PNPA_Class_Key
	INTO #TEMPTABLEPNPA   
FROM ##AccountCal A 
INNER JOIN ##CUSTOMERCAL B 
ON A.CustomerEntityID=B.CustomerEntityID
WHERE B.FLGPNPA='Y' AND (B.FLGPROCESSING='N')
GROUP BY A.CustomerEntityID

UPDATE A SET A.PNPA_DT=B.PNPA_DATE
			,A.FlgPNPA ='Y'
			,a.PNPA_Class_Key=b.PNPA_Class_Key
FROM ##CUSTOMERCAL A 
INNER JOIN #TEMPTABLEPNPA B 
ON A.CustomerEntityID=B.CustomerEntityID
	
update a set
		a.PNPA_DATE =b.PNPA_Dt
		,a.FlgPNPA ='Y'
		,a.PnpaAssetClassAlt_key=b.PNPA_Class_Key 
from ##AccountCal a
	inner join ##CUSTOMERCAL b
		on a.CustomerEntityID =b.CustomerEntityID
		AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')
		And b.FlgPNPA='Y'

UPDATE A
	SET a.PNPA_Reason='Link By AccountId' + ' ' + B.CustomerAcID
--SELECT A.PNPA_Reason,B.PNPA_Reason, *  
from ##AccountCal A
INNER JOIN  ##AccountCal B
	ON A.CustomerEntityID =B.CustomerEntityID
	AND A.FlgPNPA ='Y'  AND   A.FlgPNPA ='Y'
	--AND A.CustomerEntityID= 1376663
	AND A.PNPA_Reason IS NULL AND B.PNPA_Reason IS NOT NULL
	AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')



 
/*-------------------UPDATE PNPA FLAG AT UCIF LEVEL------------------------------------------*/
UPDATE B SET B.FlgPNPA='Y' 
FROM ##AccountCal A INNER JOIN  ##CUSTOMERCAL B 
ON A.UcifEntityID=B.UcifEntityID
WHERE A.FlgPNPA='Y' AND (B.FlgProcessing='N')

IF OBJECT_ID('TEMPDB..#CTE_CUSTOMERWISEBALANCEPNPA') IS NOT NULL
  DROP TABLE #CTE_CUSTOMERWISEBALANCEPNPA

SELECT A.UcifEntityID,MIN(A.PNPA_DATE) PNPA_DATE   
	 ,(SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY) PNPA_Class_Key
	INTO #CTE_CUSTOMERWISEBALANCEPNPA   
FROM ##AccountCal A 
INNER JOIN ##CUSTOMERCAL B 
ON A.UcifEntityID=B.UcifEntityID
WHERE B.FLGPNPA='Y' AND (B.FLGPROCESSING='N')
GROUP BY A.UcifEntityID

UPDATE A SET A.PNPA_DT=B.PNPA_DATE
			,A.FlgPNPA ='Y'
			,a.PNPA_Class_Key=b.PNPA_Class_Key
FROM ##CUSTOMERCAL A 
INNER JOIN #CTE_CUSTOMERWISEBALANCEPNPA B 
ON A.UcifEntityID=B.UcifEntityID


update a set
		a.PNPA_DATE =b.PNPA_DATE
		,a.FlgPNPA ='Y'
		,a.PnpaAssetClassAlt_key=b.PNPA_Class_Key 
from ##AccountCal a
	inner join #CTE_CUSTOMERWISEBALANCEPNPA b
		on a.UcifEntityID =b.UcifEntityID
		AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')

update A
	SET a.PNPA_Reason='PERCOLATION BY UCIF ' + ' ' + B.UCIF_ID
FROM ##AccountCal a
	inner join ##AccountCal b
		on a.UcifEntityID =b.UcifEntityID
WHERE b.FlgPNPA='Y' AND A.FlgPNPA='Y'
	AND A.PNPA_Reason IS NULL AND B.PNPA_Reason IS NOT NULL
	AND (ISNULL(A.Asset_Norm,'NORMAL')<>'ALWYS_STD')

--------UPDATE A SET A.PNPA_DATE=B.PNPA_DT FROM PRO.ACCOUNTCAL A INNER JOIN  PRO.CUSTOMERCAL B 
--------ON A.UcifEntityID=B.UcifEntityID
--------WHERE B.FLGPNPA='Y' AND (B.FLGPROCESSING='N')
--------AND A.FlgPNPA='Y' 

------/*----------------UPDATE FOR PnpaAssetClassAlt_key--------------------------------------------------*/
--------UPDATE A SET A.PNPAASSETCLASSALT_KEY=ISNULL(A.PNPAASSETCLASSALT_KEY,1) 
--------	FROM PRO.ACCOUNTCAL A INNER JOIN  PRO.CUSTOMERCAL B 
--------ON A.UcifEntityID=B.UcifEntityID
----------WHERE (B.FLGPROCESSING='N')

------IF OBJECT_ID('TEMPDB..#CTE_CUSTOMERWISEBALANCEPNPA') IS NOT NULL
------   DROP TABLE #CTE_CUSTOMERWISEBALANCEPNPA

------SELECT A.UcifEntityID,SUM(ISNULL(A.BALANCE,0)) BALANCE INTO #CTE_CUSTOMERWISEBALANCEPNPA
------ FROM PRO.ACCOUNTCAL A 
------ INNER JOIN PRO.CUSTOMERCAL B ON A.UcifEntityID=B.UcifEntityID
------WHERE    B.SYSASSETCLASSALT_KEY  IN (1) 
------AND B.FLGDEG<>'Y'
------ AND (ISNULL(B.FLGPROCESSING,'N')='N')    
------ --AND ISNULL(A.FACILITYTYPE,'N')NOT IN('INV','LC','BG')
----------and B.refcustomerid<>'0' 
------GROUP BY A.UcifEntityID

------DECLARE @MoveToDB1 DECIMAL(5,2) =(SELECT cast(RefValue/100.00 as decimal(5,2))FROM PRO.refperiod where BusinessRule='MoveToDB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
------DECLARE @MoveToLoss DECIMAL(5,2)=(SELECT cast(RefValue/100.00 as decimal(5,2)) FROM PRO.refperiod where BusinessRule='MoveToLoss' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)

--------UPDATE  B SET B.PNPA_Class_Key=
--------  (CASE WHEN  ISNULL(B.CurntQtrRv,0)< (ISNULL(C.BALANCE,0) *@MoveToLoss) AND D.AssetClassShortName<>'LOS' THEN   (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='LOS' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
--------       WHEN  ISNULL(B.CurntQtrRv,0) <(ISNULL(B.PrvQtrRV,0) *@MoveToDB1) AND (ISNULL(C.BALANCE,0)<= ISNULL(B.CurntQtrRv,0)) THEN   (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='DB1' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY) 
--------	   ELSE (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
--------   END)

------UPDATE  B SET B.PNPA_Class_Key= (SELECT AssetClassAlt_Key FROM DimAssetClass WHERE AssetClassShortName='SUB' AND EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
------FROM  PRO.AccountCal A 
------INNER JOIN PRO.CustomerCal B ON A.UcifEntityID=B.UcifEntityID
------INNER JOIN #CTE_CustomerWiseBalancePNPA C ON C.UcifEntityID=B.UcifEntityID
------INNER JOIN DimAssetClass D ON D.AssetClassAlt_Key=B.SysAssetClassAlt_Key 
------	AND (D.EffectiveFromTimeKey<=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY)
------WHERE ISNULL(A.Balance,0)>0 AND b.FlgPNPA='Y' AND (ISNULL(B.FlgProcessing,'N')='N')

------UPDATE A SET A.PNPAASSETCLASSALT_KEY=B.PNPA_CLASS_KEY
			  	
------	FROM  PRO.ACCOUNTCAL A 
------INNER JOIN PRO.CUSTOMERCAL B ON A.UcifEntityID=B.UcifEntityID
------	WHERE B.FLGPNPA='Y' 

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_FlgPNPA'

	 DROP TABLE #TEMPTABLEPNPA
	 DROP TABLE #CTE_CUSTOMERWISEBALANCEPNPA 

	 -----------------Added for DashBoard 04-03-2021
--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

END TRY
BEGIN  CATCH
	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='Marking_FlgPNPA'
END CATCH
SET NOCOUNT OFF
END












GO
