USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[Marking_NPA_Reason_NPAAccount]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



/*=========================================
 AUTHER : TRILOKI KHANNA
 CREATE DATE : 27-11-2019
 MODIFY DATE : 27-11-2019
 DESCRIPTION : MARKING OF FLGDEG AND DEG REASON 
 --EXEC [PRO].[Marking_NPA_Reason_NPAAccount]  @TIMEKEY=25140
=============================================*/
CREATE PROCEDURE   [PRO].[Marking_NPA_Reason_NPAAccount]
@TIMEKEY INT
with recompile
AS
BEGIN
    SET NOCOUNT ON 
  BEGIN TRY

DECLARE @PROCESSDATE DATE =(SELECT DATE FROM SYSDAYMATRIX WHERE TIMEKEY=@TIMEKEY)

--UPDATE PRO.ACCOUNTCAL SET NPA_REASON=NULL

--UPDATE A SET a.NPA_Reason='Account Restructured after 01-04-2015'
--FROM PRO.AccountCal A INNER JOIN dbo.AdvAcRestructureDetail B ON A.AccountEntityID=B.AccountEntityId
--AND (B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY)
--INNER JOIN PRO.CustomerCal C ON C.CustomerEntityID=A.CustomerEntityID
--WHERE B.RestructureDt IS NOT NULL AND RestructureDt >'2015-04-01'  AND ISNULL(FinalAssetClassAlt_Key,1)<>1 


/*----REVERSING DEGRADED ACCOUNT THROUGH NORMAL  PROCESS--------------*/
------UPDATE B SET 

------ b.NPA_Reason=(CASE WHEN ISNULL(SDR_INVOKED,'N')='Y' AND   SDR_REFER_DATE >DATEADD(MONTH,-18,@PROCESSDATE) THEN null
------ELSE B.NPA_Reason end)

------FROM  dbo.AdvAcRestructureDetail A INNER JOIN PRO.AccountCal
------ B ON A.AccountEntityId=B.AccountEntityID
------ AND A.EffectiveFromTimeKey<=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY
------ INNER JOIN PRO.CustomerCal C ON C.CustomerEntityID=B.CustomerEntityID
------ WHERE  C.CustomerEntityID  NOT IN(SELECT CustomerEntityID FROM AdvAcProjectDetail WHERE EffectiveFromTimeKey<=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY)
------ AND  A.SDR_REFER_DATE IS NOT NULL   AND ISNULL(FinalAssetClassAlt_Key,1)<>1 

 

UPDATE   A SET  A.NPA_Reason=isnull(A.NPA_Reason,'')+' Degarde Account due to ALWYS_NPA and balance >=0'  
FROM ##ACCOUNTCAL A  INNER JOIN ##CUSTOMERCAL B ON A.CUSTOMERENTITYID =B.CUSTOMERENTITYID
WHERE A.ASSET_NORM='ALWYS_NPA' AND isnull(FinalAssetClassAlt_Key,1)<>1 AND  (B.FLGPROCESSING='N') 

UPDATE A SET A.NPA_Reason= ISNULL(A.NPA_Reason,'')+' DEGRADE BY INT NOT SERVICED'  
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND (A.DPD_INTSERVICE>0))
AND  isnull(a.balance,0) >0  --Added By Prashant---04042025---
 
	UPDATE A SET A.NPA_Reason= ISNULL(A.NPA_Reason,'')+', DEGRADE BY CONTI EXCESS'
	FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
	WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND A.DPD_OVERDRAWN>0)  
	AND  isnull(a.balance,0) >0  --Added By Prashant---04042025---

	UPDATE A SET NPA_Reason= ISNULL(A.NPA_Reason,'')+', DEGRADE BY NO CREDIT'      
	FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
	WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND A.DPD_NOCREDIT>0 ) 
	AND  isnull(a.balance,0) >0  --Added By Prashant---04042025---

	UPDATE A SET A.NPA_Reason= ISNULL(A.NPA_Reason,'')+', DEGRADE BY OVERDUE'            
	FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
	WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND A.DPD_OVERDUE >0)  
			and ISNULL(a.DegReason,'') not like '%NPA Due to overdue – Buyout Portfolio%' 
			AND ISNULL(a.DegReason,'') not like '%NPA with Seller%' -- Buyout changes
			AND  isnull(a.balance,0) >0  --Added By Prashant---04042025---

	UPDATE A SET A.NPA_Reason= ISNULL(A.NPA_Reason,'')+',NPA Due to overdue – Buyout Portfolio'            
	FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
	WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND A.DPD_OVERDUE >0)  
	and a.DegReason like '%NPA Due to overdue – Buyout Portfolio%' -- Buyout changes

------------------------------COMMENTED BY AMAR SIR
	--------UPDATE A SET A.NPA_Reason= CASE WHEN B.NPA_Flag='NPA_VDPD' THEN ',NPA Due to Virtual DPD'            
	--------															WHEN B.NPA_Flag='NPA_SELLER' THEN ',NPA with Seller'   
	--------													ELSE A.NPA_Reason END
	--------FROM PRO.AccountCal A 
	--------INNER JOIN PRO.BuyoutUploadDetailsCal_Hist B ON A.AccountEntityID=B.AccountEntityID
	--------		AND B.EffectiveFromTimeKey<=@TIMEKEY AND B.EffectiveToTimeKey>=@TIMEKEY
	--------WHERE ( isnull(FinalAssetClassAlt_Key,1)<>1  and InitialAssetClassAlt_Key<>1)  


UPDATE A SET A.NPA_Reason= ISNULL(A.NPA_Reason,'')+', DEGRADE BY DEBIT BALANCE '            
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
INNER JOIN DimProduct C ON  A.ProductAlt_Key=C.ProductAlt_Key AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND A.DPD_OVERDUE >0)  
AND A.DebitSinceDt IS NOT NULL --AND ISNULL(C.SrcSysProductCode,'N')='SAVING'

UPDATE A SET NPA_Reason= ISNULL(A.NPA_Reason,'')+', DEGRADE BY STOCK STATEMENT'    
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1 AND A.DPD_STOCKSTMT>0)
AND  isnull(a.balance,0) >0  --Added By Prashant---04042025---

UPDATE A SET A.NPA_Reason= ISNULL(A.NPA_Reason,'')+', DEGRADE BY REVIEW DUE DATE'    
FROM ##ACCOUNTCAL A INNER JOIN ##CUSTOMERCAL B ON A.CustomerEntityID =B.CustomerEntityID
WHERE (B.FlgProcessing='N')  AND ( isnull(FinalAssetClassAlt_Key,1)<>1AND A.DPD_RENEWAL>0)  
AND  isnull(a.balance,0) >0  --Added By Prashant---04042025---


UPDATE A SET A.NPA_REASON=ISNULL(A.NPA_REASON,'')+'DEGARDE BY MOC'
FROM   ##ACCOUNTCAL A INNER JOIN  pro.ChangedMocAclStatus B ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID
AND (B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY)
and a.Asset_Norm='NORMAL'


	UPDATE B SET NPA_Reason='PERCOLATION BY PAN CARD ' + ' '+ A.PANNO 
	  FROM ##CUSTOMERCAL A INNER JOIN ##ACCOUNTCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	 WHERE B.FinalAssetClassAlt_Key>1   AND B.NPA_Reason IS NULL
	 AND A.DEGREASON LIKE '%PERCOLATION BY PAN CARD%' 

	 UPDATE B SET NPA_Reason='PERCOLATION BY AADHAR CARD ' + ' '+ A.AADHARCARDNO 
	  FROM ##CUSTOMERCAL A INNER JOIN ##ACCOUNTCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	 WHERE B.FinalAssetClassAlt_Key>1   AND B.NPA_Reason IS NULL
	 AND A.DEGREASON LIKE '%PERCOLATION BY AADHAR CARD%' 


IF OBJECT_ID('TEMPDB..#TEMPTABLE_PERCOLATION') IS NOT NULL
    DROP TABLE #TEMPTABLE_PERCOLATION

		SELECT A.REFCUSTOMERID AS REFCUSTOMERID,
		       A.CustomerAcID AS CustomerAcID,
			   A.NPA_Reason
		INTO #TEMPTABLE_PERCOLATION
	  FROM ##ACCOUNTCAL  A  
			INNER JOIN ##CUSTOMERCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	WHERE  A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND A.NPA_Reason IS NOT NULL 
	AND A.FinalAssetClassAlt_Key>1
	AND (A.FLGDEG='N')
	ORDER BY A.REFCUSTOMERID
				
	 UPDATE A SET NPA_Reason='Link By AccountId' + ' ' + B.CustomerAcID
	 FROM ##ACCOUNTCAL A INNER JOIN #TEMPTABLE_PERCOLATION B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	 WHERE  A.FinalAssetClassAlt_Key>1 AND A.NPA_Reason IS NULL AND (A.FLGDEG='N')

	 IF OBJECT_ID('TEMPDB..#TEMPTABLE_PERCOLATIONFreshSlipage') IS NOT NULL
    DROP TABLE #TEMPTABLE_PERCOLATIONFreshSlipage

		SELECT A.REFCUSTOMERID AS REFCUSTOMERID,
		       A.CustomerAcID AS CustomerAcID,
			   A.NPA_Reason
		INTO #TEMPTABLE_PERCOLATIONFreshSlipage
	  FROM ##ACCOUNTCAL  A  
			INNER JOIN ##CUSTOMERCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	WHERE  A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND A.NPA_Reason IS NOT NULL 
	AND A.FinalAssetClassAlt_Key>1
	AND (A.FLGDEG='Y')
	ORDER BY A.REFCUSTOMERID
				
	 UPDATE A SET NPA_Reason='Link By AccountId' + ' ' + B.CustomerAcID
	 FROM ##ACCOUNTCAL A INNER JOIN #TEMPTABLE_PERCOLATIONFreshSlipage B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	 INNER JOIN DIMPRODUCT P ON  P.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND P.EFFECTIVETOTIMEKEY>=@TIMEKEY 
	 AND (P.PRODUCTALT_KEY =A.PRODUCTALT_KEY)
	 WHERE  A.FinalAssetClassAlt_Key>1 
		 AND  (isnull(A.DPD_Max,0)<90  OR P.Agrischeme='Y' AND A.DPD_mAX<366)
		 AND (A.FLGDEG='N')--A.NPA_Reason IS NULL AND (A.FLGDEG='N')  As per Mail Changes done by Triloki 25/02/2020

---WRITE OF REASON UPDATED -----
	 UPDATE   A SET  A.NPA_Reason='ALWYS_NPA Due To Writeoff Amount'  
FROM ##ACCOUNTCAL A  INNER JOIN ##CUSTOMERCAL B ON A.CUSTOMERENTITYID =B.CUSTOMERENTITYID
WHERE A.ASSET_NORM='ALWYS_NPA' AND isnull(FinalAssetClassAlt_Key,1)<>1 AND  (B.FLGPROCESSING='N') 
AND A.WriteOffAmount>0 

	-----need to uncomment with credit carad changes deployment
	 --UPDATE   A SET  A.NPA_Reason='NPA DUE TO CREDIT CARD SETTLEMENT'
		--FROM PRO.ACCOUNTCAL A  
		--WHERE A.ASSET_NORM='ALWYS_NPA' AND isnull(FinalAssetClassAlt_Key,1)<>1 
		--AND a.AccountBlkCode2='K'  -- ADDED BY AMAR ON 03033022

IF OBJECT_ID('TEMPDB..#TEMPTABLE_PERCOLATIONWRITEOFF') IS NOT NULL
    DROP TABLE #TEMPTABLE_PERCOLATIONWRITEOFF

		SELECT A.REFCUSTOMERID AS REFCUSTOMERID,
		       A.CustomerAcID AS CustomerAcID,
			   A.NPA_Reason
		INTO #TEMPTABLE_PERCOLATIONWRITEOFF
	  FROM ##ACCOUNTCAL  A  
			INNER JOIN ##CUSTOMERCAL B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	WHERE  A.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND A.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND B.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND B.EFFECTIVETOTIMEKEY>=@TIMEKEY
	AND A.FinalAssetClassAlt_Key>1
	AND (A.FLGDEG='N') and A.WriteOffAmount>0 AND A.NPA_Reason='ALWYS_NPA Due To Writeoff Amount'
	ORDER BY A.REFCUSTOMERID




	UPDATE A SET NPA_Reason='Link By W/o AccountId' + ' ' + B.CustomerAcID
	 FROM ##ACCOUNTCAL A INNER JOIN #TEMPTABLE_PERCOLATIONWRITEOFF B ON A.REFCUSTOMERID=B.REFCUSTOMERID
	 WHERE  A.FinalAssetClassAlt_Key>1 AND A.NPA_Reason <>'ALWYS_NPA Due To Writeoff Amount' AND (A.FLGDEG='N')

	
UPDATE   A SET  A.NPA_Reason=isnull(A.NPA_Reason,'')+' Degarde Account due to ALWYS_NPA and balance >=0'  
FROM ##ACCOUNTCAL A  INNER JOIN ##CUSTOMERCAL B ON A.CUSTOMERENTITYID =B.CUSTOMERENTITYID
WHERE B.ASSET_NORM='ALWYS_NPA' AND isnull(FinalAssetClassAlt_Key,1)<>1 AND  (B.FLGPROCESSING='N') 
And A.NPA_Reason is null 


UPDATE   A SET  A.NPA_Reason=isnull(A.NPA_Reason,'')+' Degarde Account due to ALWYS_NPA and balance >=0'  
FROM ##ACCOUNTCAL A  INNER JOIN ##CUSTOMERCAL B ON A.UcifEntityID =B.UcifEntityID  
WHERE B.ASSET_NORM='ALWYS_NPA' AND isnull(FinalAssetClassAlt_Key,1)<>1 AND  (B.FLGPROCESSING='N') 
And A.NPA_Reason is null And B.UcifEntityID>0

update ##ACCOUNTCAL set NPA_Reason='NPA DUE TO FRAUD MARKING'
Where DegReason like '%Fraud%'


UPDATE   A SET  A.NPA_Reason='PERCOLATION BY UCIC_ID'+B.UCIF_ID  
FROM ##ACCOUNTCAL A  INNER JOIN ##CUSTOMERCAL B ON A.UcifEntityID =B.UcifEntityID  
WHERE  isnull(FinalAssetClassAlt_Key,1)<>1 AND  (B.FLGPROCESSING='N') 
And A.NPA_Reason is null And B.UcifEntityID>0



UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
WHERE RUNNINGPROCESSNAME='Marking_NPA_Reason_NPAAccount'



	--------------Added for DashBoard 04-03-2021
	--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

END TRY
BEGIN  CATCH

UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
WHERE RUNNINGPROCESSNAME='Marking_NPA_Reason_NPAAccount'
END CATCH
SET NOCOUNT OFF
END





GO
