USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[UpdateProvisionKey_AccountWise]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=========================================
AUTHER : TRILOKI KHANNA
CREATE DATE : 27-11-2019
MODIFY DATE : 27-11-2019
DESCRIPTION : UPDATE PROVISION ALT KEY AT ARCCOUNT LEVEL
EXEC [PRO].[UpdateProvisionKey_AccountWise]  @TimeKey=25140
==============================================*/
CREATE PROCEDURE [PRO].[UpdateProvisionKey_AccountWise]
@TimeKey INT
WITH RECOMPILE
AS
BEGIN
    SET NOCOUNT ON
BEGIN TRY 
DECLARE @EXTDATE AS DATE
SELECT @EXTDATE  = DATE FROM SYSDAYMATRIX  WHERE TIMEKEY=@TimeKey 

DECLARE @SubStandard INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE SEGMENT='IRAC' AND PROVISIONNAME='Sub Standard'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @SubStandardInfrastructure INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE SEGMENT='IRAC' AND PROVISIONNAME='Sub Standard Infrastructure'						AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @SubStandardAbinitioUnsecured INT =				(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE SEGMENT='IRAC' AND PROVISIONNAME='Sub Standard Ab initio Unsecured'				    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulI INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE SEGMENT='IRAC' AND PROVISIONNAME='Doubtful-I'										    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulII INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE SEGMENT='IRAC' AND PROVISIONNAME='Doubtful-II'										AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @DoubtfulIII INT =								(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE SEGMENT='IRAC' AND PROVISIONNAME='Doubtful-III'									    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
DECLARE @Loss INT =										(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE SEGMENT='IRAC' AND PROVISIONNAME='Loss'											    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)


--DECLARE @VisionPlus_SUB_0 INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_0'	 AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
--DECLARE @VisionPlus_SUB_1 INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_1'	 AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
--DECLARE @VisionPlus_SUB_2 INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_SUB_2'    AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
--DECLARE @VisionPlus_DB1 INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB1'		  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
--DECLARE @VisionPlus_DB2 INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB2'		  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
--DECLARE @VisionPlus_DB3 INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_DB3'		  AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)
--DECLARE @VisionPlus_LOS INT =	(SELECT PROVISIONALT_KEY FROM DIMPROVISION_SEG WHERE PROVISIONNAME='VisionPlus_LOS'			AND EFFECTIVEFROMTIMEKEY <=@TIMEKEY AND EFFECTIVETOTIMEKEY >=@TIMEKEY)

UPDATE ##ACCOUNTCAL SET PROVISIONALT_KEY=0


/*----------------PROVISION ALT KEY ALL NPA ACCOUNTS--------------------------------*/

UPDATE A SET A.ProvisionAlt_Key=
                (CASE WHEN C.AssetClassShortName='SUB' THEN  @SubStandard--15.0000/15.0000
				      WHEN C.AssetClassShortName='DB1' THEN  @DoubtfulI--25.0000/25.0000
					  WHEN C.AssetClassShortName='DB2' THEN  @DoubtfulII--40.0000/40.0000
					  WHEN C.AssetClassShortName='DB3' THEN  @DoubtfulIII--100.0000/100.0000
					  WHEN C.AssetClassShortName='LOS' THEN  @Loss--100.0000/100.0000
					  ELSE 0
					END)
FROM ##ACCOUNTCAL A 
--INNER JOIN DimSourceDB B  ON A.SourceAlt_Key=B.SourceAlt_Key     AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)  
     AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
--inner JOIN DimProduct	dp
--		on 	(dp.EffectiveFromTimeKey<=@TimeKey AND dp.EffectiveToTimeKey>=@TimeKey)
--		and dp.ProductAlt_Key=a.ProductAlt_Key
WHERE  C.ASSETCLASSGROUP='NPA' and (SecApp ='S' OR AssetClassShortName='LOS')
--WHERE  C.ASSETCLASSGROUP='NPA' and (ProductSubGroup ='SECURED' OR AssetClassShortName='LOS')

UPDATE A 
		SET A.PROVISIONALT_KEY=@SubStandardAbinitioUnsecured
	FROM ##ACCOUNTCAL A 
--INNER JOIN DimSourceDB B  ON A.SourceAlt_Key=B.SourceAlt_Key     AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
     AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  C.ASSETCLASSGROUP='NPA' 
	AND C.AssetClassShortName  IN('SUB') 
	AND A.FlgAbinitio='Y'



/*UPDATE PROISION ALT KEY FOR NPA (SUB) ACCOUNT AS PER SEGMENT UNSCURED - RETAIL, MSME AND MICRO  ON THE BASES OF NPA QTR NO */
/* prepare NPA Qtr No */

DECLARE @CurQtrDate DATE,@LastQtrDate DATE,@LastToLastQtrDate DATE, @LastToLastToLastQtrDate DATE

SELECT @CurQtrDate=CurQtrDate,@LastQtrDate=LastQtrDate,@LastToLastQtrDate=LastToLastQtrDate 
FROM SYSDAYMATRIX WHERE TIMEKEY=@TimeKey

SET @LastToLastToLastQtrDate= EOMONTH(DATEADD(MM,-3,@LastToLastQtrDate))

DROP TABLE IF EXISTS #AC_NPA_QTR_NO

SELECT AccountEntityID,
	CASE WHEN FinalNpaDt  BETWEEN DATEADD(DD,1,@LastQtrDate) AND @CurQtrDate  THEN 1
			 WHEN FinalNpaDt  BETWEEN DATEADD(DD,1,@LastToLastQtrDate) AND @LastQtrDate THEN 2
			 WHEN FinalNpaDt  BETWEEN DATEADD(DD,1,@LastToLastToLastQtrDate) AND @LastToLastQtrDate THEN 3
			ELSE 4  END NPA_QTR_NO
		,seg.AcBuRevisedSegmentCode
		INTO  #AC_NPA_QTR_NO
FROM ##ACCOUNTCAL A
	LEFT join DimAcBuSegment  SEG
		ON SEG.AcBuSegmentCode = A.ActSegmentCode
		AND (SEG.EffectiveFromTimeKey<=@TimeKey AND SEG.EffectiveToTimeKey>=@TimeKey)
	 WHERE FinalAssetClassAlt_Key >1

	 /* UPDATE DEFAULYT QTR NO. 1 FOR MARK PROVISION ALTKEY OF UNSECURED 25% FOR BEOLOW SEGMENT AND UNSECURED PRODUCTS */
	UPDATE A SET NPA_QTR_NO =1 
	FROM #AC_NPA_QTR_NO A 
	WHERE AcBuRevisedSegmentCode IN('Agri-Retail','WCF','Agri-Wholesale','MC','SME','CIB','SCF','FIG')


UPDATE A
	SET A.ProvisionAlt_Key=seg.ProvisionAlt_Key
FROM ##ACCOUNTCAL A 
	INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
		AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
	INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
		AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
	--inner JOIN DimProduct	dp
	--	on 	(dp.EffectiveFromTimeKey<=@TimeKey AND dp.EffectiveToTimeKey>=@TimeKey)
	--	and dp.ProductAlt_Key=a.ProductAlt_Key
	inner JOIN DimProvision_Seg	seg
		on (seg.EffectiveFromTimeKey<=@TimeKey AND seg.EffectiveToTimeKey>=@TimeKey)
		AND seg.Segment=CASE WHEN A.SecApp='U' THEN 'UNSECURED' END -- dp.ProductSubGroup
	INNER JOIN #AC_NPA_QTR_NO NP
		ON NP.AccountEntityID=A.AccountEntityID
		AND NP.NPA_QTR_NO  BETWEEN SEG.LowerDPD AND	SEG.UpperDPD
	WHERE AssetClassShortNameEnum ='SUB'
		and SEG.Segment='UNSECURED' and C.AssetClassGroup='NPA'

/*UPDATE PROISION ALT KEY FOR NPA (DOUBTFUL) ACCOUNT AS PER SEGMENT UNSCURED - RETAIL, MSME AND MICRO  */
UPDATE A
	SET A.ProvisionAlt_Key=seg.ProvisionAlt_Key
FROM ##ACCOUNTCAL A 
	INNER JOIN DimSourceDB B ON A.SourceAlt_Key=B.SourceAlt_Key
		AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
	INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
		AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
	--inner JOIN DimProduct	dp
	--	on 	(dp.EffectiveFromTimeKey<=@TimeKey AND dp.EffectiveToTimeKey>=@TimeKey)
	--	and dp.ProductAlt_Key=a.ProductAlt_Key
	inner JOIN DimProvision_Seg	seg
		on 	(seg.EffectiveFromTimeKey<=@TimeKey AND seg.EffectiveToTimeKey>=@TimeKey)
		AND seg.Segment=CASE WHEN A.SecApp='U' THEN 'UNSECURED' END
		AND SEG.ProvisionShortNameEnum=C.AssetClassShortNameEnum
	where AssetClassShortNameEnum in('DB1','DB2','DB3')  ---AssetClassShortNameEnum ='SUB' Change by Triloki 30/08/2021
		AND SEG.Segment='UNSECURED' 


/* VISION PLUS CREDIT CARD - PROVISION FOR SUB  ON CD BASES */

/* AMAR - ADD ON 17022022  - PROVISION CHANGES */
/* VISION PLUS CREDIT CARD - PROVISION FOR SUB  ON CD BASES */

		--UPDATE A 
		--	SET A.ProvisionAlt_Key= P.ProvisionAlt_Key
		--FROM PRO.AccountCal A 
		--INNER JOIN DimSourceDB B 
		--	ON A.SourceAlt_Key=B.SourceAlt_Key
		--	AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
		--INNER JOIN DimAssetClass C 
		--	ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
		--	AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
		--INNER JOIN DimProvision_Seg P
		--	ON (P.EffectiveFromTimeKey<=@TimeKey AND P.EffectiveToTimeKey>=@TimeKey)
		--	AND P.Segment='CREDIT CARD'
		--	AND P.ProvisionShortNameEnum=C.AssetClassShortNameEnum
		--	AND A.CD BETWEEN LowerDPD AND UpperDPD
		--WHERE B.SourceName='VisionPLUS' and C.AssetClassGroup='NPA'
		--	AND C.AssetClassShortNameEnum='SUB'
		UPDATE A 
			SET A.ProvisionAlt_Key= P.ProvisionAlt_Key
		FROM ##ACCOUNTCAL A 
		INNER JOIN DimSourceDB B 
			ON A.SourceAlt_Key=B.SourceAlt_Key
			AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
		INNER JOIN DimAssetClass C 
			ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
			AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
		INNER JOIN DimProvision_Seg P
			ON (P.EffectiveFromTimeKey<=@TimeKey AND P.EffectiveToTimeKey>=@TimeKey)
			AND P.Segment='CREDIT CARD' 
	    ----Added By Prashant---07062024--------
			AND	ProvisionRule='K/W/E/U/D' AND A.AccountBlkCode2 IN('K','W','E','U','D')
			AND P.ProvisionShortNameEnum=C.AssetClassShortNameEnum
			AND A.DPD_Max BETWEEN LowerDPD AND UpperDPD
		WHERE B.SourceName='VisionPLUS' and C.AssetClassGroup='NPA'
			AND C.AssetClassShortNameEnum='SUB'

		UPDATE A 
			SET A.ProvisionAlt_Key= P.ProvisionAlt_Key
		FROM ##ACCOUNTCAL A 
		INNER JOIN DimSourceDB B 
			ON A.SourceAlt_Key=B.SourceAlt_Key
			AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
		INNER JOIN DimAssetClass C 
			ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
			AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
		INNER JOIN DimProvision_Seg P
			ON (P.EffectiveFromTimeKey<=@TimeKey AND P.EffectiveToTimeKey>=@TimeKey)
			AND P.Segment='CREDIT CARD' 
			----Added By Prashant---07062024--------
			AND ProvisionRule='OTHERS/BLANK' AND ISNULL(A.AccountBlkCode2,'') NOT IN('K','W','E','U','D')
			AND P.ProvisionShortNameEnum=C.AssetClassShortNameEnum
			AND A.DPD_Max BETWEEN LowerDPD AND UpperDPD
		WHERE B.SourceName='VisionPLUS' and C.AssetClassGroup='NPA'
			AND C.AssetClassShortNameEnum='SUB'

	/* VISION PLUS CREDIT CARD - PROVISION FOR DB1,DB2 AND DB3 */
		UPDATE A 
			SET A.ProvisionAlt_Key= P.ProvisionAlt_Key
		FROM ##ACCOUNTCAL A 
		INNER JOIN DimSourceDB B 
			ON A.SourceAlt_Key=B.SourceAlt_Key
			AND B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
		INNER JOIN DimAssetClass C 
			ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1)
			AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
		INNER JOIN DimProvision_Seg P
			ON (P.EffectiveFromTimeKey<=@TimeKey AND P.EffectiveToTimeKey>=@TimeKey)
			AND P.Segment='CREDIT CARD'
			AND P.ProvisionShortNameEnum=C.AssetClassShortNameEnum
		WHERE B.SourceName='VisionPLUS' and C.AssetClassGroup='NPA'
			AND C.AssetClassSubGroup='DOUBTFUL'

		/*FETCH PREV QTR PROVISION FOR VISION PLUS ACCOUNTS*/
		DROP TABLE IF EXISTS #PrvQtrProv
		DECLARE @PrvQtrTimeKey SMALLINT=(SELECT LastQtrDateKey FROM SYSDAYMATRIX WHERE TimeKey=@TimeKey )
		SELECT AccountEntityID,a.ProvisionAlt_Key,b.ProvisionSecured 
			INTO #PrvQtrProv
		FROM PRO.AccountCal_Hist a
			INNER JOIN DimProvision_Seg B
				ON A.ProvisionAlt_Key=B.ProvisionAlt_Key
				AND B.EffectiveFromTimeKey<=@PrvQtrTimeKey AND B.EffectiveToTimeKey>=@PrvQtrTimeKey
				and a.EffectiveFromTimeKey<=@PrvQtrTimeKey and a.EffectiveToTimeKey>=@PrvQtrTimeKey
			and SourceAlt_Key=6 and a.FinalAssetClassAlt_Key>1
			
		 /* COMPARE CURRENT QTR PROV AND PREV QTR PROVISION */
		 UPDATE A
			SET A.ProvisionAlt_Key=CASE WHEN B.ProvisionSecured<C.ProvisionSecured
											THEN C.ProvisionAlt_Key 
										ELSE A.ProvisionAlt_Key
								  END
		 FROM ##ACCOUNTCAL A
			INNER JOIN DimProvision_Seg B
				ON B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey
				AND A.ProvisionAlt_Key =B.ProvisionAlt_Key
			INNER JOIN #PrvQtrProv C
				ON A.AccountEntityID =C.AccountEntityID
			WHERE SourceAlt_Key=6 and a.FinalAssetClassAlt_Key>1
	/* AMAR - ADD ON 17022022  - PROVISION CHANGES */

/* PROVISION FOR STANDARD ACCOUNT */
UPDATE A Set A.ProvisionAlt_Key=(Select ProvisionAlt_Key from DimProvision_SegStd where EffectiveToTimeKey=49999 and ProvisionName='Other Portfolio')
FROM ##ACCOUNTCAL A 
INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=isnull(A.FINALASSETCLASSALT_KEY,1) 
     AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
	 And A.ProvisionAlt_Key=0 
WHERE  C.ASSETCLASSGROUP='STD'




/*RESTR WORK */
	--UPDATE C
	--		SET ProvisionAlt_Key=0
	--	FROM pro.AdvAcRestructureCal A
	--	INNER JOIN DimParameter D ON D.EffectiveFromTimeKey <=@timekey AND D.EffectiveToTimeKey>=@timekey 
	--		AND D.ParameterAlt_Key=A.RestructureFacilityTypeAlt_Key
	--		AND D.DimParameterName='RestructureFacility' 
	--		and d.ParameterShortNameEnum='FITL'
	--	INNER JOIN PRO.ACCOUNTCAL C
	--		ON C.AccountEntityID=A.AccountEntityId


	-----------------------------Dated 10-07-2022---for restructured account provision for FITL Accounts----------------------------------------
		UPDATE C
			SET ProvisionAlt_Key=0
		FROM AdvAcRestructureDetail A
		INNER JOIN DimParameter D ON D.EffectiveFromTimeKey <=@TIMEKEY AND D.EffectiveToTimeKey>=@TIMEKEY 
			AND D.ParameterAlt_Key=A.RestructureFacilityTypeAlt_Key
			AND D.DimParameterName='RestructureFacility' 
			and d.ParameterShortNameEnum='FITL'
		INNER JOIN ##ACCOUNTCAL C
			ON C.AccountEntityID=A.AccountEntityId
			where A.EffectiveFromTimeKey <=@TIMEKEY AND A.EffectiveToTimeKey>=@TIMEKEY 

			-----------------------------------------END---------------------------------------------------------

/* END OF RESTR */

----MANDEEP   FOR PRINCIPALOUTSTANDING <=100  BANKER(SITARAM SIR    Mail Date='21-07-2022' )------------------------------------------------------------------------						
DECLARE @PROV INT=(SELECT ProvisionAlt_Key FROM DimProvision_Seg WHERE ProvisionRule='POS<=100' AND EffectiveFromTimeKey <=@TIMEKEY AND EffectiveToTimeKey>=@TIMEKEY )

UPDATE A SET A.PROVISIONALT_KEY=
	
	(CASE WHEN A.FinalAssetClassAlt_Key=2  THEN @PROV
	      WHEN A.FinalAssetClassAlt_Key IN (3,4) AND A.SecApp='S'  THEN @PROV 
		  Else A.PROVISIONALT_KEY 
	END)

   FROM ##ACCOUNTCAL A 
	INNER JOIN DimAssetClass C ON C.AssetClassAlt_Key=A.FinalAssetClassAlt_Key
	        AND C.AssetClassShortName IN ('SUB','DB1','DB2')
WHERE 
A.PRINCOUTSTD<=100 AND 
A.EffectiveFromTimeKey<=@TimeKey AND A.EffectiveToTimeKey>=@TimeKey
	 ---ALL COUNTS SHOULD BE NPA  IT WILL COVER ONLY(SUBSTANDAR,DOUBTFULL1,DOUBTFULL 2)
	 ---SUBSTANDAR-ALL ACCOUNT   DB1- ONLY SECURED  DB2 -ONLY SECURED	
	 
-------------------------------------------------------------------------------------------------------------------------------------------------
					
								  
UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
WHERE RUNNINGPROCESSNAME='UpdateProvisionKey_AccountWise'

-----------------Added for DashBoard 04-03-2021
--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

END TRY
BEGIN  CATCH
	
UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
WHERE RUNNINGPROCESSNAME='UpdateProvisionKey_AccountWise'

END CATCH
   SET NOCOUNT OFF
END


GO
