USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[UpdateNetBalance_AccountWise]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/*==========================    
AUTHER : TRILOKI KHANNA    
CREATE DATE : 27-11-2019    
MODIFY DATE : 27-11-2019    
DESCRIPTION : UPDATE NET BALANCE ACCOUNT WISE    
--EXEC [dbo].[UpdateNetBalance_AccountWise] @TimeKey=25410       
======================================================*/    
      
CREATE PROCEDURE [PRO].[UpdateNetBalance_AccountWise]        
 @TimeKey int 
 with recompile       
AS       
 BEGIN       
   SET NOCOUNT ON  
 BEGIN TRY        

--UPDATE A         
--SET  
--		NetBalance = (CASE WHEN (isnull(A.Balance,0) - (isnull(A.CoverGovGur,0)+ ISNULL(UnAdjSubSidy,0)+ ISNULL(WriteOffAmount,0))) < 0      
--         THEN 0         
--     	   ELSE (isnull(A.Balance,0) - (isnull(A.CoverGovGur,0)+ ISNULL(UnAdjSubSidy,0)+ ISNULL(WriteOffAmount,0)))  
	         
--     END)        
--FROM PRO.AccountCal A       


UPDATE A         
SET  
		NetBalance = ISNULL(PrincOutStd,0)
		

FROM ##AccountCal A       
INNER JOIN DimAssetClass B ON B.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
     AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
WHERE  B.ASSETCLASSGROUP='NPA'




UPDATE A         
SET  
		NetBalance = 0
		

FROM ##AccountCal A       
	INNER JOIN DimAssetClass B ON B.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
		 AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
	INNER JOIN ExceptionFinalStatusType C ON C.ACID=A.CustomerAcID
		 AND (C.EffectiveFromTimeKey<=@TimeKey AND C.EffectiveToTimeKey>=@TimeKey)
WHERE  B.ASSETCLASSGROUP='NPA' And C.StatusType IN('TWO','WO','Charge Off')

-----------------------------------

UPDATE A         
SET  
		NetBalance = 0
		

FROM ##AccountCal A       
	INNER JOIN DimAssetClass B ON B.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
		 AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
WHERE  B.ASSETCLASSGROUP='NPA' and isnull(WriteOffAmount,0) >0


-------------------------------

UPDATE A         
SET  
		NetBalance = ISNULL(Balance,0)
		

FROM ##AccountCal A       
INNER JOIN DimAssetClass B ON B.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
     AND (B.EffectiveFromTimeKey<=@TimeKey AND B.EffectiveToTimeKey>=@TimeKey)
WHERE  B.ASSETCLASSGROUP<>'NPA'



UPDATE A         
SET  
		NetBalance = 0 
		

FROM ##AccountCal A  where ISNULL(NetBalance,0)<0


---BELOW CODE SHIFTED TO NET BALANCE CALCULATION SP
UPDATE A SET A.AddlProvision=(A.NetBalance * A.AddlProvisionPer)/100
   FROM ##AccountCal A
	WHERE  ISNULL(A.AddlProvisionPer,0)<>0


  UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdateNetBalance_AccountWise'

	
	----------------Added for DashBoard 04-03-2021
	--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'


END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdateNetBalance_AccountWise'
END CATCH
        SET NOCOUNT OFF  
END 









GO
