USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[SecurityAppropriation]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




/*=====================================
AUTHER : TRILOKI KHANNA
CREATE DATE : 27-11-2019
MODIFY DATE : 27-11-2019
DESCRIPTION : Security Appropriation MARKING
EXEC pro.SecurityAppropriation  @TIMEKEY=25410
====================================*/
CREATE PROCEDURE [PRO].[SecurityAppropriation]
@TimeKey INT 
WITH RECOMPILE
AS
  BEGIN
       SET  NOCOUNT ON
        BEGIN TRY
		    
		       
                      
  -----------======================Fetching Security Data from  Customer Table================-----------------                    
                                    
 
----DELETE FROM SecurityDetails WHERE TIMEKEY =@TIMEKEY          
           
----INSERT INTO SecurityDetails          
----(          
----UCIF_ID,          
----TotalSecurity,          
----TIMEKEY          
----)          
----SELECT           
----UCIF_ID,          
----SUM(ISNULL(CurntQtrRv,0))TotalSecurity,          
----@TIMEKEY TIMEKEY          
----FROM           
----PRO.CUSTOMERCAL 
---- where  ISNULL(CurntQtrRv,0)>0                  
----GROUP BY UCIF_ID            
                                
----      /*TempTableForSecurity  being create */                      
                                 
----IF OBJECT_ID('SECURITYDETAIL') IS NOT NULL                      
----DROP  TABLE SECURITYDETAIL                      
                                 
----SELECT UCIF_ID,SUM(ISNULL(TOTALSECURITY,0)) AS TOTALSECURITY INTO SECURITYDETAIL FROM SECURITYDETAILS                       
----WHERE TIMEKEY =@TIMEKEY                     
----GROUP BY UCIF_ID                      
                     
                                                  
----UPDATE  PRO.ACCOUNTCAL SET ApprRV=0                            
                      
                     
----;WITH CTE(UCIF_ID,TOTOSFUNDED)                    
----AS                    
----(                    
----SELECT B.UCIF_ID,SUM(ISNULL(A.NETBALANCE,0)) TOTOSFUNDED FROM  PRO.ACCOUNTCAL A    INNER JOIN PRO.CUSTOMERCAL B
---- ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID                                 
----WHERE A.NETBALANCE>0  
----AND A.FlgAbinitio<>'Y'
----AND A.FinalAssetClassAlt_Key<>6
----AND A.FlgSecured='D'     
----GROUP BY B.UCIF_ID                  
----)                                          
            
----UPDATE D SET D.                                    
----ApprRV= CASE WHEN  ((D.NETBALANCE/A.TOTOSFUNDED)*C.TOTALSECURITY)>D.NETBALANCE THEN D.NETBALANCE       
----ELSE ((D.NETBALANCE/A.TOTOSFUNDED)*C.TOTALSECURITY) END                                           
----from CTE A inner join PRO.CustomerCal B on A.UCIF_ID=B.UCIF_ID                             
----inner join SecurityDetail C on C.UCIF_ID=B.UCIF_ID                    
----INNER JOIN   pro.AccountCal D on D.UCIF_ID=B.UCIF_ID                  
----WHERE c.TotalSecurity>0
----AND D.FlgAbinitio<>'Y'
----AND D.FinalAssetClassAlt_Key<>6
----AND D.FlgSecured='D'
          
DELETE FROM SecurityDetails WHERE TIMEKEY =@TIMEKEY          
           
INSERT INTO SecurityDetails          
(          
REFCustomerId,          
TotalSecurity,          
TIMEKEY          
)          
SELECT           
REFCustomerId,          
SUM(ISNULL(CurntQtrRv,0))TotalSecurity,          
@TIMEKEY TIMEKEY          
FROM           
##CUSTOMERCAL 
 where  ISNULL(CurntQtrRv,0)>0                  
GROUP BY REFCUSTOMERID            
                                
      /*TempTableForSecurity  being create */                      
                                 
IF OBJECT_ID('SECURITYDETAIL') IS NOT NULL                      
DROP  TABLE SECURITYDETAIL                      
                                 
SELECT REFCustomerId,SUM(ISNULL(TOTALSECURITY,0)) AS TOTALSECURITY INTO SECURITYDETAIL FROM SECURITYDETAILS                       
WHERE TIMEKEY =@TIMEKEY                     
GROUP BY REFCustomerId                      
                     
                                                  
UPDATE  ##ACCOUNTCAL SET ApprRV=0                            
                      
                     
;WITH CTE(REFCUSTOMERID,TOTOSFUNDED)                    
AS                    
(                    
SELECT B.REFCUSTOMERID,SUM(ISNULL(A.NETBALANCE,0)) TOTOSFUNDED FROM  ##ACCOUNTCAL A    INNER JOIN ##CUSTOMERCAL B
 ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID                                 
WHERE A.NETBALANCE>0  
AND A.FlgAbinitio<>'Y'
AND A.FinalAssetClassAlt_Key<>6
AND A.FlgSecured='D'     
GROUP BY B.REFCUSTOMERID                  
)                                          
            
UPDATE D SET D.ApprRV=((D.NETBALANCE/A.TOTOSFUNDED)*C.TOTALSECURITY)
--CASE WHEN  ((D.NETBALANCE/A.TOTOSFUNDED)*C.TOTALSECURITY)>D.NETBALANCE THEN D.NETBALANCE       
--ELSE ((D.NETBALANCE/A.TOTOSFUNDED)*C.TOTALSECURITY) END                                           
from CTE A inner join ##CustomerCal B on A.REFCUSTOMERID=B.REFCUSTOMERID                             
inner join SecurityDetail C on C.REFCustomerId=B.REFCUSTOMERID                    
INNER JOIN   ##ACCOUNTCAL D on D.RefCustomerID=B.RefCustomerID                  
WHERE c.TotalSecurity>0
AND D.FlgAbinitio<>'Y'
AND D.FinalAssetClassAlt_Key<>6
AND D.FlgSecured='D'


UPDATE A SET ApprRV=NETBALANCE FROM ##ACCOUNTCAL  A
WHERE A.FlgAbinitio<>'Y'
AND A.FinalAssetClassAlt_Key<>6
AND A.FlgSecured='S'



UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1

	WHERE RUNNINGPROCESSNAME='SecurityAppropriation'

	-----------------Added for DashBoard 04-03-2021
--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1

	WHERE RUNNINGPROCESSNAME='SecurityAppropriation'

END CATCH
   SET  NOCOUNT OFF
END










GO
