USE [RBL_MISDB]
GO
/****** Object:  StoredProcedure [PRO].[UpdateUsedRV]    Script Date: 5/19/2026 5:56:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*=====================================
AUTHER : TRILOKI KHANNA
CREATE DATE : 27-11-2019
MODIFY DATE : 27-11-2019
DESCRIPTION : Update Used RV
EXEC pro.UpdateUsedRV  @TIMEKEY=25410
====================================*/
CREATE PROCEDURE [PRO].[UpdateUsedRV]
@TimeKey INT
with recompile
AS
  BEGIN
     SET NOCOUNT ON
       BEGIN TRY
	    

  
 UPDATE A SET A.USEDRV =0
 FROM ##ACCOUNTCAL A 
 --------INNER JOIN PRO.CUSTOMERCAL B ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID
 --------WHERE ISNULL(B.FLGPROCESSING,'N')='N'


 UPDATE A SET A.USEDRV =(CASE WHEN ISNULL(C.AssetClassShortNameEnum,'STD')='LOS' 
	                                      THEN 0  
	                                 WHEN ISNULL(A.ApprRV,0) >= A.netbalance 
						                  THEN A.netbalance 
							    ELSE ISNULL(A.ApprRV,0) 
						        END)
      
 FROM ##ACCOUNTCAL A 
 ------INNER JOIN PRO.CUSTOMERCAL B ON A.CUSTOMERENTITYID=B.CUSTOMERENTITYID
 INNER JOIN DIMASSETCLASS C ON C.AssetClassAlt_Key=isnull(A.FinalAssetClassAlt_Key,1)
                         AND (C.EFFECTIVEFROMTIMEKEY<=@TIMEKEY AND C.EFFECTIVETOTIMEKEY>=@TIMEKEY)
 ----------WHERE ISNULL(B.FLGPROCESSING,'N')='N'

 

UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='Y',ERRORDATE=NULL,ERRORDESCRIPTION=NULL,COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdateUsedRV'

	-----------------Added for DashBoard 04-03-2021
--Update BANDAUDITSTATUS set CompletedCount=CompletedCount+1 where BandName='ASSET CLASSIFICATION'

END TRY
BEGIN  CATCH

	UPDATE PRO.ACLRUNNINGPROCESSSTATUS 
	SET COMPLETED='N',ERRORDATE=GETDATE(),ERRORDESCRIPTION=ERROR_MESSAGE(),COUNT=ISNULL(COUNT,0)+1
	WHERE RUNNINGPROCESSNAME='UpdateUsedRV'
END CATCH
			
     SET NOCOUNT OFF
END









GO
